<div class="container mt-3">
    <div class="col-lg-9 mx-auto p-0">
        {% if not user.profile.about_html %}
        <div id="no-about" class="bg-border-purple noto p-3 bg-light vivid-purple">
            아직 작성된 소개가 없습니다.
        </div>
        {% endif %}
        <article {% if user == request.user %}id="about"{% endif %} class="article noto">
            {% if user.profile %}
                {{ user.profile.about_html | safe }}
            {% endif %}
        </article>
        {% if user == request.user %}
        <button id="aboutButton" class="btn btn-dark btn-block mt-3 edit" onclick="User.editAbout('{{ request.user.username }}')">편집</button>
        {% endif %}
    </div>
</div>