@import 'mixin';

@keyframes left-in {
    from {
        opacity: 0;
        transform: scale(0.8) translateX(-90%);
    }

    to {
        opacity: 1;
        transform: scale(1) translateX(-90%);
    }
}

@keyframes right-in {
    from {
        opacity: 0;
        transform: scale(0.8) translateX(10%);
    }

    to {
        opacity: 1;
        transform: scale(1) translateX(10%);
    }
}

.box {
    position: relative;
}

.menu {
    position: absolute;
    min-width: 130px;
    z-index: 5;

    &.left {
        transform: translateX(-90%);
        animation: left-in 0.2s ease;
    }

    &.right {
        transform: translateX(10%);
        animation: right-in 0.2s ease;
    }

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);

    :global(body.dark) & {
        background-color: $COLOR_DARK_BACKGROUND;
        box-shadow: none;
        border: 1px solid #333;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            padding: 8px 12px;
            width: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #333 !important;

            :global(body.dark) & {
                color: #eee !important;
            }

            &.disable {
                opacity: 0.3;
            }

            &:first-child {
                border-radius: 5px 5px 0 0;
            }

            &:last-child {
                border: none;
                border-radius: 0 0 5px 5px;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #ccc;

                :global(body.dark) & {
                    border-bottom: 1px solid #333;
                }
            }

            &:hover {
                background-color: #eee;

                :global(body.dark) & {
                    background-color: #666;
                }
            }
        }
    }
}

.button {
    display: flex;
    align-items: center;
    min-width: 20px;
    border: none;
    background: none;
    text-align: center;
    white-space: nowrap;
    @include COLOR_DARK;
}