<ul class="pagination justify-content-center mt-4">
    {% if pageposts.has_previous %}
    <li class="page-item"><a class="page-link" href="?sort={{sort}}&page={{ pageposts.previous_page_number }}">&lt;</a></li>
        {% if pageposts.number|add:-2 >= 1 %}
        <li class="page-item"><a class="page-link" href="?sort={{sort}}&page={{ pageposts.number | add:-2 }}">{{ pageposts.number | add:-2 }}</a></li>
        {% endif %}
    <li class="page-item"><a class="page-link" href="?sort={{sort}}&page={{ pageposts.number | add:-1 }}">{{ pageposts.number | add:-1 }}</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">&lt;</a></li>
    {% endif %}
    <li class="page-item disabled"><a class="page-link" href="#">{{ pageposts.number }}</a></li>
    {% if pageposts.has_next %}
    <li class="page-item"><a class="page-link" href="?sort={{sort}}&page={{ pageposts.number | add:1 }}">{{ pageposts.number | add:1 }}</a></li>
        {% if not pageposts.number|add:2 > pageposts.paginator.num_pages %}
        <li class="page-item"><a class="page-link" href="?sort={{sort}}&page={{ pageposts.number | add:2 }}">{{ pageposts.number | add:2 }}</a></li>
        {% endif %}
    <li class="page-item"><a class="page-link" href="?sort={{sort}}&page={{ pageposts.next_page_number }}">&gt;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">&gt;</a></li>
    {% endif %}
</ul>