.list {
    margin: 24px 0;
    padding: 32px 0 8px;
    display: flex;
    justify-content: space-between;
    word-break: keep-all;
    border-top: 1px solid #333;
    gap: 24px;

    .image {
        order: 1;
        width: 180px;
        height: 180px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 16px;
        }
    }

    .content {
        flex: 1;
    }

    .description {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        a {
            color: #777;
        }
    }

    @media (max-width: 678px) {
        flex-direction: column;

        .image {
            order: 0;
            width: 100%;
            height: 220px;
        }
    }
}