@import 'mixin';

.series {
    cursor: pointer;

    &::before {
        display: block;
        content: attr(data-label);
        color: $COLOR_DEFAULT_POINT;
        letter-spacing: -1px;
    }

    &::after {
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background: $COLOR_DEFAULT_POINT;
        margin: 15px 0 10px 0;
    }
}

.post-info {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #eee;

    a {
        color: inherit;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: .825rem;
        font-weight: 600;
    }
}

.full-cover {
    position: relative;
    margin-top: -120px;
    margin-bottom: 60px;
    height: 100vh;
    width: 100%;

    @media only screen and (max-width: 991px) {
        margin-top: -100px;
    }

    .inner {
        position: absolute;
        top: 100px;
        left: 100px;
        right: 100px;
        bottom: 100px;

        @media only screen and (max-width: 991px) {
            top: 30px;
            left: 30px;
            right: 30px;
            bottom: 30px;
        }
    }

    .container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        word-break: keep-all;
        overflow-wrap: anywhere;

        color: #fff;

        h1 {
            font-family: $FONT_GOTHIC;
            font-weight: bold;
            letter-spacing: -2px;
            font-size: 4rem;
            max-width: 700px;

            @media only screen and (max-width: 991px) {
                font-size: 3rem;
            }
        }

        time {
            font-size: .8rem;
            color: #aaa;
        }
    }

    .ad {
        position: absolute;
        background: rgba(0, 0, 0, 0.89);
        border-radius: 4px;
        color: #ccc;
        padding: 4px 8px;
        right: 24px;
        bottom: 24px;

        @media only screen and (max-width: 991px) {
            right: 16px;
            bottom: 16px;
        }
    }
}

.image-cover {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
    }
}

.no-cover {
    position: relative;
    width: 100%;
    margin: -120px 0 60px;
    padding: 160px 0 60px;
    word-break: keep-all;
    overflow-wrap: anywhere;
    background: #000;

    h1 {
        font-family: $FONT_GOTHIC;
        font-weight: bold;
        letter-spacing: -2px;
        font-size: 2.5rem;
        color: #eee;

        :global(body.dark) & {
            color: #eee;
        }

        @media only screen and (max-width: 991px) {
            font-size: 2rem;
        }
    }

    time {
        font-size: .8rem;
        color: #aaa;
    }
}