<style>
.post-info {
    list-style: none;
    padding-left: 0px;
}
.post-info li {
    display: inline-block;
    margin: 5px;
}
</style>
<div>
    <ul class="list-group">
        {% for post in elements %}
        <li id="post-{{ post.pk }}" class="card p-3 mb-2">
            <p><a class="deep-dark" href="{% url 'post_detail' username=post.author url=post.url %}">{{ post.title }}</a></p>
            <ul class="post-info">
                <li><a class="element-lock" href="javascript:setting.posts.lock({{ post.pk }})"><i id="lock-{{ post.pk }}" class="fas fa-lock{% if not post.hide %}-open{% endif %}"></i></a></li>
                <li><a class="text-dark" href="{% url 'post_edit' pk=post.pk %}"><i class="far fa-edit"></i></a></li>
                <li><a class="text-dark" href="javascript:setting.posts.remove({{ post.pk }})"><i class="far fa-trash-alt"></i></a></li>
                <li>|</li>
                <li><i class="far fa-eye"></i> <span class="ns">(Today : {{ post.today }}, Yesterday : {{ post.yesterday }}, Total : {{ post.total|add:post.today|add:post.yesterday }})</span></li>
                <li><i class="far fa-thumbs-up"></i> {{ post.total_likes }}</li>
                <li><i class="far fa-comment"></i> {{ post.comments.count }}</li>
                <li><i class="fas fa-chart-line"></i> {{ post.trendy }}</li>
            </ul>
            <form>
                <div class="input-group mt-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">TAG</div>
                    </div>
                    <input type="text" name="tag" value="{{post.tag}}" class="form-control" maxlength="255">
                    <button type="button" class="btn btn-dark" onclick="setting.posts.changeTag({{ post.pk }})">
                        변경
                    </button>
                </div>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% include 'board/common/include/pagenation.html' %}
</div>