<div class="blex-card" data-aos="fade-down">
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark text-white">
            <b>Series</b>
        </li>
        {% for item in series %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><a class="deep-dark noto" href="{{ item.get_absolute_url }}">{{ item.name }} <span class="vs">{{ item.posts | length }}</span></a></span>
            <small>
                <a class="deep-dark pl-2" href="javascript:void(0)" onclick="Series.edit({{ item.pk }})"><i class="far fa-edit"></i></a>
                <a class="deep-dark pl-2" href="javascript:void(0)" onclick="Series.remove({{ item.pk }})"><i class="far fa-trash-alt"></i></a>
            </small>
        </li>
        {% endfor %}
    </ul>
    <div class="p-3">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                {{ s_form.name }}
                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-dark">새 시리즈 만들기</button>
                </div>
            </div>
        </form>
    </div>
</div>