<div class="blex-card" data-aos="fade-down">
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark text-white">
            <b>Series</b>
        </li>
        {% for name in series %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="deep-dark noto" href="{{ name.get_absolute_url }}">{{ name }}</a>
            <small>{{ name.posts.count }} <i class="fas fa-book-open"></i></small>
        </li>
        {% endfor %}
    </ul>
    <div class="p-3">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                {{ s_form.name }}
                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-dark">새 시리즈 만들기</button>
                </div>
            </div>
        </form>
    </div>
</div>