{% extends 'board/base.html' %}

{% block title %}{{ thread.title }} –
{% if thread.allow_write %}{{ site_title }}{% else %}{{ thread.author.username }}{% endif %}{% endblock %}

{% block seo %}
<meta name="description" content="{{ thread.story.first.text_html | striptags | truncatewords:50 }}">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta property="og:title" content="{{ thread.title | truncatewords:20 }}">
<meta property="og:description" content="{{ thread.story.first.text_html | striptags | truncatewords:50 }}">
<meta property="og:site_name" content="{{ site_title }}">
{% if thread.image %}
<meta property="og:image" content="{{ thread.image.url }}">{% endif %}
<meta property="og:locale" content="ko_KR">
<meta property="article:author" content="{% if thread.allow_write %}{{ site_title }}{% else %}{{ thread.author.username }}{% endif %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ thread.title | truncatewords:20 }}">
<meta name="twitter:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta name="twitter:description" content="{{ thread.story.first.text_html | striptags | truncatewords:50 }}">
{% if thread.image %}
<meta name="twitter:image" content="{{ thread.image.url }}">{% endif %}
{% endblock %}

{% block content %}
<div class="col-lg-12 px-0">
    <div class="text-center mt-5 {% if not thread.image %}pt-5{% endif %}">
        <a id="thread-bookmark" href="javascript:void(0)" onclick="Thread.bookmark({{ thread.pk }})">
            <i class="{% if check_bookmark %}fas{% else %}far{% endif %} fa-bookmark"></i>
        </a>
        <h1 class="post-headline">{{ thread.title }}</h1>
        <p class="post-date">{{ thread.created_date | timesince }}전{% if thread.stories.first %} 새로운 스토리가 추가됨{% else %} 생성됨{% endif %}</p>
        {% if thread.author == request.user %}
        <a class="btn btn-dark" href="javascript:void(0)" onclick=Thread.edit({{ thread.pk }})>수정</a>
        <a class="btn btn-dark" href="javascript:void(0)" onclick=Thread.remove({{ thread.pk }})>삭제</a>
        {% endif %}
    </div>
</div>
<div class="col-lg-8 mx-auto mt-5 px-0">
  {% if thread.description or thread.image %}
  <div id="story-pin" class="card story-card noto">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <a href="{% url 'user_profile' username=thread.author %}">
            {% if thread.author.profile.avatar %}
            <div class="back-image thumb comment-thumb" style="background-image:url({{ thread.author.profile.avatar.url }})"></div>
            {% else %}
            <div class="back-image thumb comment-thumb" style="background-image:url({{static_url}}/assets/images/default-avatar.jpg)"></div>
            {% endif %}
          </a>
          <div>
            <div class="h6 noto story-title m-0">{{ thread.title }}</div>
            <div class="h7"><a href="{% url 'user_profile' username=thread.author %}" class="text-muted text-decoration-none">@{{ thread.author }}</a></div>
          </div>
        </div>
        <div>
          <div class="text-muted h7 mb-2"> <i class="fas fa-thumbtack"></i> 고정됨</div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="article">
        {% if thread.image %}
          <img {% if thread.description %}style="margin-bottom:20px"{% endif %} src="{{ thread.image.url }}" alt="{{ thread.title }}">
        {% endif %}
        {% if thread.description %}
          {{ thread.description|linebreaks }}
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
{% if thread.allow_write or thread.author == request.user %}
  {% if request.user.is_active %}
  <form id='image-form' enctype='multipart/form-data'>
    <input name="image" type="file" accept="image/*" style="display: none;" />
  </form>
  <form id="story-form" method="thread">
    <div class="card story-card">
      <div class="card-header noto">
        새로운 스토리 작성
      </div>
      <div class="card-body">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" onclick="Story.write({{ thread.pk }})" class="btn btn-dark">스토리 작성</button>
        <button id="image-upload-button" type="button" class="btn btn-dark">이미지 업로드</button>
      </div>
    </div>
  </form>
    {% else %}
  <div class="bg-border-purple vivid-purple noto p-3">
    {% csrf_token %}
    로그인 후 스토리를 작성할 수 있습니다.
  </div>
    {% endif %}
  {% else %}
  <div class="bg-border-purple vivid-purple noto p-3">
    참여할 수 없는 스레드입니다.
  </div>
  {% endif %}
  <article id="story" class="noto mt-3">
    {% for story in story_page %}
    <div id="story-{{ story.pk }}">
      {% include 'board/thread/include/story.html' %}
    </div>
    {% empty %}
    <div id="story-empty" class="bg-border-purple vivid-purple noto p-3">
      작성된 스토리가 없습니다.
    </div>
    {% endfor %}
  </article>
</div>
{% endblock %}

{% block footer%}
{% include 'board/common/include/footer.html' %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ static_url }}/assets/library/prism.js"></script>
<script type="text/javascript" src="{{ static_url }}/assets/library/autolink.js"></script>
<script>
  autolink($('#story-pin'));
</script>
<script src="{{ static_url }}/assets/library/InfiniteScroll.js?{{ static_version }}"></script>
<script type="text/javascript">
  var postWrapperId = 'story';
  var paginatePath = '{{ request.get_full_path }}?page=';
  var lastPage = {{ story_page.paginator.num_pages }};
  new InfiniteScroll(paginatePath, postWrapperId, lastPage);
</script>
{% endblock %}