{% extends 'board/base.html' %}

{% block title %}{% if story_detail %}{{ story.title }}{% else %}{{ thread.title }}{% endif %}{% if story_detail %} — {{ story.author }}{% endif %}{% endblock %}

{% block seo %}
{% if story_detail %}
<meta name="description" content="{{ story.text_html | striptags | truncatewords:50 }}">{% else %}
<meta name="description" content="{{ thread.description | striptags | truncatewords:50 }}">{% endif %}
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
{% if story_detail %}
<meta property="og:title" content="{{ story.title | truncatewords:20 }}">{% else %}
<meta property="og:title" content="{{ thread.title | truncatewords:20 }}">{% endif %}
{% if story_detail %}
<meta property="og:description" content="{{ story.text_html | striptags | truncatewords:50 }}">{% else %}
<meta property="og:description" content="{{ thread.description | striptags | truncatewords:50 }}">{% endif %}
{% if thread.image %}
<meta property="og:image" content="{{ thread.image.url }}">{% endif %}
<meta property="og:locale" content="ko_KR">
<meta property="article:author" content="{% if thread.allow_write %}{{ site_title }}{% else %}{{ thread.author.username }}{% endif %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ site_url }}{{ request.get_full_path }}">
{% if story_detail %}
<meta name="twitter:title" content="{{ story.title | truncatewords:20 }}">{% else %}
<meta name="twitter:title" content="{{ thread.title | truncatewords:20 }}">{% endif %}
{% if story_detail %}
<meta name="twitter:description" content="{{ story.text_html | striptags | truncatewords:50 }}">{% else %}
<meta name="twitter:description" content="{{ thread.description | striptags | truncatewords:50 }}">{% endif %}
{% if thread.image %}
<meta name="twitter:image" content="{{ thread.image.url }}">{% endif %}
{% if thread.hide %}<meta name="referrer" content="no-referrer" />{% endif %}
{% endblock %}

{% block body-class %}thread-body{% endblock %}

{% block content %}
<style>
#top-nav { display: none; }
</style>
<div class="thread-sidebar">
  <a class="story-read c-pointer" data-href="{{ thread.get_absolute_url }}">
    {% if thread.image %}
    <img src="{{ thread.image.url }}" alt="{{ thread.title }}">
    {% endif %}
    <h1 class="title serif">{{ thread.title }}</h1>
  </a>
  <ul class="noto">
  {% for story in thread.stories.all %}
    <li class="story-read {% if request.get_full_path == story.get_absolute_url %}active{% endif %}" data-href="{{ story.get_absolute_url }}">{{ forloop.revcounter }}. {{ story.title }}</li>
  {% empty %}
  {% if thread.write_allow or request.user == thread.author %}
    <li onclick="Story.create({{ thread.pk }})">새로운 스토리 작성</li>
  {% else %}
    <li>작성된 스토리 없음</li>
  {% endif %}
  {% endfor %}
  </ul>
</div>
<div class="top-menu closer">
  <i class="fas fa-chevron-left"></i>
</div>
<div class="top-menu home">
  <i class="fas fa-home"></i>
</div>
<div id="thread-detail" class="col-lg-8 px-0 noto mx-auto">
  <div id="content">
  {% if not story_detail %}
    {% include 'board/thread/include/pinned.html' %}
  {% else %}
    {% include 'board/thread/include/story.html' %}
  {% endif %}
  {% csrf_token %}
  </div>
</div>
{% endblock %}

{% block footer%}
{% include 'board/common/include/footer.html' %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ static_url }}/assets/library/prism.js"></script>
<script type="text/javascript" src="{{ static_url }}/assets/library/autolink.js"></script>
{% endblock %}