$COLOR_DEFAULT_PRIMARY: #8C00FF;
$COLOR_DEFAULT_SECONDARY: #A076F1;
$COLOR_DEFAULT_POINT: #ffdd00;
$COLOR_DEFAULT_BACKGROUND: #FFFFFF;

$COLOR_DARK_PRIMARY: scale-color($COLOR_DEFAULT_PRIMARY, $lightness: +50%);
$COLOR_DARK_SECONDARY: $COLOR_DEFAULT_SECONDARY;
$COLOR_DARK_POINT: $COLOR_DEFAULT_POINT;
$COLOR_DARK_BACKGROUND: #1E1E1E;

$COLOR_DEFAULT_DARK: rgba(0, 0, 0, 0.839);
$COLOR_DEFAULT_ASHGRAY: rgba(0, 0, 0, 0.541);
$COLOR_DEFAULT_GRAY: rgba(160, 160, 160, 0.541);

$COLOR_DARK_DARK: rgba(255, 255, 255, 0.839);
$COLOR_DARK_ASHGRAY: rgba(255, 255, 255, 0.541);

$COLOR_BACKGROUND: (
    'default': #FFF,
    'dark': #1E1E1E,
);
$COLOR_CARD: (
    'default': #F5F5F8,
    'dark': #2A2A2A,
);
$COLOR_PRIMARY: (
    'default': $COLOR_DEFAULT_PRIMARY,
    'dark': $COLOR_DARK_PRIMARY,
);
$COLOR_SECONDARY: (
    'default': $COLOR_DEFAULT_SECONDARY,
    'dark': $COLOR_DARK_SECONDARY,
);
$COLOR_POINT: (
    'default': $COLOR_DEFAULT_POINT,
    'dark': $COLOR_DARK_POINT,
);
$COLOR_DARK: (
    'default': $COLOR_DEFAULT_DARK,
    'dark': $COLOR_DARK_DARK,
);
$COLOR_ASHGRAY: (
    'default': $COLOR_DEFAULT_ASHGRAY,
    'dark': $COLOR_DARK_ASHGRAY,
);
$COLOR_GRAY: (
    'default': $COLOR_DEFAULT_GRAY,
    'dark': $COLOR_DEFAULT_GRAY,
);
