$MARGIN_SIZE_0: 0;
$MARGIN_SIZE_1: 4px;
$MARGIN_SIZE_2: 8px;
$MARGIN_SIZE_3: 16px;
$MARGIN_SIZE_4: 24px;
$MARGIN_SIZE_5: 48px;

$marginSizes : (0: $MARGIN_SIZE_0,
    1: $MARGIN_SIZE_1,
    2: $MARGIN_SIZE_2,
    3: $MARGIN_SIZE_3,
    4: $MARGIN_SIZE_4,
    5: $MARGIN_SIZE_5,
);