@import 'var';

.box {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0 -15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.78);
    border-bottom: 1px solid #F5F5F8;
    backdrop-filter: blur(8px);

    :global(body.dark) & {
        background: rgba(30, 30, 30, 0.78);
        border-bottom: 1px solid #2A2A2A;
    }
}

.image {
    object-fit: cover;
    border-radius: 100%;
}

.info {
    flex: 1;
    min-width: 0;
    margin-left: 16px;

    .username a {
        text-decoration: none;
        @include COLOR_DARK;
        font-weight: 600;
    }
    
    .bio a {
        text-decoration: none;
        @include COLOR_ASHGRAY;
        margin-bottom: 8px;
    }

    ul {
        margin-bottom: 0;
    }
}
