@import 'mixin';

.image {
    width: 80px;
    height: 80px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
}

.info {
    flex: 1;
    min-width: 0;
    margin-left: 16px;

    .username {
        margin-bottom: 4px;
    }

    .username a {
        text-decoration: none;
        @include COLOR_DARK;
        font-weight: 600;
    }

    .bio a {
        text-decoration: none;
        @include COLOR_ASHGRAY;
    }

    ul {
        margin-bottom: 0;
    }
}