@import 'mixin';

.image {
    width: 80px;
    height: 80px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
}

.info {
    .username {
        margin-bottom: 4px;
    }

    .username a {
        text-decoration: none;
        color: #eee;
        font-weight: 600;
    }

    .bio a {
        text-decoration: none;
        color: #777;
    }

    ul {
        margin-bottom: 0;
    }
}