{% extends 'board/base.html' %}
{% load static %}
{% load island %}
{% load resource %}

{% block title %}{{ author.username }} - BLEX{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% island_css 'styles/post.scss' %}">
{% endblock %}

{% block content %}
{% include 'board/author/components/author_header.html' %}

<div class="max-w-7xl w-full mx-auto px-4 sm:px-6">
    {% with active_tab='overview' %}
        {% include 'board/author/components/tabs_nav.html' %}
    {% endwith %}

    <!-- Single Column Layout for Readers -->
    <div class="max-w-4xl mx-auto mb-20 space-y-10">

        {% include 'board/author/components/readme_section.html' %}

        {% with is_editor_view=False %}
            {% include 'board/author/components/activity_section.html' %}
        {% endwith %}

    </div>
</div>
{% endblock %}
