{% extends 'board/base.html' %}
{% load static %}
{% load island %}
{% load resource %}

{% block title %}{{ author.username }} - {{ site_brand.site_name }}{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% island_css 'styles/post.scss' %}">
{% endblock %}

{% block content %}
{% include 'board/author/components/author_header.html' %}

<div class="max-w-4xl w-full mx-auto px-4 sm:px-6">
    {% with active_tab='overview' %}
        {% include 'board/author/components/tabs_nav.html' %}
    {% endwith %}

    <div class="mb-20">
        <div class="space-y-14">

            {% if user_notices %}
                {% with notices=user_notices %}
                    {% include 'board/author/components/author_notice_list.html' %}
                {% endwith %}
            {% endif %}

            {% include 'board/author/components/readme_section.html' %}

            <!-- Featured Posts Section -->
            {% include 'board/author/components/featured_posts_section.html' %}

            {% with is_editor_view=True %}
                {% include 'board/author/components/activity_section.html' %}
            {% endwith %}

        </div>
    </div>
</div>
{% endblock %}
