@import 'mixin';;

.center, .full, .inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center, .full {
    z-index: 9999;
    position: fixed;
}

.center, .inline {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    @include MAIN_SHADOW;
    @include BACKGROUND;
} 

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);

    :global(body.dark) & {
        background-color: rgba(0, 0, 0, 0.95);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spin 0.75s infinite ease;
    border: 3px solid transparent;
    border-color: $COLOR_DEFAULT_SECONDARY transparent;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
