{% extends 'board/base.html' %}

{% block title %}{{ site_title }} - Notification{% endblock %}

{% block content %}
    <div class="mx-auto col-lg-5 noto bg-border-purple p-3 bg-light vivid-purple">
        '{{ user.first_name }}'님!
        짧았다면 짧았고 길었다면 길었던 시간동안 서비스를 이용해 주셔서 감사합니다.
        회원님을 떠나보내는 것 만큼 아쉬운 순간은 없을것 같습니다. 😥
        서비스에 어떤부분을 개선한다면 회원님이 돌아오실 수 있을까요?
        어떤 의견이던 남겨주세요!
        탈퇴 절차는 완료되었으므로 그냥 종료하셔도 됩니다.
        <form method="POST" action="/opinion">
            {% csrf_token %}
            <textarea name="opinion" class="form-control mt-3" rows="4" maxlength="500" required="" placeholder="의견을 남겨주세요!"></textarea>
            <button type="submit" class="btn btn-dark btn-block mt-3">완료</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% include 'board/common/include/footer.html' %}
{% endblock %}