@import 'mixin';;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px 0;

    @media (max-width:768px) {
        .pages {
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .item {
        position: relative;
        display: inline;
        margin: 10px;
        line-height: 1.6em;
        font-size: 1.025em;

        &.active {
            ::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 100%;
                border: 2px solid #9b59b6;
                width: 30px;
                height: 30px;
                transform: translate(-50%, -50%);

                :global(body.dark) & {
                    border: 2px solid $COLOR_DARK_PRIMARY;
                }
            }
        }
    }

    a.link {
        color: #3a3a3a;

        :global(body.dark) & {
            color: #c7c7c7;
        }

        &:hover {
            color: $COLOR_DEFAULT_PRIMARY;
            text-decoration: none;

            :global(body.dark) & {
                color: $COLOR_DARK_PRIMARY;
            }
        }
    }

    .disabled a.link {
        cursor: default;
        color: #cfcfcf;
        
        :global(body.dark) & {
            color: #555;
        }
    }

    .search {
        display: flex;
        align-items: center;

        input.num {
            background: none;
            border: 1px solid #8e44ad;
            border-radius: 5px;
            padding: 2px;
            width: 50px;

            :global(body.dark) & {
                color: #fff;
                border: 1px solid $COLOR_DARK_PRIMARY;
            }
        }

        button.go {
            margin-left: 4px;
            border: none;
            background: none;
        }

        *:focus {
            outline: none;
        }

        @media (max-width:768px) {
            display: none;
        }
    }
}
