@import 'mixin';

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px 0;

    .pages {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .item {
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        &.active {
            background: #000;

            :global(body.dark) & {
                background: #eee;
            }
        }

        &.disabled {
            cursor: default;
            background: transparent;
        }
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.6em;
        font-size: 1.025em;
        font-weight: 600;
        cursor: pointer;
        width: 30px;
        height: 30px;
        color: #000;

        :global(body.dark) & {
            color: #eee;
        }
    }

    .active .link {
        cursor: default;
        color: #fff;

        :global(body.dark) & {
            color: #555;
        }
    }

    .disabled .link {
        cursor: default;
        color: #ccc;

        :global(body.dark) & {
            color: #555;
        }
    }
}