/.idea
/node_modules
/backend/src/static/images/
/backend/src/static/assets/admin/
/backend/src/static/assets/client/
/backend/src/static/assets/graphene_django/
/frontend/**.env
/backend/**.env

/*.sh
/*.log

DockerfileDev

deploy.overrides.sh

.DS_Store
