/.idea
/node_modules
/backend/src/static/images/
/backend/src/static/admin/
/backend/src/static/islands/
/backend/src/static/graphene_django/
/frontend/**.env
/backend/**.env

/*.sh
/*.log

DockerfileDev

deploy.overrides.sh

.DS_Store
