/.idea
/node_modules
/backend/src/static/images/
/backend/src/static/admin/
/backend/src/static/graphene_django/
/backend/src/static/assets/modules/
/frontend/**.env
/backend/**.env

/*.sh
/*.log

DockerfileDev

deploy.overrides.sh

.DS_Store
