{% extends 'board/base.html' %}

{% block title %}{{ site_title }} - Notification{% endblock %}

{% block content %}
    <div class="mx-auto col-lg-5 noto bg-border-purple p-3 bg-light vivid-purple">
        '{{ user.first_name }}'님의 회원가입을 진심으로 환영합니다! 💜
        입력하신 '{{ user.email }}'로 메일을 발송하겠습니다! 🚀
        보내는 메일은 'im@baejino.com'이며 유사 메일에 유의하시길 바랍니다.
        메일 발송의 지연을 막기 위해서 간소한 형식으로 인증 메일을 발송하고 있으니 양해 부탁드립니다. 😁
        행여나 메일이 도착하지 않는다면 입력하신 메일이 틀리진 않았는지 확인해 주시고,
        입력하신 메일이 맞다면 위 메일로 문의 부탁드립니다. 😥
    </div>
{% endblock %}

{% block footer %}
    {% include 'board/common/include/footer.html' %}
{% endblock %}