<div style="width:100%; margin: 0 auto; background:rgb(250,250,250); text-align: center;">
    <img style="max-width:100%;" src="https://baealex.run.goorm.io/api/blog-together/image/uploads/2019/09/27/geyxjnGjJF.png">

    {% if active_mail %}
    <h2>'{{ to }}'님! 메일을 인증해 주세요!</h2>
    <p><a href="{{ link }}">{{ link }}</a></p>
    <p>7일 이내에 메일을 인증하세요!</p>
    {% endif %}

    {% if comment_notify %}
    <h2>'{{ to }}'님! 댓글이 달렸습니다!</h2>
    <p>'{{ from }}'님께서 <a href="{{ link }}">'{{title}}'</a>에 댓글을 다셨습니다.</p>
    <p>"{{ message }}"</p>
    {% endif%}
</div>