<body style="margin: 0; padding: 0;">
    <table border="1" cellpadding="0" cellspacing="0" width="600px" style="margin: 0 auto;">
        <tr>
            <td align="center">
                <img src="https://static.blex.kr/assets/images/default-post.png" width="600" height="auto" style="display: block;"/>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <h2>'{{ username }}'님! 메일을 인증해 주세요!</h2>
                <p><a href="{{ active_token }}">{{ active_token }}</a></p>
                <p>7일 이내에 인증을 완료해주세요!</p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#2e2e2e" style="padding: 30px 30px 30px 30px;">
                <span style="color:#fff;">Copyright © 2019 BaeJino.</a>
            </td>
        </tr>
    </table>
</body>