{% extends "board/base.html" %}

{% block title %}{{ site_title }} - Login{% endblock %}

{% block content %}
<video class="login-video" autoplay loop muted src="{{ static_url }}/assets/images/login.mp4"></video>
<div class="p-3 col-lg-5 col-md-8 mx-auto login-cover">
    <div class="text-center">
        <div class="login-title">Log In</div>
        <div class="login-desc">{{ site_description }}</div>
    </div>
    {% if error %}
    <div class="alert alert-danger noto" role="alert">{{ error }}</div>
    {% endif %}
    <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
        {% csrf_token %}
        <p><input type="text" name="username" autofocus="" maxlength="254" required="" id="id_username" class="login-form" placeholder="아이디" autocomplete="off"></p>
        <p><input type="password" name="password" id="id_password" required="" class="login-form" placeholder="비밀번호"></p>
        <input type="hidden" id="g-recaptcha" name="g-recaptcha">
        <button type="submit" class="login-button">로그인</button>
    </form>
    <button id="google-login" type="button" class="mt-2 login-button" style="background-color: rgb(46, 119, 255);">
        <i class="fab fa-google"></i> 구글 로그인
    </button>
    <button id="github-login" type="button" class="mt-2 login-button" style="background-color: rgb(72, 31, 94);">
        <i class="fab fa-github"></i> 깃허브 로그인
    </button>
</div>
{% endblock %}

{% block script %}
    {% include 'board/common/include/grecaptcha.html' %}
{% endblock %}