{% extends 'board/base.html' %}

{% block title %}{{ site_title }} - Join us{% endblock %}

{% block content %}
<video class="login-video" autoplay loop muted src="{{ static_url }}/assets/images/login.mp4"></video>
<div class="p-3 col-lg-5 col-md-8 mx-auto login-cover">
    <div class="text-center">
        <div class="login-title">Join Us</div>
        <div class="login-desc">{{ site_description }}</div>
    </div>
    {% if error %}<div class="alert alert-danger noto">{{ error }}</div>{% endif %}
    <form method="post">
        {% csrf_token %}
        <p>{{ form.username }}</p>
        <div id="idCheck" class="noto" role="alert"></div>
        <p>{{ form.password }}</p>
        <p>{{ form.password_check }}</p>
        <p>{{ form.first_name }}</p>
        <p>{{ form.email }}</p>
        <div class="alert alert-warning noto" role="alert">
            {{ form.email.help_text }}
        </div>
        <button type="submit" class="login-button">회원가입</button>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include 'board/common/include/footer.html' %}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
    $('#id_username').focusout(function(){
        if($('#id_username').val() != '') {
            $.ajax({
                url: '{% url 'id_check' %}',
                type: 'POST',
                data: { 'id': $('#id_username').val() },
            }).done(function(data) {
                $('#idCheck').addClass('alert');
                if(data.result == 'ERORR_OVERLAP') {
                    $('#idCheck').removeClass('alert-success');
                    $('#idCheck').addClass('alert-danger');
                    $('#idCheck').text('이미 사용중인 필명입니다!');
                } else {
                    $('#idCheck').removeClass('alert-danger');
                    $('#idCheck').addClass('alert-success');
                    $('#idCheck').text('https://' + window.location.hostname + '/@' + data.name);
                }
            });
        }
    });
</script>
{% endblock %}