{% extends 'board/base.html' %}

{% block title %}{{ site_title }} - Join us{% endblock %}

{% block content %}
<video class="login-video" autoplay loop muted src="{{ static_url }}/assets/images/login.mp4"></video>
<div class="p-3 col-lg-5 col-md-8 mx-auto login-cover">
    <div class="text-center">
        <div class="login-title">Join Us</div>
        <div class="login-desc">{{ site_description }}</div>
    </div>
    {% if error %}<div class="alert alert-danger noto">{{ error }}</div>{% endif %}
    <form method="post">
        {% csrf_token %}
        <p id="signup">{{ form.username }}</p>
        <div id="idCheck" class="noto" role="alert"></div>
        <p>{{ form.password }}</p>
        <p>{{ form.password_check }}</p>
        <p>{{ form.first_name }}</p>
        <p>{{ form.email }}</p>
        <div class="alert alert-warning noto" role="alert">
            {{ form.email.help_text }}
        </div>
        <input type="hidden" id="g-recaptcha" name="g-recaptcha">
        <button type="submit" class="login-button">회원가입</button>
    </form>
    <button id="google-login" type="button" class="mt-2 login-button" style="background-color: rgb(46, 119, 255);">
        <i class="fab fa-google"></i> 구글로 시작하기
    </button>
    <button id="github-login" type="button" class="mt-2 login-button" style="background-color: rgb(72, 31, 94);">
        <i class="fab fa-github"></i> 깃허브로 시작하기
    </button>
</div>
{% endblock %}

{% block script %}
    {% include 'board/common/include/grecaptcha.html' %}
{% endblock %}