{% extends "board/base.html" %}

{% block title %}{{ site_title }} - Set Name{% endblock %}

{% block content %}
<video class="login-video" autoplay loop muted src="{{ static_url }}/assets/images/login.mp4"></video>
<div class="p-3 col-lg-5 col-md-8 mx-auto login-cover">
    <div class="text-center">
        <div class="login-title">Set Name</div>
        <div class="login-desc">{{ site_description }}</div>
    </div>
    {% if error %}
    <div class="alert alert-danger noto" role="alert">{{ error }}</div>
    {% endif %}
    <form method="post" action="{% url 'set_username' %}">
        {% csrf_token %}
        <input type="hidden" id="g-recaptcha" name="g-recaptcha">
        <input type="hidden" name="token" value="{{ token }}">
        <p><input type="text" name="username" autofocus="" maxlength="254" required="" id="id_username" class="login-form" placeholder="아이디" autocomplete="off"></p>
        <div id="idCheck" class="noto" role="alert"></div>
        <button id="idButton" type="button" class="login-button">아이디 확인</button>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include 'board/common/include/footer.html' %}
{% endblock %}

{% block script %}
    {% include 'board/common/include/grecaptcha.html' %}
{% endblock %}