@import 'mixin';;

$ITEM_WIDTH: 100px;

.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
    border-bottom: 1px solid #ddd;

    :global(body.dark) & {
        border-bottom: 1px solid #555;
    }

    & > li {
        display: block;
	    margin: 10px 0;
        width: $ITEM_WIDTH;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        & > a {
            @include COLOR_GRAY;
            text-decoration: none;
        }

        &.active, &.active > a {
            @include COLOR_DARK;
            font-weight: bold;
        }
    }
    
    .line {
        position: absolute;
        top: 100%;
        left: 0;
        width: $ITEM_WIDTH;
        pointer-events: none;
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);

        &::after {
            content: '';
            display: block;
            width: 30px;
            margin: 0 auto; 
            height: 2px;
            background: #000;

            :global(body.dark) & {
                background: #fff;
            }
        }
        
        @for $i from 0 to 5 {
            &.active-#{$i} {
                transform: translate3d($i * 100%, 0, 0);
            }
        }

        @media only screen and (max-width: 346px) {
            display: none;
        }
    }
}
