@import 'mixin';;

@keyframes up {
    0% {
        opacity: 0.35;
        transform: translate(-50%, 50%) scale(0.75);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal {
    animation: up 0.4s ease;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: calc(100% - 16px);
    @include BACKGROUND;
    box-shadow: 0 2px 16px 0 hsla(0, 0%, 0%, 0.3);
}

.modal.medium {
    width: 720px;
}

.modal.large {
    width: 960px;
}

.overlay {
    animation: fade-in .5s 1 ease;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.48);
}

.content {
    padding: 15px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.headline {
    border-top: 6px solid $COLOR_DEFAULT_SECONDARY;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    .close {
        font-size: 1.2rem;
        color: #999;
        padding: 0;
        border: none;
        background: none;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;

        &:hover {
            color: #000;
        }
    
        :global(body.dark) & {
            color: #ccc;
    
            &:hover {
                color: #fff;
            }
        }
    }
    
    .title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #555;
        top: 0;
        left: 0;
    
        :global(body.dark) & {
            color: #ccc;
        }
    }
}

.footer {
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.025);
    display: flex;
    justify-content: space-between;
    align-items: center;

    :global(body.dark) & {
        background-color: rgba(255, 255, 255, 0.05);
    }
}
