<div id="series-modal" class="modal fade noto" id="eidtModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'series_update' spk=series.pk %}" method="post">
            <div class="modal-body">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancle</button>
                <button type="submit" class="btn btn-dark">Update</button>
            </div>
            </form>
        </div>
    </div>
</div>