src/mvenv
src/db.sqlite3
src/resources/media
src/resources/staticfiles
src/board/tests
**/node_modules
**/.turbo
islands/**/dist
islands/**/stats.html
islands/**/playwright-report
islands/**/test-results
islands/apps/remotes/styles/fonts/woff
islands/apps/remotes/styles/fonts/woff2/Pretendard-Black.woff2
islands/apps/remotes/styles/fonts/woff2/Pretendard-ExtraBold.woff2
islands/apps/remotes/styles/fonts/woff2/Pretendard-ExtraLight.woff2
islands/apps/remotes/styles/fonts/woff2/Pretendard-Light.woff2
islands/apps/remotes/styles/fonts/woff2/Pretendard-Thin.woff2
**/__pycache__
**/*.pyc
.git
.env
**/.coverage
**/.DS_Store
**/.gitignore
