.layout {
    position: relative;

    textarea {
        width: 100%;
        height: auto;
        border: none;
        font-size: 1.028em;
        font-size: 1.028em;
        line-height: 2;
        word-break: break-all;
        background: none;
        display: block;
        resize: none;
        overflow: hidden;
        top: 0;
        left: 0;
        border: 1px solid #000;
    
        &:focus {
            outline: none;    
        }
    
        :global(body.dark) & {
            color: #ccc;
        }
    }

    & > div {
        cursor: pointer;
        border: 1px solid #eee;
        margin: 8px 0;
    }
}