.tags {
    @media only screen and (max-width: 768px) {
        overflow-x: scroll;
    }

    .category {
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;

        :global(body.dark) & {
            border-bottom: 1px solid #333;
        }

        @media only screen and (max-width: 880px) {
            display: none !important;
        }
    }

    &>ul {
        list-style: none;
        padding-left: 0;

        @media only screen and (max-width: 880px) {
            white-space: nowrap;
        }

        &>li {
            margin: 8px 0;

            @media only screen and (max-width: 880px) {
                margin: 10px 6px;
                display: inline-block;
            }

            a {
                color: #b1b1b1;
                text-decoration: none;

                :global(body.dark) & {
                    color: #727272;
                }

                &.active {
                    color: #000000;

                    :global(body.dark) & {
                        color: #eee;
                    }
                }
            }
        }
    }
}