.container {
    display: flex;
    align-items: center;
    border: 1px solid #e6e6e6;
    padding: 6px 12px;
    border-radius: 5px;
    user-select: none;

    :global(body.dark) & {
        border: 1px solid #363636;
        background: #363636;
    }
}

.input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;

    &[type="textarea"] {
        height: 88px;
        resize: none;
        line-height: 1.75;
    }

    &::placeholder {
        color: #888;
        font-size: 0.9em;
    }

    :global(body.dark) & {
        color: #fff;
    }
}

.icon {
    margin-right: 10px;
    font-size: 18px;
    color: #ccc;
    pointer-events: none;
}