.article { 
    min-width: 100%;
    font-size: 1.028em;
    line-height: 2;
    word-break: break-all;

    * {
        max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.8rem;
        padding: 2em 0 0.5em;
        font-weight: bold;
        font-family: $FONT_GOTHIC;
        font-variant: petite-caps;
        letter-spacing: -1px;
    }

    h1, h2 {
        border-bottom: 4px solid #444;
    }

    h3, h4 {
        font-size: 1.6rem;
        border-bottom: 2px solid #444;
    }

    h5, h6 {
        font-size: 1.4rem;
    }
    
    p, ul, ol, table, div, pre {
        margin: 0 0 1em;
    }

    div {
        p {
            margin: 0;
        }
    }

    ul, ol {
        padding-left: 30px;
    }

    a {
        text-decoration: none;
        color: $COLOR_DEFAULT_PRIMARY;

        body.dark & {
            color: $COLOR_DARK_PRIMARY;
        }
    }

    code {
        color: #000;
        background-color: #eee;
        border-radius: 5px;
        padding: 2px;

        body.dark & {
            color: #fff;
            background-color: #000;
        }
    }

    pre {
        background: #2d2d2d;
        overflow-x: auto;
        font-family: monospace;
        padding: 1em;
        font-size: 1em;
        line-height: 1.5;

        body.dark & {
            background: #000;
        }

        code {
            color: #fff !important;
            background-color: rgba(0, 0, 0, 0);
        }

        a {
            text-decoration: none;
            color: #888;
        }
    }

    .rouge-gutter {
        border-right: 1px solid #888;
    }

    img, video {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }

    blockquote {
        font-style: italic;
        padding: 20px;
        border-left: 3px solid #000;
        background-color: #f5f5f5;
        color: #777;

        p {
            margin-bottom: 0;
        }

        body.dark & {
            color: #ccc;
            background-color: #333;
            border-left: 3px solid #ccc;
        }
    }

    table {
        display: block;
        overflow: auto;
        width: 100%;

        th {
            font-weight: 600;
        }

        th, td {
            word-break: keep-all;
            border: 1px solid #dfe2e5;
            padding: 6px 13px;

            body.dark & {
                border: 1px solid #555;
            }
        }

        tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;

            body.dark & {
                background-color: #222;
            }
    
            &:nth-child(2n) {
                background-color: #f6f8fa;

                body.dark & {
                    background-color: #111;
                }
            }
        }
    }
}
/* ------------------------------ */
/* POSTS : DETAIL : ARTICLE NAVIGATION */
.article-nav {
    font-family: $FONT_GOTHIC;
    top: 15px;
    margin: 15px 0;
    max-height: calc(100vh - 30px);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;        
    }

    &::-webkit-scrollbar-thumb {
        background-color: #eee;
    }

    .title-1 {
        margin-left: 0px;
    }

    .title-2 {
        margin-left: 20px;
    }

    .title-3 {
        margin-left: 50px;
    }

    .title-1::before,
    .title-2::before,
    .title-3::before {
        width: 0px;
    }

    a {
        color: #ccc;
        cursor: pointer;

        body.dark & {
            color: #777;
        }
    }

    a.nav-now {
        color: #000 !important;

        body.dark & {
            color: #fff !important;
        }
    }

    a {
        transition: all 0.3s;
        color: rgba(0, 0, 0, 0.3);
        display: block;
        white-space: nowrap;
        font-size: 14px;
        margin: 3px;

        &:hover {
            color: #777;
            text-decoration: none;
        }
    }
}