/* ------------------------------ */
/* POSTS : DETAIL : ARTICLE NAVIGATION */
.article-nav {
    font-family: $FONT_GOTHIC;
    top: 15px;
    margin: 15px 0;
    max-height: calc(100vh - 30px);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;        
    }

    &::-webkit-scrollbar-thumb {
        background-color: #eee;
    }

    .title-1 {
        margin-left: 0px;
    }

    .title-2 {
        margin-left: 20px;
    }

    .title-3 {
        margin-left: 50px;
    }

    .title-1::before,
    .title-2::before,
    .title-3::before {
        width: 0px;
    }

    a {
        color: #ccc;
        cursor: pointer;

        body.dark & {
            color: #777;
        }
    }

    a.nav-now {
        color: #000 !important;

        body.dark & {
            color: #fff !important;
        }
    }

    a {
        transition: all 0.3s;
        color: rgba(0, 0, 0, 0.3);
        display: block;
        white-space: nowrap;
        font-size: 14px;
        margin: 3px;

        &:hover {
            color: #777;
            text-decoration: none;
        }
    }
}