@import 'var';

@mixin BACKGROUND {
    @each $theme, $color in $COLOR_BACKGROUND {
        :global(body.#{$theme}) & {
            background-color: $color;
        }
    }
}

@mixin CARD_BACKGROUND {
    @each $theme, $color in $COLOR_CARD {
        :global(body.#{$theme}) & {
            background-color: $color;
        }
    }
}

@mixin COLOR_PRIMARY {
    @each $theme, $color in $COLOR_PRIMARY {
        :global(body.#{$theme}) & {
            color: $color;
        }
    }
}

@mixin COLOR_SECONDARY {
    @each $theme, $color in $COLOR_SECONDARY {
        :global(body.#{$theme}) & {
            color: $color;
        }
    }
}

@mixin COLOR_DARK {
    @each $theme, $color in $COLOR_DARK {
        :global(body.#{$theme}) & {
            color: $color;
        }
    }
}

@mixin COLOR_ASHGRAY {
    @each $theme, $color in $COLOR_ASHGRAY {
        :global(body.#{$theme}) & {
            color: $color;
        }
    }
}

@mixin COLOR_GRAY {
    color: $COLOR_DEFAULT_GRAY;
}

@mixin MAIN_SHADOW {
    box-shadow: 0 2px 16px 0 hsla(0, 0%, 0%, 0.1);

    :global(body.dark) & {
        background: rgba(255, 255, 255, 0.025);
        box-shadow: 0 2px 16px 0 hsla(0, 0%, 0%, 0.5);
    }
}

@mixin SUB_SHADOW {
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.1);

    :global(body.dark) & {
        background: rgba(255, 255, 255, 0.025);
        box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.5);
    }
}

@mixin CARD {
    @include MAIN_SHADOW;
    border-radius: 8px;
}

@mixin FLEX_CENTER {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin NONE_LIST {
    list-style: none;
    padding-left: 0;
    display: inline;

    li {
        display: inline-block;
    }
}
