.modal-overlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.48);

    body.dark & {
        background-color: rgba(255, 255, 255, .1);
    }
}

.modal-b {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: calc(100% - 16px);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);

    body.dark & {
        background-color: #000;
    }

    & > * {
        margin-left: 16px;
        margin-right: 16px;
    }

    .content {
        margin: 8px;
        padding: 8px;
        margin-top: 48px;
        max-height: 80vh;
        overflow-y: auto;
    }

    .title {
        margin-top: 16px;
        font-size: 1.2rem;
        color: #555;
        position: absolute;
        top: 0;
        left: 0;

        body.dark & {
            color: #ccc;
        }
    }

    .close-button {
        margin-top: 16px;
        font-size: 1.2rem;
        color: #999;
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            color: #000;
        }

        body.dark & {
            color: #ccc;

            &:hover {
                color: #fff;
            }
        }
    }

    .button {
        margin: 0;
        margin-top: 8px;
        button {
            width: 100%;
            padding: 12px 0;
            border-radius: 0 0 5px 5px;
            background-color: #444;
            font-size: 13pt;
            color: white;
            border: 0;
            cursor: pointer;

            &:hover {
                background-color: #333;
            }

            &:active {
                background-color: #111;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .row-navigator {
        margin: 0;
        background: #f5f5f5;
        border-radius: 0 0 5px 5px;

        body.dark & {
            background: #333;
        }

        ul {
            margin: 0;
            padding: 16px;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li {
                font-size: 1.018em;
                text-align: center;
                cursor: pointer;
                color: #aaa;

                &.active {
                    transition: color .5s;
                    color: #000;

                    body.dark & {
                        color: #fff;
                    }
                }

                i {
                    display: block;
                }
            }
        }
    }
}