@keyframes like-it {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.share {
    text-align:center;
    user-select: none;

    p {
        font-size: 0.95rem;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: inline-block;
            margin-bottom: 15px;
            color: rgba(0,0,0,.33);
            cursor: pointer;

            body.dark & {
                color: #aaa;
            }

            i {
                transition: color 0.2s;
                font-size: 20px;
                
                &.fa-heart.fas {
                    animation: like-it 0.5s ease-out 1;
                    color: $COLOR_DEFAULT_PRIMARY;

                    body.dark & {
                        color: $COLOR_DARK_PRIMARY;
                    }
                }

                &:hover {
                    color: $COLOR_DEFAULT_PRIMARY;

                    body.dark & {
                        color: $COLOR_DARK_PRIMARY;
                    }
                }

                &.fa-facebook:hover {
                    color: #3b5998 !important;
                }

                &.fa-twitter:hover {
                    color: #00acee !important;
                }

                &.fa-pinterest:hover {
                    color: #c51f26 !important;
                }
            }

            span {
                display: none;

                @media only screen and (min-width: 991px) {
                    display: block;
                }
            }
        }
    }
}