a {
    cursor: pointer;
}

.c-pointer {
    cursor: pointer;
}

.none-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.h-150 {
    height: 150px;
}

.m-center {
    margin: 47vh auto;
}

.fade-mask {
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1))
}

.fade-mask, .thick-mask {
    width: 100%;
    height: 100%;
    color: #fff;
}

.none-list {
    list-style: none;
    padding-left: 0;
    display: inline;

    li {
        display: inline-block;
    }
}

.mx-fit {
    margin-left: -15px;
    margin-right: -15px;
}

.fit-cover {
    object-fit: cover;
}

.padding-remove {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.mobile-disable {
    display: none;

    @media only screen and (min-width: 991px) {
        display: block;
    }
}

.pc-disable {
    display: block;

    @media only screen and (min-width: 991px) {
        display: none;
    }
}

.hide {
    display: none;
}

.content {
    margin-top: 120px;
    word-break: break-all;

    @media only screen and (max-width: 991px) {
        margin-top: 80px;
    }
}