a {
    cursor: pointer;
}

.c-pointer {
    cursor: pointer;
}

.none-drag {
    user-select: none;
}

.none-list {
    @include NONE_LIST;

    li {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.fit-cover {
    object-fit: cover;
}

.mobile-disable {
    display: none;

    @media only screen and (min-width: 991px) {
        display: block;
    }
}

.pc-disable {
    display: block;

    @media only screen and (min-width: 991px) {
        display: none;
    }
}

.hide {
    display: none;
}
