$serif: 'Noto Serif KR', serif;
$gothic: -apple-system, BlinkMacSystemFont, 'Noto Sans KR', sans-serif;

$vivid-purple: #8c00ff;
$smooth-purple: #b181da;
$live-purple: #9c56d4;

$vivid-purple-complementary: #03c0e4;
$smooth-purple-complementary: #328899;

$deep-dark: rgba(0, 0, 0, 0.839);
$shallow-dark: rgba(0, 0, 0, 0.541);
$gray-dark:rgba(160, 160, 160, 0.541);

$dark-mode-body-bg: #252525;