$COLOR_DEFAULT_PRIMARY: #8C00FF;
$COLOR_DEFAULT_SECONDARY: #A076F1;
$COLOR_DEFAULT_POINT: #ffdd00;
$COLOR_DEFAULT_BACKGROUND: #FFFFFF;

$COLOR_DARK_PRIMARY: scale-color($COLOR_DEFAULT_PRIMARY, $lightness: +50%);
$COLOR_DARK_SECONDARY: $COLOR_DEFAULT_SECONDARY;
$COLOR_DARK_POINT: $COLOR_DEFAULT_POINT;
$COLOR_DARK_BACKGROUND: #1E1E1E;

$COLOR_DEFAULT_DARK: rgba(0, 0, 0, 0.839);
$COLOR_DEFAULT_ASHGRAY: rgba(0, 0, 0, 0.541);
$COLOR_DEFAULT_GRAY: rgba(160, 160, 160, 0.541);

$COLOR_DARK_DARK: rgba(255, 255, 255, 0.839);
$COLOR_DARK_ASHGRAY: rgba(255, 255, 255, 0.541);

$FONT_SERIF: 'Noto Serif KR', serif;
$FONT_GOTHIC: -apple-system, BlinkMacSystemFont, 'Spoqa Han Sans Neo', sans-serif;

@mixin BACKGROUND {
    background: $COLOR_DEFAULT_BACKGROUND;

    :global(body.dark) & {
        background: $COLOR_DARK_BACKGROUND;
    }
}

@mixin COLOR_PRIMARY {
    color: $COLOR_DEFAULT_PRIMARY;

    :global(body.dark) & {
        color: $COLOR_DARK_PRIMARY;
    }
}

@mixin COLOR_SECONDARY {
    color: $COLOR_DEFAULT_SECONDARY;

    :global(body.dark) & {
        color: $COLOR_DARK_SECONDARY;
    }
}

@mixin COLOR_DARK {
    color: $COLOR_DEFAULT_DARK;

    :global(body.dark) & {
        color: $COLOR_DARK_DARK;
    }
}

@mixin COLOR_ASHGRAY {
    color: $COLOR_DEFAULT_ASHGRAY;

    :global(body.dark) & {
        color: $COLOR_DARK_ASHGRAY;
    }
}

@mixin MAIN_SHADOW {
    box-shadow: 0 2px 16px 0 hsla(0, 0%, 0%, 0.1);

    :global(body.dark) & {
        background: rgba(255, 255, 255, 0.025);
        box-shadow: 0 2px 16px 0 hsla(0, 0%, 0%, 0.5);
    }
}

@mixin SUB_SHADOW {
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.1);

    :global(body.dark) & {
        background: rgba(255, 255, 255, 0.025);
        box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.5);
    }
}

@mixin CARD {
    @include MAIN_SHADOW;
    border-radius: 8px;
}

@mixin FLEX_CENTER {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin NONE_LIST {
    list-style: none;
    padding-left: 0;
    display: inline;

    li {
        display: inline-block;
    }
}