@import 'var';
@import 'animation';
@import 'fonts';
@import 'color';
@import 'article';
@import 'prism';
@import 'useful';

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap.override';
@import 'fontawesome.override';

@import 'snackbar';
@import 'three-dots/sass/three-dots.scss';

#nprogress .bar {
    background: $COLOR_DEFAULT_SECONDARY;
}

.content {
    margin-top: 120px;
    word-break: break-all;

    @media only screen and (max-width: 991px) {
        margin-top: 100px;
    }
}

input, textarea, select {
    font-size: 16px;
}

body.dark {
    img, video {
        filter: brightness(.8) contrast(1.2);
    }
}

mark {
    color: #000;
    background-color: rgb(255, 187, 0);

    body.dark & {
        color: #fff;
        background-color: rgba(255, 187, 0, 0.5);
    }
}

// 각종 섬네일 클랴스 정의
.thumb {
    float: left;
    border-radius: 100%;
    background: #fff;
}

.comment-thumb {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

/* ------------------------------ */
/* HOME : COMMON */

.card-title {
    font-weight: 600;
    letter-spacing: -1px;
    font-variant: petite-caps;
}


/* ------------------------------ */
/* POSTS : DETAIL : COMMON */
.sticky-top-200 {
    top: 200px !important;
}

.sticky-top-100 {
    top: 100px !important;
}

.back-image {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}



/* ------------------------------ */
/* POSTS : DETAIL : NONE TITLE IMAGE */
.post-date {
    font-family: $FONT_GOTHIC;
    font-size: 0.8rem;
}

.post-series {
    display: block;
    font-size: 16px;
    margin-bottom:5px;
}
/* ------------------------------ */
/* SERIES : LAYOUT */
.series-title-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
}
.series-list {
    margin-top: 65vh;
}
.series-list > .col-lg-8 {
    min-height: 150px;
}
.series-list-image {
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 20px;
    border: 1px solid #ccc;
}
.series-list p {
    word-break: break-all;
}
/* ------------------------------ */
/* SETTING */
.setting-info {
    background-color: #fafafa;
    border-radius: 0px 0px 5px 5px;

    body.dark & {
        background-color: #1e1e1e;
    }

    .element-lock {
        .fa-lock {
            color: #b00;
        }

        .fa-lock-open {
            color: #0b0;
        }
    }
}
.setting-body {
    padding-top: 45px;
    background: #f3f3f3;
    min-height: 100vh;

    body.dark & {
        background-color: #333;
    }
}
.setting-user-thumb {
    width: 100%;
    height: 200px;
}
/* ------------------------------ */
/* LOGIN PAGE */
.login-form {
    margin: 4px 0;
    color: #000;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 15px 20px;
    background: #e6e6e6;

    body.dark & {
        color: #fff;
        background: #363636;
    }
}

.login-form:focus {
    outline: none;
}

.login-button {
    margin: 4px 0;
    color: #fff;
    border: none;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px;
    padding: 15px 0;
    background-color: #000;

    &:focus {
        outline: none;
    }

    &.google {
        background-color: rgb(46, 119, 255);
    }

    &.github {
        background-color: rgb(72, 31, 94);
    }
}

.login-hint {
    padding: 0;
    margin: 15px 0 4px 0;
    font-size: 0.9em;
    text-align: center;

    button {
        background: none;
        outline: none;
        border: none;

        color: $COLOR_DEFAULT_ASHGRAY;

        body.dark & {
            color: $COLOR_DARK_ASHGRAY;
        }
    }
}
/* ------------------------------ */
/* DARK THEME MODE */

body.dark .form-control::placeholder {
    color: #ccc;
}

body.dark .alert-dark {
    color: #c4c4c4;
    border-color: #414141;
    background-color: #3f3f3f;
}

body.dark .bg-light, body.dark .btn-dark {
    background-color: #3f3f3f !important;
}

body.dark .series-desc blockquote {
    background: #1e1e1e;
}

body.dark .series-desc blockquote::after {
    border-color: #1e1e1e transparent transparent transparent;
}

body.dark .card {
    border: none;
}

body.dark .card-header,
body.dark .card-footer {
    background: #1d1d1d;
}

body.dark .card-body {
    background: #000000;
}

body.dark .btn {
    color: #fff;
}

.Toastify__toast-container--top-right {
    top: calc(72px + 1em);
    right: 1em;
}

.Toastify__toast--default {
    background: #fff !important;
    color: #555 !important;

    body.dark & {
        background: #000 !important;
        color: #ccc !important;
    }
}

.Toastify__progress-bar {
    height: 3px !important;
}

.Toastify__progress-bar--default {
    background: $COLOR_DEFAULT_PRIMARY !important;

    body.dark & {
        background: $COLOR_DARK_PRIMARY !important;
    }
}

.Toastify__close-button--default {
    body.dark & {
        color: #fff !important;
    }
}

.active-button {
    border: none;
    border-radius: 1em;
    padding: 5px 15px;
    color: #fff;
    background-color: #706fd3;
}

.display-center {
    padding-top: 28vh;
}