@import 'mixin';;

.social {
    list-style: none;
    padding: 0px;
    margin-bottom: 24px;

    li {
        display: inline-block;
        width: 48px;
        height: 48px;

        & > a {
            @include COLOR_ASHGRAY;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            line-height: 0;
            border-radius: 100%;
            position: relative;

            &::after {
                content: attr(data-name);
                color: #eee;
                background: rgba(0, 0, 0, .65);
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -28px;
                z-index: 5;
                width: 64px;
                height: 26px;
                font-size: 12px;
                border-radius: 4px;
                opacity: 0;
                transition: all .2s ease;
                transition-delay: .2s;
                transform: scale(0.8);
            }

            &:hover {
                background: #eee;

                :global(body.dark) & {
                    background: #333;
                }

                &::after {
                    transform: scale(1);
                    opacity: 1;

                }
            }

            & > i {
                font-size: 24px;
            }
        }
    }
}
