@import 'mixin';

.social {
    list-style: none;
    padding: 0px;
    flex-direction: column;
    font-size: 14px;

    a {
        @include COLOR_ASHGRAY;
        display: flex;
        gap: 8px;

        i {
            margin-top: 4px;
        }
    }

    & > li {
        margin-top: 8px;
    }
    
    & > li:not(:last-child) {
        padding-bottom: 8px;
        border-bottom: 1px solid #eee;

        :global(body.dark) & {
            border-bottom: 1px solid #444;    
        }
    }
}
