@import 'var';

.top-nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    @include MAIN_SHADOW;
    @include BACKGROUND;
    transition: transform 0.4s ease;
    transform: translate(0, 0);

    &.isRollup {
        transform: translate(0, -100%);
    }

    .logo {
        :global(body.dark) & {
            border-radius: 4px;
            padding: 4px;
            background: rgba(255, 255, 255, 0.85);
        }

        img {
            width: 30px;
        }
    }

    ul.items {
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        align-items: center;

        & > li {
            display: inline-block;
            margin-left: 20px;
            cursor: pointer;
            color: #555;

            :global(body.dark) & {
                color: #ccc;
            }
        }

        & > li.profile {
            img {
                height: 30px;
                width: 30px;
                border-radius: 100%;
                object-fit: cover;
                margin-right: 5px;
            }
        }

        & > li.notify {
            position: relative;

            & > span {
                position: absolute;
                bottom: 0;
                right: -4px;
                background: crimson;
                border-radius: 100%;
                padding: 0 4px;
                font-size: 8px;
                color: #fff;
            }
        }

        & > li.get-start {
            background: $COLOR_DEFAULT_SECONDARY;
            border-radius: 100px;
            padding: 4px 12px;
            color: #fff !important;
        }
    }
}

.notify-contnet {
    width: 420px;
    padding: 8px;
    border-radius: 8px;
    position: absolute;
    border: 1px solid #eee;
    @include BACKGROUND;
    transform: translate(-50%, 15px);
    transition: opacity 0.5s ease;
    opacity: 0;
    cursor: default;
    pointer-events: none;

    .sync-btn {
        color: #0088cc;
        margin: 4px 0;
        padding: 4px 8px;
        float: right;
        cursor: pointer;
    }

    &.isOpen {
        opacity: 1;
        pointer-events: all;
    }

    @media only screen and (max-width: 600px) {
        transform: translate(0%, 15px);
        position: fixed;
        width: calc(100% - 30px);
        left: 15px;
        right: 15px;
    }
}