@import 'var';

@mixin ACTION_BUTTON {
    position: fixed;
    z-index: 999;
    top: 15px;
    cursor: pointer;

    border-radius: 3px;
    width: 35px;
    height: 35px;
    background-color: #000;

    i {
        font-size: 18px;
        color: #eee;
    }
}

.button {
    @include ACTION_BUTTON;
    @include FLEX_CENTER;
    left: 15px;
}

.search {
    @include ACTION_BUTTON;
    @include FLEX_CENTER;
    left: 15px + 35px + 15px;

    a {
        display: flex;
    }
}

.outer {
    background-color: #000;
    position: fixed;
    z-index: 998;
    box-sizing: border-box;
    max-width: 280px;
    transition: transform 0.5s ease;

    .bottom {
        position: absolute;
    }

    top: 0;
    left: -280px;
    width: 100%;
    height: 100%;
    padding: 65px 15px;

    transform: translateX(0%);

    &.on {
        transform: translateX(100%);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    a {
        color: #000;
    }

    ul.items {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #333;

        li {
            a {
                color: #ccc;
                font-size: 16px;
                line-height: 2;
    
                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
    
    ul.footer {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #333;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        li {
            a {
                cursor: pointer;
                color: #ccc;
                transition: all 0.5s;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}