@import 'var';

@keyframes like-it {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.pc {
    display: none;

    @media only screen and (min-width: 991px) {
        display: block;
    }
}

.m {
    display: block;

    @media only screen and (min-width: 991px) {
        display: none;
    }
}

.actions {
    text-align:center;
    user-select: none;

    p {
        font-size: 0.95rem;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: inline-block;
            margin-bottom: 15px;
            color: rgba(0,0,0,.33);
            cursor: pointer;

            :global(body.dark) & {
                color: #aaa;
            }

            i {
                transition: color 0.2s;
                font-size: 20px;
                
                &:global(.fa-heart.fas) {
                    animation: like-it 0.5s ease-out 1;
                    color: $COLOR_DEFAULT_PRIMARY;

                    :global(body.dark) & {
                        color: $COLOR_DARK_PRIMARY;
                    }
                }

                &:hover {
                    color: $COLOR_DEFAULT_PRIMARY;

                    :global(body.dark) & {
                        color: $COLOR_DARK_PRIMARY;
                    }
                }

                &:global(.fa-facebook:hover) {
                    color: #3b5998 !important;
                }

                &:global(.fa-twitter:hover) {
                    color: #00acee !important;
                }

                &:global(.fa-pinterest:hover) {
                    color: #c51f26 !important;
                }
            }

            span {
                display: none;

                @media only screen and (min-width: 991px) {
                    display: block;
                }
            }
        }
    }
}

.bottom-nav {
    user-select: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(240, 240, 240, 0.77);
    box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.05);

    :global(body.dark) & {
        background: rgba(15, 15, 15, 0.77);
        box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.25);
    }

    .isScrollDown {
        transform: translateY(0px);
    }

    .item {
        padding: 15px;
        font-size: 16px;
        cursor: pointer;

        i {
            transition: color 0.2s;
            
            &:global(.fa-heart.fas) {
                animation: like-it 0.5s ease-out 1;
                color: #eb457c;
            }
        }

        span {
            margin-left: 5px;
        }
    }
}