.split {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;

    img {
        width: 240px;
        max-width: 100%;

        :global(body.dark) & {
            filter: invert(1) hue-rotate(180deg) brightness(.8) contrast(1.2);
        }
    }
    
    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        gap: 24px;
        text-align: center;
        word-break: keep-all;

        p {
          margin: 0;
          color: #666;
          font-size: 16px;
        }
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}
