@import 'mixin';

.layout {
    display: grid;
    grid-template-columns: 320px minmax(0, 1fr);
    gap: $MARGIN_SIZE_5;

    @media (max-width: $BREAKPOINT_DESKTOP) {
        gap: $MARGIN_SIZE_7;
        grid-template-columns: minmax(0, 1fr);
    }
}

.avatar {
    width: 100%;
    text-align: center;

    @media (max-width: $BREAKPOINT_DESKTOP) {
        text-align: left;
    }

    img {
        border: 1px solid #ccc;
        width: 250px;
        height: 250px;
        background: #fff;
        border-radius: 100%;
        margin: 16px 0;
        object-fit: cover;

        @media (max-width: $BREAKPOINT_DESKTOP) {
            width: 100px;
            height: 100px;
            margin: 4px 0;
        }
    
        :global(body.dark) & {
            background: #000;
            border-color: #494949;
        }
    }
}
