@import 'mixin';;

.user {
    margin: 0 auto;
    text-align: center;

    .avatar {
        width: 250px;
        height: 250px;
        background: #fff;
        border-radius: 100%;
        margin: 16px 0;
        object-fit: cover;
    
        body.dark & {
            background: #000;
            border: 1px solid #333;
        }
    }

    .name {
        font-weight: bold;
        font-size: 24px;

        &::before {
            content: "";
            color: rgb(88,43,116);
        }

        &::after {
            content: "";
            color: rgb(28,121,96);
        }
    }

    .username {
        @include COLOR_ASHGRAY;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .bio, .homepage, .divider {
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 24px;
    }

    .divider {
        margin-left: 4px;
        margin-right: 4px;
    }

    .homepage {
        font-weight: bold;
        white-space: nowrap;

        & > a {
            @include COLOR_DARK;
            text-decoration: none;
        }
    }
}
