{% extends 'board/base.html' %}

{% block title %}{{ site_title }} – Search{% endblock %}

{% block seo %}
<meta name="description" content="나를 표현하는 블로그, {{ site_title }}에서 컨텐츠를 검색하세요!">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:title" content="{{ site_title }} – Search">
<meta property="og:description" content="나를 표현하는 블로그, {{ site_title }}에서 컨텐츠를 검색하세요!">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta name = "twitter : card" content="summary"> 
<meta name = "twitter : title" content="{{ site_title }}"> 
<meta name = "twitter : description" content="나를 표현하는 블로그, {{ site_title }}에서 컨텐츠를 검색하세요!"> 
{% endblock %}

{% block content %}
<div class="gcse-searchresults-only"></div>
{% endblock %}

{% block footer%}
    {% include 'board/common/include/footer.html' %}
{% endblock %}

{% block script %}

{% if night_mode %}
<script async src='https://cse.google.com/cse.js?cx=partner-pub-1254068519466911:7886263456'></script>
{% else %}
<script async src="https://cse.google.com/cse.js?cx=partner-pub-1254068519466911:9532536280"></script>
{% endif %}
{% endblock %}