.carousel {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    overflow-y: hidden;

    & > span,
    & > span > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
