.image {
    cursor: pointer;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}

.cover {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.25);
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}