{% extends 'board/base.html' %}

{% block title %}{{ user.username }} – '{{ series.name }}' 시리즈{% endblock %}

{% block seo %}
<meta name="description" content="@{{ user.username }} ({{ user.first_name }})님이 작성한 '{{ series.name }}' 시리즈를 만나보세요!">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:title" content="{{ user.username }} – '{{ series.name }}' 시리즈">
<meta property="og:description" content="@{{ user.username }} ({{ user.first_name }})님이 작성한 '{{ series.name }}' 시리즈를 만나보세요!">
{% if user.profile.avatar %}<meta property="og:image" content="{{ user.profile.avatar.url }}">{% endif %}
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ user.username }} – '{{ series.name }}' 시리즈">
<meta name="twitter:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta name="twitter:description" content="@{{ user.username }} ({{ user.first_name }})님이 작성한 '{{ series.name }}' 시리즈를 만나보세요!">
{% if user.profile.avatar %}<meta property="twitter:image" content="{{ user.profile.avatar.url }}">{% endif %}
{% endblock %}

{% block content %}
{% if series.posts.first.image %}
<div id="series-image" class="back-image series-title-image" style=" background-image: url({{ series.posts.first.image.url }});">
{% else %}
<div id="series-image" class="back-image series-title-image" style=" background-image: url({{ static_url }}/assets/images/default-post.png);">
{% endif %}
    <div class="fade-mask">
    </div>
</div>
<div class="series-list">
    <div class="col-lg-8 mx-auto">
        <h2 class="serif font-weight-bold">
            '{{ series.name }}' 시리즈
        </h2>
        <a class="post-series deep-dark serif font-weight-bold mb-3" href="{% url 'user_profile' username=user.username %}">Created by {{ user.username }}</a>
        {% if series.owner == request.user %}
        <div class="mb-3">
            <a class="btn btn-dark" href="javascript:void(0)" onclick="Series.edit({{ series.pk }})">수정</a>
            <a class="btn btn-dark" href="javascript:void(0)" onclick="Series.remove({{ series.pk }})">삭제</a>
        </div>
        {% endif %}
        {% if series.description %}
        <div class="series-desc mb-4">
            <blockquote class="noto">
                {{ series.description }}
            </blockquote>
            <div class="author">
                <a href="{% url 'user_profile' username=series.owner %}"><img src="{{ user.profile.thumbnail }}" /></a>
            </div>
        </div>
        {% endif %}
        {% for post in series.posts.all %}
        <div class="mb-5">
            <h5 class="card-title serif font-weight-bold"><a class="deep-dark" href="{% url 'post_detail' username=post.author url=post.url %}">{{ forloop.counter }}. {{ post.title | truncatechars:50 }}</a></h5>
            <p><a class="shallow-dark noto" href="{% url 'post_detail' username=post.author url=post.url %}">{{ post.text_html | striptags | truncatewords:50 }}</a></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer%}
    {% include 'board/common/include/footer.html' %}
{% endblock %}

{% block script %}
{% if series.owner == request.user %}
<script>
    $(document).ready(function () {
        var screenHeight = $(window).height();
        $(window).scroll(function () {
            var screenPosition = $(this).scrollTop();
            $('#series-image').css('opacity', (screenHeight-screenPosition)/screenHeight);
        });
    });
</script>
{% endif %}
{% endblock %}