@keyframes snack-bar-slide {
    0% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }

    10% {
        opacity: 1;
        transform: translate(-50%, 0%);
    }

    90% {
        opacity: 1;
        transform: translate(-50%, 0%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
}

.snackbar-container {
    position: fixed;
    z-index: 1001;
}

.snack-bar {
    pointer-events: none;
    position: fixed;
    box-sizing: border-box;
    width: 500px;
    border-radius: 16px 16px 0 0;
    max-width: 100%;
    bottom: 0;
    left: 50%;
    padding: 16px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    transform: translate(-50%, 100%);
    animation: snack-bar-slide 4s ease 1;
}

.snack-bar.have-event {
    pointer-events: all;
    cursor: pointer;
}
