@import 'mixin';

.masonry {
  width: 100%;
  margin: 16px auto;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.item {
  position: relative;
  margin-bottom: 16px;
  width: calc(100% / 3 - 12px);

  @media (max-width: 768px) {
    width: calc(100% / 2 - 12px);
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}