{% extends 'board/base.html' %}
{% load static %}
{% load island %}
{% load humanize %}

{% block title %}로그인 - BLEX{% endblock %}

{% block extra_styles %}
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<script>
    window.HCAPTCHA_SITE_KEY = '{{ HCAPTCHA_SITE_KEY }}';
    window.SHOW_2FA = {{ show_2fa|yesno:"true,false" }};
    window.USERNAME = '{{ username|escapejs }}';
    window.NEXT_URL = '{{ next_url|escapejs }}';
</script>
<style>
    island-component {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock %}

{% block content %}
    {% island_component 'Login' %}
    {% csrf_token %}
{% endblock %}
