{% extends 'board/base.html' %}

{% block title %}{{ post.title }} — {{ post.author }}{% endblock %}

{% block seo %}
<meta name="description" content="{{ post.text_html | striptags | truncatewords:50 }}">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta property="og:title" content="{{ post.title | truncatewords:20 }}">
<meta property="og:description" content="{{ post.text_html | striptags | truncatewords:50 }}">
{% if post.image %}
<meta property="og:image" content="{{ post.image.url }}">{% endif %}
<meta property="og:locale" content="ko_KR">
<meta property="article:author" content="{{ post.author.username }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta name="twitter:title" content="{{ POST.title | truncatewords:20 }}">
<meta name="twitter:description" content="{{ post.hext_html | striptags | truncatewords:50 }}">
{% if post.image %}
<meta name="twitter:image" content="{{ post.image.url }}">{% endif %}
{% endblock %}

{% block body-class %}thread-body{% endblock %}

{% block content %}
<div class="thread-sidebar">
    <a class="deep-dark" href="{{ series.get_absolute_url }}">
        <h1 class="title serif">{{ series.name }}</h1>
    </a>
    <ul class="noto">
    {% for post in series.posts.all %}
        <li class="story-read {% if request.get_full_path == post.get_absolute_url %}active{% endif %}" data-href="{{ post.get_absolute_url }}">{{ forloop.revcounter }}. {{ post.title }}</li>
    {% endfor %}
    </ul>
</div>
<div class="thread-menu closer">
      <i class="fas fa-chevron-left"></i>
</div>
<div id="thread-detail" class="col-lg-8 px-0 noto mx-auto">
    <div id="content">
        <h1 class="serif font-weight-bold">{{ post.title }}</h1>
        <div class="text-muted h7 mb-2"><i class="far fa-clock"></i> {{ post.created_date|timesince }} 전 {% if story.updated_date|date:"YmdHi" > post.created_date|date:"YmdHi"%}(edited){% endif %}</div>

        <div class="row post-top-meta">
            <a href="{% url 'user_profile' username=post.author.username%}">
                <div class="back-image thumb comment-thumb" style="background-image:url({{ post.author.profile.thumbnail }})"></div>
            </a>
            <div class="author-info">
                <h6><a class="text-decoration-none" href="{% url 'user_profile' username=post.author.username%}">@{{ post.author.username }}</a></h6>
                {% if post.author.profile.bio %}
                <p class="author-description">{{ post.author.profile.bio }}</p>
                {% endif%}
            </div>
        </div>

        <article class="article">
            {{ post.text_html | safe }}
        </article>
        <ul class="tag-list noto">
            {% for tag in post.tagging %}
            <li><a href="{% url 'post_list_in_tag' tag=tag %}">{{ tag }}</a></li>
            {% endfor %}
        </ul>

        <div class="my-5 text-center">
            <a id="heart" class="card-link shallow-dark" href="javascript:void(0);" onclick="Posts.like({{ post.pk }});">
                <i class="{%if check_like %}fas{% else %}far{% endif %} fa-heart"></i> <span id="like-count">{{ post.total_likes }}</span>
            </a>
            {% if post.author == request.user %}
            <a class="card-link shallow-dark" href="{% url 'post_edit' timestamp=post.timestamp %}"><i class="far fa-edit"></i></a>
            <a class="card-link shallow-dark" href="javascript:void(0)" onclick="Posts.remove({{ post.pk }});"><i class="far fa-trash-alt"></i></a>
            {% endif %}
        </div>

        {% if post.block_comment %}
        <div id="comment-close" class="comment-list noto s-shadow">
            댓글이 닫혀 있습니다.
        </div>
        {% else %}
        <div id="comment">
            {% for comment in post.comments.all %}
                {% include 'board/posts/include/comment.html' %}
            {% empty %}
            <div id="comment-empty" class="comment-list noto s-shadow">
                작성된 댓글이 없습니다!
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if not post.block_comment %}
            {% if request.user.is_active %}
        <form id="comment-form" class="mb-3">
            {% csrf_token %}
            {{ form }}
            <button type="button" onclick="Comment.write({{ post.pk }})" class="btn btn-dark btn-block noto">댓글 작성</button>
        </form>
            {% else %}
        {% csrf_token %}
        <div class="noto alert alert-warning s-shadow">로그인된 사용자만 댓글을 작성할 수 있습니다.</div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer%}
{% include 'board/common/include/footer.html' %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ static_url }}/assets/library/prism.js"></script>
{% endblock %}