{% extends 'board/base.html' %}

{% block title %}{{ post.title }} – {{ post.author }}{% endblock %}

{% block seo %}
<meta name="description" content="{{ post.text_html | striptags | truncatewords:50 }}">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta property="og:title" content="{{ post.title | truncatewords:20 }}">
<meta property="og:description" content="{{ post.text_html | striptags | truncatewords:50 }}">
<meta property="og:site_name" content="{{ site_title }}">
{% if post.image %}<meta property="og:image" content="{{ post.image.url }}">{% endif %}
<meta property="og:locale" content="ko_KR">
<meta property="article:author" content="{{ post.author }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ post.title | truncatewords:20 }}">
<meta name="twitter:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta name="twitter:description" content="{{ post.text_html | striptags | truncatewords:50 }}">
{% if post.image %}<meta name="twitter:image" content="{{ post.image.url }}">{% endif %}
{% endblock %}

{% block image-title%}
{% if post.image %}
<style>.content {margin-top: 20px;} #top-nav {background: rgba(0, 0, 0, 0); position: absolute;}</style>
<div>
    <picture class="post-title-image">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        <div class="post-image-mask mask-off">
            <h1 class="post-headline fade-in">{% if this_series %}<span class="post-series">'{{ this_series }}' 시리즈</span>{% endif %}{{ post.title }}</h1>
            <p class="post-date fade-in">{{ post.created_date|date:"Y-m-d H:i" }}{% if post.updated_date|date:"YmdHi" > post.created_date|date:"YmdHi"%}<span>(Last Update: {{ post.updated_date|date:"Y-m-d H:i" }})<span>{% endif %}</p>
        </div>
    </picture>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-2">
        {% include 'board/posts/include/share_and_like.html' %}
    </div>
    <div class="col-lg-8">
        {% if not post.image %}
        <h1 class="post-headline">{% if this_series %}<span class="post-series">'{{ this_series }}' 시리즈</span>{% endif %}{{ post.title }}</h1>
        <p class="post-date">
            {{ post.created_date|date:"Y-m-d H:i" }}{% if post.updated_date|date:"YmdHi" > post.created_date|date:"YmdHi"%}
            <span>(Last Update: {{ post.updated_date|date:"Y-m-d H:i" }})<span>{% endif %}</p>
        {% endif %}
        {% if post.author == request.user %}
        <a class="btn btn-dark" href="{% url 'post_edit' pk=post.pk %}">수정</a>
        <a class="btn btn-dark" href="javascript:void(0)" onclick=Posts.remove({{ post.pk }})>삭제</a>
        {% endif %}
        {% include 'board/posts/include/author.html' %}
        <article class="article noto">
            {{ post.text_html | safe }}
        </article>
        {% load tagging_tags %}
        {% tags_for_object post as tags %}
        <ul class="tag-list noto">
            {% for tag in tags %}
            <li><a href="{% url 'user_profile_topic' username=post.author tag=tag.name %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
        {% if this_series %}
            {% include 'board/posts/include/series.html' %}
        {% endif %}
    </div>
    <div class="col-lg-2 mobile-disable">
        <div id="article-nav" class="sticky-top sticky-top-100"></div>
    </div>
</div>
</div>
</div>

<div class="py-5 bg-comment">
    <div class="container">
        <div class="col-lg-8 mx-auto px-0">
            {% if post.block_comment %}
            <div id="comment-close" class="comment-list noto s-shadow">
                댓글이 닫혀 있습니다.
            </div>
            {% else %}
            <div id="comment">
                {% for comment in post.comments.all %}
                    {% include 'board/posts/include/comment.html' %}
                {% empty %}
                <div id="comment-empty" class="comment-list noto s-shadow">
                    작성된 댓글이 없습니다!
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if not post.block_comment %}
            {% if request.user.is_active %}
            <form id="comment-form" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="button" onclick="Comment.write({{ post.pk }})" class="btn btn-dark btn-block noto">댓글 작성</button>
            </form>
            {% else %}
            {% csrf_token %}
            <div class="alert alert-warning s-shadow">로그인된 사용자만 댓글을 작성할 수 있습니다.</div>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer%}
    {% include 'board/common/include/footer_reverse.html' %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ static_url }}/assets/library/prism.js"></script>
<script type="text/javascript" src="{{ static_url }}/assets/library/autolink.js"></script>
<script>
    autolink($('#comment'));
</script>
{% if post.image %}
<script type="text/javascript" src="{{ static_url }}/assets/js/navigation.js?{{ static_version }}"></script>
{% endif %}
{% endblock %}