{% extends 'board/base.html' %}

{% block title %}{{ site_title }} – {{ site_description }}{% endblock %}

{% block seo %}
<meta name="description" content="{{ sort }}로 정렬된 {{ site_title }}의 글들 입니다.">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:title" content="{{ site_title }} – {{ sort }}">
<meta property="og:description" content="{{ sort }}로 정렬된 {{ site_title }}의 글들 입니다.">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta name = "twitter : card" content="summary"> 
<meta name = "twitter : title" content="{{ sort }}"> 
<meta name = "twitter : description" content="{{ sort }}로 정렬된 {{ site_title }}의 글들 입니다."> 
{% endblock %}

{% block content %}
{% include 'board/posts/include/sort_nav.html' %}

<div id="card-wrapper" class="row">
{% for post in elements %}
    {% include 'board/posts/shape/card.html' %}
{% endfor %}
</div>
{% include 'board/common/include/pagenation.html' %}

{% endblock %}

{% block footer%}
    {% include 'board/common/include/footer.html' %}
{% endblock %}