.box {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transition: transform 0.5s ease;
    padding: 60px 0;
    background: #fff;
    color: #000;

    :global(body.dark) & {
        background: #000;
        color: #eaeaea;
    }

    &.isOpen {
        transform: translate(-100%, 0);
    }

    .close {
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 15px;
        font-size: 20px;
    }

    .header {
        font-size: 20px;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    ul {
        padding-left: 0;
        list-style: none;

        li {
            font-size: 18px;
            line-height: 2.2;
            color: #ddd;

            a {
                text-decoration: none;
                color: #555;
            }

            :global(body.dark) & {
                color: #333;

                a {
                    color: #eaeaea;
                }
            }
        }
    }
}