.navigation {
    width: 100%;
    height: 100px;

    .mask {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .88);

        @media only screen and (max-width: 991px) {
            overflow-x: auto;
            overflow-y: hidden;
        }
    }

    ul {
        padding: 15px 0;
        list-style: none;
        text-align: center;
        white-space: nowrap;

        li {
            display: inline-block;
            font-size: 1.2em;
            margin: 20px;
            cursor: pointer;
            
            a {
                color: #aaa;
                text-decoration: none;
            }
            
            &.active {
                a {
                    color: #fff;
                }
            }
        }
    }
}
