@import 'var';

.footer { 
    margin-top: 30px;
    padding-bottom: 30px;
    color: #ccc;
    
    a {
        color: #ccc;
        
        &:hover {
            color: $COLOR_DEFAULT_SECONDARY;
            text-decoration: none;
        }
    }

    .content {
        margin-bottom: 30px;
    }

    &.bgdark {
        margin-top: 0px;
        background: #000;
    }

    .title {
        font-size: 34px;
        font-weight: 600;
    }

    .sub-title {
        font-size: 10px;
        font-weight: 400;
    }

    .items {
        div {
            font-size: 14px;
            display: inline-block;
            margin: 16px;
        }
    }
}