@import 'var';

.footer { 
    margin-top: 30px;
    padding-bottom: 30px;
    color: #ccc;
    
    a {
        color: #999;
        
        &:hover {
            color: #000;
            text-decoration: none;

            :global(body.dark) & {
                color: #fff;
            }
        }
    }

    &.bgDark {
        margin-top: 0px;
        background: #000;

        .copy {
            padding-top: 30px;
        }
        
        a {
            &:hover {
                color: #fff;
            }
        }
    }
}