@import 'var';

.footer { 
    margin-top: 30px;
    padding-bottom: 30px;
    color: #ccc;

    .copy {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        overflow-y: hidden;
    }
    
    a {
        color: #999;
        
        &:hover {
            color: #000;
            text-decoration: none;

            :global(body.dark) & {
                color: #fff;
            }
        }
    }

    .content {
        margin-bottom: 30px;
    }

    &.bgdark {
        color: #999;
        margin-top: 0px;
        background: #000;
        
        a {
            color: #e0e0e0;

            &:hover {
                color: #fff;
            }
        }
    }
}