@import 'mixin';

.text {
    line-height: 1.5;
    word-break: keep-all;
    overflow-wrap: anywhere;

    @for $i from 1 through 9 {
        &.fw-#{$i * 100} {
            font-weight: ($i * 100);
        }
    }

    @each $sizeName, $size in $fontSizes {
        &.fs-#{$sizeName} {
            font-size: $size;
        }
    }
}