{% extends 'board/base.html' %}

{% block title %}{{ site_title }} - {{ tag }}{% endblock %}

{% block seo %}
<meta name="description" content="{{ site_title }}에서 '{{ tag }}' 주제로 작성된 컨텐츠를 만나보세요!">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:title" content="{{ site_title }} - {{ tag }}">
<meta property="og:description" content="{{ site_title }}에서 '{{ tag }}' 주제로 작성된 컨텐츠를 만나보세요!">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta name = "twitter : card" content="summary">
<meta name = "twitter : title" content="{{ site_title }} - {{ tag }}">
<meta name = "twitter : description" content="{{ site_title }}에서 '{{ tag }}' 주제로 작성된 컨텐츠를 만나보세요!">
{% endblock %}

{% block content %}
<div class="h4 serif font-weight-bold pt-5">— {{ tag }} —</div>
{% if description %}
<div class="description noto mt-4">
    <a href="{{ description.get_absolute_url }}">{{ description.text_html | striptags | truncatewords:50 }}</a>
    <a href="{% url 'user_profile' username=description.author.username %}"class="author">@{{ description.author }}</a>
</div>
{% endif %}
<div class="row">
    {% for post in elements %}
        {% include 'board/lists/include/posts/card.html' %}
    {% endfor %}
</div>
{% include 'board/common/include/pagenation.html' %}
{% endblock %}

{% block footer%}
    {% include 'board/common/include/footer.html' %}
{% endblock %}