{% extends 'board/source.html' %}
{% block head %}
    {% load static %}
    {% block seo %}{% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'library/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'library/prism.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{{ static_version }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+KR|Noto+Sans+KR">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <title>{% block title %}{% endblock %}</title>
{% endblock %}
{% block body %}
    {% block image-title %}{% endblock %}
    {% if white_nav %}
    <nav id="top-nav" class="navbar navbar-expand-sm navbar-light bg-rlight fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ site_url }}">
                <img src="{{ static_url }}/assets/images/logo.png" width="35" height="35" alt="">
            </a>
    {% else %}
    <nav id="top-nav" class="navbar navbar-expand-sm navbar-dark bg-theme fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ site_url }}">
                <img src="{{ static_url }}/assets/images/logor.png" width="35" height="35" alt="">
            </a>
    {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                {% if request.user.is_active %}
                    {% url 'user_profile' username=request.user as my_profile %}
                    <li class="nav-item {% if request.get_full_path == my_profile %}active{% endif %}">
                        <a class="nav-link" href="{{ my_profile }}">{{ request.user.first_name }} <i class="fas fa-user"></i></a>
                    </li>
                    <li class="nav-item {% if page_setting %}active{% endif %}">
                        <a class="nav-link" href="{% url 'setting' %}">설정 <i class="fas fa-cogs"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">로그아웃 <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item {% if request.get_full_path == '/login' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'login' %}">로그인 <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li class="nav-item {% if request.get_full_path == '/signup' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'signup' %}">회원가입 <i class="fas fa-users"></i></a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if write_btn == True %}
    <a href="{% url 'post_write' %}">
        <div class="write-btn">
            <i class="fas fa-pencil-alt"></i>
        </div>
    </a>
    {% endif %}
    <div class="container">
        <div class="content">
        {% block content %}{% endblock %}
        </div>
    </div>
    {% block footer %}{% endblock %}
    <div id="notify-content"></div>
    <script type="text/javascript" src="{% static 'library/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'library/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{{ static_url }}/assets/js/common.js?{{ static_version }}"></script>
    <script type="text/javascript" src="{{ static_url }}/assets/js/render.js?{{ static_version }}"></script>
    <script type="text/javascript" src="{{ static_url }}/assets/js/action.js?{{ static_version }}"></script>
    <script type="text/javascript" src="{{ static_url }}/assets/js/event.js?{{ static_version }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
    </script>
    {% block script %}{% endblock %}
    {% if request.user.is_active %}{% include 'board/common/include/notify.html' %}{% endif %}
{% endblock %}