{% with site_title='BLEX' site_url='https://your.domain' site_description='BLOG EXPRESS' static_url='https://static.your.domain' static_version='version=1.0.0' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if white_nav %}
    <meta name="theme-color" content="#fff">
    {% else %}
    <meta name="theme-color" content="#000">
    {% endif %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {% block seo %}{% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'library/bootstrap.css' %}?{{ static_version }}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{{ static_version }}">
    <link rel="stylesheet" href="{% static 'library/prism.css' %}?{{ static_version }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+KR|Noto+Sans+KR">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body {% if theme %}class="theme-{{ theme }}"{% endif %}>
    {% block image-title %}{%endblock%}
    {% if white_nav %}
    <nav id="mNavigation" class="navbar navbar-expand-sm navbar-light bg-rlight fixed-top">
        <div class="container">
            <a class="navbar-brand" onmousedown="distoryLatelyPosition()" href="{{ site_url }}">
                <img src="{{ static_url }}/assets/images/logo.png" width="35" height="35" alt="">
            </a>
    {% else %}
    <nav id="mNavigation" class="navbar navbar-expand-sm navbar-dark bg-theme fixed-top">
        <div class="container">
            <a class="navbar-brand" onmousedown="distoryLatelyPosition()" href="{{ site_url }}">
                <img src="{{ static_url }}/assets/images/logor.png" width="35" height="35" alt="">
            </a>
            {% block usernav %}{% endblock %}
    {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            {% block usernav_action %}{% endblock %}
            {% if not post_usernav_action %}
                <ul class="navbar-nav">
                {% if request.user.is_active %}
                    {% url 'user_profile' username=request.user as my_profile %}
                    <li class="nav-item {% if request.get_full_path == my_profile %}active{% endif %}">
                        <a class="nav-link" href="{{ my_profile }}">{{ request.user.first_name }} <i class="fas fa-user"></i></a>
                    </li>
                    <li class="nav-item {% if page_setting %}active{% endif %}">
                        <a class="nav-link" href="{% url 'setting' %}">설정 <i class="fas fa-cogs"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">로그아웃 <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item {% if request.get_full_path == '/login' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'login' %}">로그인 <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li class="nav-item {% if request.get_full_path == '/signup' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'signup' %}">회원가입 <i class="fas fa-users"></i></a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}
            </div>
        </div>
    </nav>
    {% if write_btn == True %}
    <a href="{% url 'post_write' %}">
        <div class="write-btn">
            <i class="fas fa-pencil-alt"></i>
        </div>
    </a>
    {% endif %}
    <div class="container">
        <div class="content">
        {% block content %}{% endblock %}
        </div>
    </div>
    {% block footer %}{% endblock %}
    <script type="text/javascript" src="{% static 'library/jquery.js' %}?{{ static_version }}"></script>
    <script type="text/javascript" src="{% static 'library/bootstrap.js' %}?{{ static_version }}"></script>
    <script type="text/javascript" src="{{ static_url }}/assets/js/main.js?{{ static_version }}"></script>
    <script type="text/javascript" src="{{ static_url }}/assets/js/notify.js?{{ static_version }}"></script>
    <div id="notify-content"></div>
    {% block script %}{% endblock %}
    {% if request.user.is_active %}{% include 'board/include/notify.html' %}{% endif %}
</body>
</html>
{% endwith %}