{% extends 'board/source.html' %}
{% block head %}
    {% load static %}
    {% block seo %}{% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'library/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'library/prism.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{{ static_version }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+KR|Noto+Sans+KR|Black+Han+Sans">
    <link rel="stylesheet" href="https://rawcdn.githack.com/nzbin/three-dots/c592f34f85813ce75b9bc984b1bafcea3cb39b37/dist/three-dots.min.css">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}?{{ static_version }}">
    <title>{% block title %}{% endblock %}</title>
{% endblock %}
{% block body %}
    {% block image-title %}{% endblock %}
    {% include 'board/common/include/topnav.html' %}
    {% if write_btn %}
    <div id="write-btn" class="write-btn">
        <i class="fas fa-pencil-alt"></i>
    </div>
    <div id="write-selector"></div>
    {% endif %}
    <div class="container{% if layout_fluid %}-fluid{% endif %}">
        <div class="content">
        {% block content %}{% endblock %}
        </div>
    </div>
    <div id="loading"></div>
    {% block footer %}{% endblock %}
    <div id="notify-content"></div>
    <script type="text/javascript" src="{% static 'library/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'library/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{{ static_url }}/assets/js/common.js?{{ static_version }}"></script>
    <script type="text/javascript" src="{{ static_url }}/assets/js/render.js?{{ static_version }}"></script>
    <script type="text/javascript" src="{{ static_url }}/assets/js/action.js?{{ static_version }}"></script>
    <script type="text/javascript" src="{{ static_url }}/assets/js/event.js?{{ static_version }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var csrftoken = cookie.get('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
    </script>
    {% block script %}{% endblock %}
{% endblock %}