{% extends 'board/source.html' %}
{% block head %}
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}?{{ static_version }}">
    {% if level == 'hide' or debug %}
    <meta name="referrer" content="no-referrer">
    {% elif level == 'origin' %}
    <meta name="referrer" content="strict-origin">
    {% else %}
    <meta name="referrer" content="no-referrer-when-downgrade">
    {% endif %}
    <title>BLEX — LINK</title>
{% endblock %}
{% block body %}
    <script>
        function getParam(name) {
            var params = location.search.substr(location.search.indexOf("?") + 1);
            var sval = "";
            params = params.split("&");
            for (var i = 0; i < params.length; i++) {
                temp = params[i].split("=");
                if ([temp[0]] == name) { sval = temp[1]; }
            }
            return sval;
        }
        location.replace(decodeURIComponent(getParam('url')));
    </script>
{% endblock %}