{% extends 'board/base.html' %}

{% block title %}{{ site_title }} – {{ site_description }}{% endblock %}

{% block seo %}
<link rel="stylesheet" href="{{ static_url }}/assets/css/intro.css?{{ static_version }}">
{% endblock %}

{% block content %}
<div class="intro">
    <h1 id="title" class="text-center g-sans-b main-title">BL<span class="gray-dark">OG</span> EX<span class="gray-dark">PRESS</span> ME</h1>
    <div class="row justify-content-sm-center mt-5">
        <div class="col-sm-2 mt-4">
            <h5 class="text-center g-sans-m">블렉스 유저님</h5>
            <h6 id="user-counter" class="text-center g-sans-l counter">{{ intro_info.user_count }}</h5>
        </div>
        <div class="col-sm-2 mt-4">
            <h5 class="text-center g-sans-m">일간 페이지뷰</h5>
            <h6 id="view-counter" class="text-center g-sans-l counter">{{ intro_info.page_view_count }}</h5>
        </div>
    </div>
    <div class="row justify-content-sm-center mt-lg-5">
        <div class="col-sm-2 mt-4">
            <h5 class="text-center g-sans-m">작성된 포스트</h5>
            <h6 id="posts-counter" class="text-center g-sans-l counter">{{ intro_info.posts_count }}</h5>
        </div>
        <div class="col-sm-2 mt-4">
            <h5 class="text-center g-sans-m">생성된 스레드</h5>
            <h6 id="thread-counter" class="text-center g-sans-l counter">{{ intro_info.thread_count }}</h5>
        </div>
        <div class="col-sm-2 mt-4">
            <h5 class="text-center g-sans-m">언급되는 주제</h5>
            <h6 id="topic-counter" class="text-center g-sans-l counter">{{ intro_info.topic_count }}</h5>
        </div>
    </div>
    <div class="col-lg-10 mx-auto">
        <ul class="text-center intro-topics mt-5">
        {% for tag in intro_info.top_topics %}
            <li><a class="deep-dark" href="{% url 'post_list_in_tag' tag=tag.name %}">{{ tag.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="text-center mt-5">
        <a class="noto vivid-purple text-decoration-none" href="/@baealex/series/%EB%B8%94%EB%A0%89%EC%8A%A4-%EC%9D%B4%EC%95%BC%EA%B8%B0">블렉스는 성장하는 서비스입니다.</a>
    </div>
    <div class="text-center">
        <a href="{% url 'login' %}">
            <button class="get-start g-sans-m mt-4 mb-3">함께 성장하기</button>
        </a>
    </div>
    <div class="text-center mt-3">
        <a class="github-button" href="https://github.com/baealex/BLEX" data-icon="octicon-star" data-show-count="true" aria-label="Star baealex/BLEX on GitHub">Star</a>
        <a class="github-button" href="https://github.com/baealex/BLEX/issues" data-icon="octicon-issue-opened" data-show-count="true" aria-label="Issue baealex/BLEX on GitHub">Issue</a>
    </div>
</div>
{% endblock %}

{% block footer%}
{% include 'board/common/include/footer.html' %}
{% endblock %}

{% block script %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
    $(document).ready(function() {
        function numberCounter(target_frame, target_number) {
            this.count = 0;
            this.diff = 0;
            this.target_count = parseInt(target_number);
            this.target_frame = document.getElementById(target_frame);
            this.timer = null;
            this.counter();
        };

        numberCounter.prototype.counter = function () {
            var self = this;
            this.diff = this.target_count - this.count;

            if (this.diff > 0) {
                self.count += Math.ceil(this.diff / 5);
            }
            this.target_frame.innerHTML = this.count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

            if (this.count < this.target_count) {
                this.timer = setTimeout(function () { self.counter(); }, 50);
            } else {
                clearTimeout(this.timer);
            }
        };

        new numberCounter("user-counter", {{ intro_info.user_count }});
        new numberCounter("view-counter", {{ intro_info.page_view_count }});
        new numberCounter("posts-counter", {{ intro_info.posts_count }});
        new numberCounter("thread-counter", {{ intro_info.thread_count }});
        new numberCounter("topic-counter", {{ intro_info.topic_count }});
    });
</script>
{% endblock %}