{% extends 'board/base.html' %}

{% block title %}{{ site_title }} – {{ site_description }}{% endblock %}

{% block seo %}
<meta name="description" content="{{ site_description }}">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:title" content="{{ site_title }} – {{ site_description }}">
<meta property="og:description" content="{{ site_description }}">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta name = "twitter : card" content="summary"> 
<meta name = "twitter : title" content="{{ site_title }}"> 
<meta name = "twitter : description" content="{{ site_description }}"> 
{% endblock %}

{% block content %}
<div class="search-box serif" onclick="location.href='/search';">
    검색어를 입력하세요.
</div>

{% include 'board/include/home_post_nav.html' %}

<div id="card-wrapper" class="row">
{% for post in pageposts%}
    {% include 'board/include/post_card.html' %}
{% endfor %}
</div>

{% if not sort %}
<h4 class="mt-5 serif foot-deco"><span class="foot-deco-active">주간</span> 인기</h4>
<div class="top-post-slide">
    <ul class="mt-3">
        {% for post in weekly_top %}
            {% include 'board/include/post_slide.html' %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<h4 class="mt-5 serif foot-deco mb-3"><span class="foot-deco-active">태그</span> 클라우드</h4>
<ul id="tagList" class="tag-list"></ul>
{% endblock %}

{% block image-script %}
<script src="{{ static_url }}/assets/js/topics.js"></script>
{%endblock%}

{% block footer %}
    {% include 'board/include/footer.html' %}
{% endblock %}