{% extends 'board/base.html' %}

{% block title %}{{ post.title }} - {{ post.author }}{% endblock %}

{% block seo %}
{% if get_series %}<meta name="robots" content="noindex">{% endif %}
<meta name="description" content="{{ post.text_html | striptags | truncatewords:50 }}">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta property="og:title" content="{{ post.title | truncatewords:20 }}">
<meta property="og:description" content="{{ post.text_html | striptags | truncatewords:50 }}">
<meta property="og:site_name" content="{{ site_title }}">
{% if post.image %}<meta property="og:image" content="{{ post.image.url }}">{% endif %}
<meta property="og:locale" content="ko_KR">
<meta property="article:author" content="{{ post.author }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ post.title | truncatewords:20 }}">
<meta name="twitter:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta name="twitter:description" content="{{ post.text_html | striptags | truncatewords:50 }}">
{% if post.image %}<meta name="twitter:image" content="{{ post.image.url }}">{% endif %}
{% endblock %}

{% block usernav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_profile' username=post.author.username%}">{{ post.author.username }}</a>
    </li>
</ul>
{% endblock %}

{% block image-title%}
{% if post.image %}
<style>.content {margin-top: 20px;} #mNavigation {background: rgba(0, 0, 0, 0); position: absolute;}</style>
<div class="post-title-image back-image" style="background-image: url({{ post.image.url }});">
    <div class="mask">
        <h1 class="post-headline">{% if this_series %}<span class="post-series">'{{ this_series }}' 시리즈</span>{% endif %}{{ post.title }}</h1>
        <p class="post-date">{{ post.created_date|date:"Y-m-d H:i" }}{% if post.updated_date|date:"YmdHi" > post.created_date|date:"YmdHi"%}<span>(Last Update: {{ post.updated_date|date:"Y-m-d H:i" }})<span>{% endif %}</p>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2 pl-4 pr-4">
        {% include 'board/include/post/share_and_like.html'%}
    </div>
    <div class="col-lg-8 col-md-10">
        {% if not post.image %}
        <h1 class="post-headline">{% if this_series %}<span class="post-series">'{{ this_series }}' 시리즈</span>{% endif %}{{ post.title }}</h1>
        <p class="post-date">
            {{ post.created_date|date:"Y-m-d H:i" }}{% if post.updated_date|date:"YmdHi" > post.created_date|date:"YmdHi"%}
            <span>(Last Update: {{ post.updated_date|date:"Y-m-d H:i" }})<span>{% endif %}</p>
        {% endif %}
        {% if post.author == request.user %}
        <a class="btn btn-dark" href="{% url 'post_edit' pk=post.pk %}">수정</a>
        <a class="btn btn-dark" href="" data-toggle="modal" data-target="#PostDeleteModal">삭제</a>
        {% endif %}
        {% include 'board/include/post/author.html' %}
        {% if prev_serise %}
        <div class="jumbotron text-center">
            <div class="container">
                <h5 class="serif"><a class="shallow-dark" href="{% url 'series_list' username=post.author name=this_series %}">'{{ this_series }}'</a> 시리즈의 이전 글</h5>
                <p><a class="serif shallow-dark" href="{{ prev_serise.get_absolute_url }}?series={{this_series}}">{{ prev_serise }}</a></p>
            </div>
        </div>
        {% endif %}
        <article class="article {{ fonts }}">
            {{ post.text_html | safe }}
        </article>
        {% if next_serise %}
        <div class="jumbotron text-center">
            <div class="container">
                <h5 class="serif"><a class="shallow-dark" href="{% url 'series_list' username=post.author name=this_series %}">'{{ this_series }}'</a> 시리즈의 다음 글</h5>
                <p><a class="serif shallow-dark" href="{{ next_serise.get_absolute_url }}?series={{this_series}}">{{ next_serise }}</a></p>
            </div>
        </div>
        {% else %}
            {% if prev_serise %}
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h5 class="serif"><a class="shallow-dark" href="{% url 'series_list' username=post.author name=this_series %}">'{{ this_series }}'</a> 시리즈의 마지막 글입니다.</h5>
            </div>
        </div>
            {% endif %}
        {% endif %}
        {% load tagging_tags %}
        {% tags_for_object post as tags %}
        <ul class="tag-list">
            {% for tag in tags %}
            <li><a href="{% url 'post_list_in_tag' tag=tag.name %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-2 mobile-disable">
        <div id="article-nav" class="sticky-top sticky-top-100"></div>
    </div>
</div>

<div id="comment" class="mt-5">
    {% if post.block_comment %}
    <div class="comment-list">
        <p>댓글이 닫혀 있습니다.</p>
    </div>
    {% else %}
        {% for comment in post.comments.all %}
            {% include 'board/include/post/comment.html' %}
        {% empty %}
        <div class="comment-list">
            <p>작성된 댓글이 없습니다!</p>
        </div>
        {% endfor %}
    {% endif %}
</div>

{% if not post.block_comment %}
    {% if request.user.is_active %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" onclick="comment()" class="btn btn-dark">댓글 작성</button>
        <button type="button" onclick="tagging()" class="btn btn-dark">사용자 태그</button>
    </form>
    {% else %}
    <div class="alert alert-warning">로그인된 사용자만 댓글을 작성할 수 있습니다.</div>
    {% endif %}
{% endif %}
</div>
</div>
<div class="rel-posts">
    <div class="container pt-4 pb-2">
        <div class="header-title">
            <h4 class="serif">이 작성자가 게시한 다른 글</h4>
        </div>
        <div class="row">
        {% for another_post in another_posts %}
            <div class="col-md-4">
                <a href="{{ another_post.get_absolute_url }}"><div class="back-image rel-post-image" style="background-image: url({% if another_post.image %}{{ another_post.image.url }}{% else %}{{ static_url }}/assets/images/default-post.png{% endif %});"></div></a>
                <h5 class="serif pt-3 pb-4 ns"><a class="text-dark" href="{{ another_post.get_absolute_url }}">{{ another_post.title }}</a></h5>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer%}
    {% include 'board/include/footer_reverse.html' %}
    {% include 'board/include/post/delete_modal.html'%}
{% endblock %}

{% block image-script %}
<script type="text/javascript" src="{{ static_url }}/assets/library/prism.js"></script>
{% if post.image %}
<script type="text/javascript" src="{{ static_url }}/assets/js/post/navigation.js"></script>
{% endif %}
{% if request.user.is_active %}
<script type="text/javascript" src="{{ static_url }}/assets/js/post/main.js"></script>
{% endif %}
<script>
{% if request.user.is_active %}
$(document).ready(function() {
  var csrftoken = getCookie('csrftoken');
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
});
var userList = [];
var sendList = [];
$(document).ready(function () {
    $.ajax({
        url: "/post/{{ post.pk }}/commentor",
        type: "get",
    }).done(function (data) {
        userList = data.split(',');
        userList.pop();
    });
});
function tagging() {
    var username = prompt('태그할 사용자');
    var isFind;
    for ( x in userList ) {
        if ( username == userList[x] ) {
            $('#id_text').val($('#id_text').val() + ('@' + username)).focus();
            sendList.push(username);
            isFind = true;
            break;
        }
        else {
            isFind = false;
        }
    }
    if ( !isFind ) {
        alert('이 포스트에 댓글이 있는 사용자가 아닙니다.');
    }
}
{% endif %}
function like() {
    {% if request.user.is_active %}
        {% if request.user == post.author %}
    alert('자신의 글은 추천할 수 없습니다.');
        {% else %}
    likeArticle('{% url 'post_like' pk=post.pk%}');
        {% endif %}
    {% else %}
    alert("로그인 된 사용자만 사용할 수 있습니다.");
    {% endif %}
}
function comment() {
    writeComment('{% url 'comment_post' pk=post.pk %}');
    sendTagNotify('{{ post.pk }}', '{{ request.user.username }}', sendList)
}
</script>
{% endblock %}