{% extends 'board/base.html' %}

{% block title %}{{ post.title }} – {{ post.author }}{% endblock %}

{% block seo %}
{% if get_series %}<meta name="robots" content="noindex">{% endif %}
<meta name="description" content="{{ post.text_html | striptags | truncatewords:50 }}">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta property="og:title" content="{{ post.title | truncatewords:20 }}">
<meta property="og:description" content="{{ post.text_html | striptags | truncatewords:50 }}">
<meta property="og:site_name" content="{{ site_title }}">
{% if post.image %}<meta property="og:image" content="{{ post.image.url }}">{% endif %}
<meta property="og:locale" content="ko_KR">
<meta property="article:author" content="{{ post.author }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ post.title | truncatewords:20 }}">
<meta name="twitter:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta name="twitter:description" content="{{ post.text_html | striptags | truncatewords:50 }}">
{% if post.image %}<meta name="twitter:image" content="{{ post.image.url }}">{% endif %}
{% endblock %}

{% block usernav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_profile' username=post.author.username%}">{{ post.author.username }}</a>
    </li>
</ul>
{% endblock %}

{% block usernav_action %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a id="heart" class="nav-link" href="javascript:void(0);" onclick="like();">
            <i class="{%if check_like %}fas{% else %}far{% endif %} fa-heart"></i> <span id="like-count">{{ post.total_likes }}</span>
        </a>
    </li>
    {% if not post.block_comment %}
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" onclick="moveSlide('comment')">
            <i class="far fa-comment"></i> {{ post.comments.count }}
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <div class="dropdown">
            <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"">
                <i class="fas fa-share-alt"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" target="_blank" href="https://facebook.com/sharer.php?u={{ site_url }}{{ current_path }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a class="dropdown-item" target="_blank" href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site_url }}{{ current_path }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fab fa-twitter-square"></i> Twitter</a>
            </div>
        </div>
    </li>
</ul>
{% endblock %}

{% block image-title%}
{% if post.image %}
<style>.content {margin-top: 20px;} #mNavigation {background: rgba(0, 0, 0, 0); position: absolute;}</style>
<div>
    <picture class="post-title-image">
        <img src="{{ post.image.url }}" alt="{{ post.image.url }}">
        <div class="post-image-mask">
            <h1 class="post-headline">{% if this_series %}<span class="post-series">'{{ this_series }}' 시리즈</span>{% endif %}{{ post.title }}</h1>
            <p class="post-date">{{ post.created_date|date:"Y-m-d H:i" }}{% if post.updated_date|date:"YmdHi" > post.created_date|date:"YmdHi"%}<span>(Last Update: {{ post.updated_date|date:"Y-m-d H:i" }})<span>{% endif %}</p>
        </div>
    </picture>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="ml-auto col-lg-8">
        {% if not post.image %}
        <h1 class="post-headline">{% if this_series %}<span class="post-series">'{{ this_series }}' 시리즈</span>{% endif %}{{ post.title }}</h1>
        <p class="post-date">
            {{ post.created_date|date:"Y-m-d H:i" }}{% if post.updated_date|date:"YmdHi" > post.created_date|date:"YmdHi"%}
            <span>(Last Update: {{ post.updated_date|date:"Y-m-d H:i" }})<span>{% endif %}</p>
        {% endif %}
        {% if post.author == request.user %}
        <a class="btn btn-dark" href="{% url 'post_edit' pk=post.pk %}">수정</a>
        <a class="btn btn-dark" href="" data-toggle="modal" data-target="#PostDeleteModal">삭제</a>
        {% endif %}
        {% include 'board/include/post/author.html' %}
        {% if prev_serise %}
        <div class="jumbotron text-center">
            <div class="container">
                <h5 class="serif"><a class="shallow-dark" href="{{ this_series.get_absolute_url }}">'{{ this_series }}'</a> 시리즈의 이전 글</h5>
                <p><a class="serif shallow-dark" href="{{ prev_serise.get_absolute_url }}?series={{ this_series.url }}">{{ prev_serise }}</a></p>
            </div>
        </div>
        {% endif %}
        <article class="article {{ fonts }}">
            {{ post.text_html | safe }}
        </article>
        {% if next_serise %}
        <div class="jumbotron text-center">
            <div class="container">
                <h5 class="serif"><a class="shallow-dark" href="{{ this_series.get_absolute_url }}">'{{ this_series }}'</a> 시리즈의 다음 글</h5>
                <p><a class="serif shallow-dark" href="{{ next_serise.get_absolute_url }}?series={{ this_series.url }}">{{ next_serise }}</a></p>
            </div>
        </div>
        {% else %}
            {% if prev_serise %}
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h5 class="serif"><a class="shallow-dark" href="{{ this_series.get_absolute_url }}">'{{ this_series }}'</a> 시리즈의 마지막 글입니다.</h5>
            </div>
        </div>
            {% endif %}
        {% endif %}
        {% load tagging_tags %}
        {% tags_for_object post as tags %}
        <ul class="tag-list">
            {% for tag in tags %}
            <li><a href="{% url 'user_profile_topic' username=post.author tag=tag.name %}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-2 mobile-disable">
        <div id="article-nav" class="sticky-top sticky-top-100"></div>
    </div>
</div>

<div id="comment" class="mt-5">
    {% if post.block_comment %}
    <div id="comment-close" class="comment-list">
        <p>댓글이 닫혀 있습니다.</p>
    </div>
    {% else %}
        {% for comment in post.comments.all %}
            {% include 'board/include/post/comment.html' %}
        {% empty %}
        <div id="comment-empty" class="comment-list">
            <p>작성된 댓글이 없습니다!</p>
        </div>
        {% endfor %}
    {% endif %}
</div>

{% if not post.block_comment %}
    {% if request.user.is_active %}
    <form id="comment-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" onclick="comment()" class="btn btn-dark">댓글 작성</button>
    </form>
    {% else %}
    <div class="alert alert-warning">로그인된 사용자만 댓글을 작성할 수 있습니다.</div>
    {% endif %}
{% endif %}
</div>
</div>
<div class="rel-posts">
    <div class="container pt-4 pb-2">
        <div class="header-title">
            <h4 class="serif">이 작성자가 게시한 다른 글</h4>
        </div>
        <div class="row">
        {% for another_post in another_posts %}
            <div class="col-md-4">
                <a href="{{ another_post.get_absolute_url }}"><div class="back-image rel-post-image" style="background-image: url({% if another_post.image %}{{ another_post.image.url }}{% else %}{{ static_url }}/assets/images/default-post.png{% endif %});"></div></a>
                <h5 class="serif pt-3 pb-4 ns"><a class="deep-dark" href="{{ another_post.get_absolute_url }}">{{ another_post.title }}</a></h5>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer%}
    {% include 'board/include/footer_reverse.html' %}
    {% include 'board/include/post/delete_modal.html'%}
{% endblock %}

{% block image-script %}
<script type="text/javascript" src="{{ static_url }}/assets/library/prism.js"></script>
<script type="text/javascript" src="{{ static_url }}/assets/library/autolink.js"></script>
{% if post.image %}
<script type="text/javascript" src="{{ static_url }}/assets/js/navigation.js"></script>
{% endif %}
{% if request.user.is_active %}
<script type="text/javascript" src="{{ static_url }}/assets/js/post.js"></script>
<script type="text/javascript" src="{{ static_url }}/assets/js/user.js"></script>
{% endif %}
<script>
{% if request.user.is_active %}
$(document).ready(function() {
  var csrftoken = getCookie('csrftoken');
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
});
$(document).ready(function () {
    autolink($('#comment'));
});
var sendList = [];
function tagging(username) {
    var textValue = $('#id_text').val();
    if(textValue.indexOf(username) == -1) {
        $('#id_text').val(textValue + ('@' + username)).focus();
        if(sendList.indexOf(username) == -1) {
            sendList.push(username);
        }
    }
}
{% endif %}
function like() {
    {% if request.user.is_active %}
        {% if request.user == post.author %}
    alert('자신의 글은 추천할 수 없습니다.');
        {% else %}
    likeArticle('{% url 'post_like' pk=post.pk%}');
        {% endif %}
    {% else %}
    location.href='/login?next={{ request.get_full_path }}';
    {% endif %}
}
function follow() {
    {% if request.user.is_active %}
        {% if request.user == post.author %}
    alert('자신은 구독할 수 없습니다.');
        {% else %}
    userFollow('{{ post.author.username }}');
        {% endif %}
    {% else %}
    location.href='/login?next={{ request.get_full_path }}';
    {% endif %}
}
function comment() {
    writeComment('{% url 'comment_post' pk=post.pk %}');
    sendTagNotify('{{ post.pk }}', '{{ request.user.username }}', sendList)
}
</script>
{% endblock %}