{% extends 'board/base.html' %}

{% block title %}{{ site_title }} - {{ tag }}{% endblock %}

{% block seo %}
<meta name="description" content="{{ site_title }}에서 '{{ tag }}' 주제로 작성된 글들을 만나보세요!">
<meta property="og:site_name" content="{{ site_title }}에서 '{{ tag }}' 주제로 작성된 글들을 만나보세요!">
<meta property="og:title" content="{{ site_title }}">
<meta name="og:description" content="{{ site_title }}에서 '{{ tag }}' 주제로 작성된 글들을 만나보세요!">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta name = "twitter : card" content="summary">
<meta name = "twitter : title" content="{{ site_title }}">
<meta name = "twitter : description" content="{{ site_title }}에서 '{{ tag }}' 주제로 작성된 글들을 만나보세요!">
{% endblock %}

{% block content %}
<h4 class="mt-5 serif foot-deco"><span class="foot-deco-active">{{ tag }}</span></h4>
<div id="card-wrapper" class="row">
    {% for post in pageposts %}
        {% include 'board/include/post_card.html' %}
    {% endfor %}
</div>
{% endblock %}

{% block footer%}
    {% include 'board/include/footer.html' %}
{% endblock %}

{% block image-script %}
<div id="return-position" class="col-lg-6 mx-auto alert alert-dark noto text-center fixed-bottom" style="display: none;" role="alert">
    <i class="fas fa-spinner fa-pulse"></i> 원래의 자리를 찾아가는 중
</div>
<script src="{{ static_url }}/library/InfiniteScroll.js"></script>
<script type="text/javascript">
var postWrapperId = 'card-wrapper';
var paginatePath = '/topic/{{ tag }}?page=';
var lastPage = {{ pageposts.paginator.num_pages }};
new InfiniteScroll(paginatePath, postWrapperId, lastPage);
</script>
{% endblock %}