{% extends 'board/base.html' %}

{% block title %}{{ site_title }} – Search{% endblock %}

{% block seo %}
<meta name="description" content="{{ site_title }}에서 검색해보세요!">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:title" content="{{ site_title }} – Search">
<meta property="og:description" content="{{ site_title }}에서 검색해보세요!">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta name = "twitter : card" content="summary"> 
<meta name = "twitter : title" content="{{ site_title }}"> 
<meta name = "twitter : description" content="{{ site_title }}에서 검색해보세요!"> 
{% endblock %}

{% block content %}
<style>.post-list { border-top: none; }</style>
<form action="search">
    <input id="search-box" autocomplete="off" name="value" type="text" placeholder="검색어를 입력하세요.">
</form>

<div class="gcse-searchresults-only"></div>
{% endblock %}

{% block footer%}
    {% include 'board/include/footer.html' %}
{% endblock %}

{% block script %}
<script>
    {% if not value %}
    $('#search-box').focus();
    {% else %}
    $('#search-box').val('{{ value }}')
    {% endif %}
</script>
<script async src="https://cse.google.com/cse.js?cx=partner-pub-1254068519466911:9532536280"></script>
{% endblock %}