{% extends 'board/base.html' %}

{% block title %}{{ site_title }} – Search{% endblock %}

{% block seo %}
<meta name="description" content="{{ site_title }}에서 검색해보세요!">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:title" content="{{ site_title }}">
<meta name="og:description" content="{{ site_title }}에서 검색해보세요!">
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta name = "twitter : card" content="summary"> 
<meta name = "twitter : title" content="{{ site_title }}"> 
<meta name = "twitter : description" content="{{ site_title }}에서 검색해보세요!"> 
{% endblock %}

{% block content %}
<style>.post-list { border-top: none; }</style>
<form action="search">
    <input id="search-box" autocomplete="off" name="value" type="text" placeholder="검색어를 입력하세요.">
</form>

<div id="card-wrapper" class="row">
{% for post in posts %}
    {% include 'board/include/post_card.html' %}
{% endfor %}
</div>
{% endblock %}

{% block footer%}
    {% include 'board/include/footer.html' %}
{% endblock %}

{% block image-script %}
<script>
    {% if not value %}
    $('#search-box').focus();
    {% else %}
    $('#search-box').val('{{ value }}')
    {% endif %}
</script>
<div id="return-position" class="col-lg-6 mx-auto alert alert-dark noto text-center fixed-bottom" style="display: none;" role="alert">
        <i class="fas fa-spinner fa-pulse"></i> 원래의 자리를 찾아가는 중
    </div>
<script src="{{ static_url }}/assets/library/InfiniteScroll.js"></script>
<script type="text/javascript">
var postWrapperId = 'card-wrapper';
var paginatePath = '/search?value={{ value }}&page=';
var lastPage = {{ posts.paginator.num_pages }};
new InfiniteScroll(paginatePath, postWrapperId, lastPage);
</script>
{% endblock %}