{% extends 'board/base.html' %}

{% block title %}{% if subtitle %}Your {{ subtitle }}{% else %}Setting{% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 mb-4">
        <ul class="nav serif text-right sticky-top sticky-top-100" style="display: block; border-right: 2px solid #8c00ff;">
            <li class="nav-item">
                <a class="nav-link vivid-purple{% if tab == 'account'%} disabled{% endif %}" href="?tab=account">계정 수정</a>
            </li>
            <li class="nav-item">
                <a class="nav-link vivid-purple{% if tab == 'profile'%} disabled{% endif %}" href="?tab=profile">프로필 수정</a>
            </li>
            <li class="nav-item">
                <a class="nav-link vivid-purple{% if tab == 'series'%} disabled{% endif %}" href="?tab=series">시리즈 편집</a>
            </li>
            <li class="nav-item">
                <a class="nav-link vivid-purple{% if tab == 'analysis'%} disabled{% endif %}" href="?tab=analysis">글 분석</a>
            </li>
        </ul>
    </div>
    <style>
    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: #8c00ff;
        background-color: #8c00ff;
    }
    </style>
    <div class="col-lg-9">
        {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
        {% if message %}<div class="alert alert-success">{{ message }}</div>{% endif %}
        {% if tab == 'account' %}
            {% include 'board/include/setting_page/account.html'%}
        {% endif %}
        {% if tab == 'profile' %}
            {% include 'board/include/setting_page/profile.html'%}
        {% endif %}
        {% if tab == 'series' %}
            {% include 'board/include/setting_page/series.html'%}
        {% endif %}
        {% if tab == 'analysis' %}
            {% include 'board/include/setting_page/analysis.html'%}
        {% endif %}
        {% if not subtitle %}
            <img width="100%" src="{{ static_url }}/assets/images/default-post.png">
        {% endif  %}
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'board/include/footer.html' %}
{% endblock %}

{% block image-script %}
<script type="text/javascript" src="{{ static_url }}/assets/js/setting.js"></script>
<script>
    $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
</script>
{% endblock %}