{% with site_title='BLEX' site_url='https://your.domain' site_description='BLOG EXPRESS' static_url='https://static.your.domain' static_version='version=1.0.0' %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if white_nav %}
    <meta name="theme-color" content="#fff">
    {% else %}
    <meta name="theme-color" content="#000">
    {% endif %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {% block head %}
    {% endblock %}
</head>
{% if night_mode %}
<body class="dark">
{% else %}
<body>
{% endif %}
    {% block body %}
    {% endblock %}
</body>
</html>
{% endwith %}