{% extends 'board/base.html' %}

{% block title %}{{ user.username }} ({{ user.first_name }}){% endblock %}

{% block seo %}
<meta name="description" content="{{ site_description }} {{ user.username }}({{ user.first_name }})">
<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:title" content="{{ site_title }} - {{ user.username }}">
<meta name="og:description" content="{{ site_description }} {{ user.username }}({{ user.first_name }})">
{% if user.profile.avatar %}<meta property="og:image" content="{{ user.profile.avatar.url }}">{% endif %}
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta property="og:type" content="blog">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ site_title }} - {{ user.username }}">
<meta name="twitter:url" content="{{ site_url }}{{ request.get_full_path }}">
<meta name="twitter:description" content="{{ site_description }} {{ user.username }}({{ user.first_name }})">
{% if user.profile.avatar %}<meta property="twitter:image" content="{{ user.profile.avatar.url }}">{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-12 padding-remove">
    <div class="user-profile">
        {% if user.profile.avatar %}
        <picture>
            <img class="user-avatar" src="{{ user.profile.avatar.url }}"/>
        </picture>
        {% else %}
        <picture>
            <img class="user-avatar" src="{{ static_url }}/assets/images/default-avatar.jpg"/>
        </picture>
        {% endif %}
        <h4 class="serif username">{{ user.first_name }}</h4>
        <h5 class="serif">@{{ user.username }}</h5>
        {% if user.profile.homepage %}<a class="vivid-purple" href="https://{{ user.profile.homepage }}">https://{{ user.profile.homepage }}</a>{% endif %}
        <p class="user-profile-desc mt-5">
            {% if user.profile.bio %}
                {{ user.profile.bio|linebreaksbr }}<br>
            {% endif%}
            {% if request.user.is_active %}
            <a class="vivid-purple" href="mailto:{{ user.email }}">{{ user.email }}</a>
            {% else %}
            <a class="vivid-purple" href="{% url 'login' %}">Sign in to view email</a>
            {% endif %}
        </p>
        <ul class="social-link">
            {% if user.profile.github %}<li><a class="vivid-purple" href="https://github.com/{{ user.profile.github }}"><i class="fab fa-github-square"></i></a></li>{% endif %}
            {% if user.profile.twitter %}<li><a class="vivid-purple" href="https://twitter.com/{{ user.profile.twitter }}"><i class="fab fa-twitter-square"></i></a></li>{% endif %}
            {% if user.profile.youtube %}<li><a class="vivid-purple" href="https://youtube.com/channel/{{ user.profile.youtube }}"><i class="fab fa-youtube-square"></i></a></li>{% endif %}
            {% if user.profile.facebook %}<li><a class="vivid-purple" href="https://facebook.com/{{ user.profile.facebook }}"><i class="fab fa-facebook-square"></i></a></li>{% endif %}
            {% if user.profile.instagram %}<li><a class="vivid-purple" href="https://instagram.com/{{ user.profile.facebook }}"><i class="fab fa-instagram"></i></a></li>{% endif %}
        </ul>
    </div>
</div>
</div>
</div>
{% if user.profile.avatar %}
<div class="profile-tab back-image" style="background-image:url({{ user.profile.avatar.url }})">
{% else %}
<div class="profile-tab back-image" style="background-image:url({{ static_url }}/assets/images/default-avatar.jpg)">
{% endif %}
    <div class="mask">
        <ul class="serif">
            <li><a href="{% url 'user_profile' username=user %}">포스트</a></li>
            <li><a href="{% url 'user_profile_tab' username=user tab='series' %}">시리즈</a></li>
            <li><a href="{% url 'user_profile_tab' username=user tab='activity' %}">활동</a></li>
        </ul>
    </div>
</div>

{% if not tab %}
<div id="user-posts" class="container">
    <div class="row">
        <div class="profile-tags col-lg-3">
            {% if tags %}
            <ul class="mt-4 noto">
                <h5 class="serif">카테고리</h5>
                <li><a {% if not selected_tag %}class="active"{% endif %} href="{% url 'user_profile' username=user %}">전체<span class="ns">({{ posts_count }})</span></a></li>
                {% for tag in tags %}
                <li><a {% if selected_tag == tag.name %}class="active"{% endif %} href="{% url 'user_profile_topic' username=user tag=tag.name %}">{{ tag.name }}<span class="ns">({{ tag.count }})</span></a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="col-lg-8 mt-4">
        {% load tagging_tags %}
        <div id="wrapper">
        {% for post in elements %}
            <div class="profile-post">
                {% if post.image %}
                <a href="{{ post.get_absolute_url }}">
                    <picture>
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" loading="lazy"/>
                    </picture>
                </a>
                {% endif %}
                <h4 class="card-title serif font-weight-bold mt-3">
                    <a class="deep-dark" href="{{ post.get_absolute_url }}">{{ post.title | truncatechars:50 }}</a>
                </h4>
                <p class="noto"><a class="shallow-dark" href="{{ post.get_absolute_url }}">{{ post.text_html | striptags | truncatewords:50 }}</a></p>
                {% tags_for_object post as tags %}
                {% if tags %}
                <ul class="tag-list">
                    {% for tag in tags %}
                    <li><a href="{% url 'user_profile_topic' username=user tag=tag.name %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if tab == 'series' %}
<div id="wrapper">
{% for mseries in elements %}
    {% if mseries.posts.first %}
    <div onmousedown="saveLatelyPosition()">
        {% if mseries.posts.first.image %}
        <div class="post-list" style="background-image: url({{ mseries.posts.first.image.url }})">
        {% else %}
        <div class="post-list" style="background-image: url({{ static_url }}/assets/images/default-post.png)">
        {% endif %}
            <a href="{{ mseries.get_absolute_url }}" class="post-title">
                <div class="post-mask">
                    <h3 class="serif">'{{ mseries }}' 시리즈</h3>
                    <span class="date">{{ mseries.created_date | date:'' }}</span>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endif %}

{% if tab == 'activity' %}
<div class="container profile-activity">
    <div class="col-lg-9 mx-auto p-0">
        <ul id="wrapper" class="p-0 noto">
            {% for active in elements %}
            <li onmousedown="saveLatelyPosition()">
            {% if active.text_md %}
            <i class="fas fa-edit"></i>
            <a class="shallow-dark" href="{{ active.get_absolute_url }}">'{{ active.title }}'</a> 글을 작성하였습니다.
            {% elif active.text %}
            <i class="fas fa-comment"></i>
            <a class="shallow-dark" href="{{ active.post.get_absolute_url }}">'{{ active.post }}'</a>에 댓글을 남겼습니다.
            <blockquote>{{ active.text }}</blockquote>
            {% elif active.owner %}
            <i class="fas fa-bookmark"></i>
            <a class="shallow-dark" href="{{ active.get_absolute_url }}">'{{ active.name }}'</a>시리즈를 생성하였습니다.
            {% else %}
            <i class="fas fa-heart"></i>
            <a class="shallow-dark" href="{{ active.get_absolute_url }}">'{{ active }}'</a>글을 추천했습니다.</li>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}

{% block footer%}
    {% include 'board/include/footer.html' %}
{% endblock %}

{% block image-script %}
<div id="return-position" class="col-lg-6 mx-auto alert alert-dark noto text-center fixed-bottom" style="display: none;" role="alert">
    <i class="fas fa-spinner fa-pulse"></i> 원래의 자리를 찾아가는 중
</div>
<script src="{{ static_url }}/assets/library/InfiniteScroll.js"></script>
<script type="text/javascript">
var postWrapperId = 'wrapper';
var paginatePath = '{{ request.get_full_path }}?page=';
var lastPage = {{ elements.paginator.num_pages }};
new InfiniteScroll(paginatePath, postWrapperId, lastPage);
{% if selected_tag %}
moveSlide('wrapper');
{% endif %}
</script>
{% endblock %}