@import 'var';

.preview {
    padding: 14px;
    overflow: hidden;
    @include BACKGROUND;
}

.editor {
    :global(.CodeMirror) {
        font-size: 1.028rem;
        line-height: 2;
        word-break: keep-all;
        overflow-wrap: anywhere;
    }

    :global(.editor-preview) {
        background-color: #fff;
    }

    :global(.editor-toolbar) {
        position: sticky;
        top: 76px;
        z-index: 5;
        @include BACKGROUND;
    }

    :global(.editor-toolbar button.heading-2::after) {
        content: '';
    }

    :global(.editor-toolbar.disabled-for-preview button:not(.no-disable)) {
        opacity: 0.2;
    }

    :global(body.dark) & {
        :global(.CodeMirror) {
            color: #ccc;
            background-color: inherit;
        }

        :global(.CodeMirror),
        :global(.editor-toolbar),
        :global(.editor-toolbar > .separator) {
            border-color: #555;
        }

        :global(.editor-toolbar > button) {
            color: #dedede;
        }

        :global(.cm-s-easymde .CodeMirror-cursor) {
            border-color: #dedede;
        }

        :global(.editor-toolbar > .active),
        :global(.editor-toolbar > button:hover),
        :global(.editor-preview pre),
        :global(.cm-s-easymde .cm-comment) {
            background: #353535;
        }
    }
}
