@forward "@baejino/style/css/reset.css";
@forward "@baejino/ui/css/main.css";
@forward "./variables.css";
@forward "./forwarded.scss";
@forward "./tailwind.css";
@forward "./fontawesome.scss";

body {
    font-family: 'SpoqaHanSansNeo', -apple-system, BlinkMacSystemFont, sans-serif;
    word-break: keep-all;
    overflow-wrap: anywhere;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-fast);
}

.notification__container {
    top: 88px;
}

.notification__item {
    background-color: var(--color-white);
    color: var(--color-black);
    border-right: none;
    border-bottom: none;
    border-top: none;
    box-shadow: none;
    border-radius: 0;
    padding: 18px;

    .notification__close {
        color: var(--color-black);
    }
}

[x-cloak] {
    display: none !important;
}
