@forward "@baejino/style/css/reset.css";
@forward "@baejino/ui/css/main.css";
@forward "./forwarded.scss";
@forward "./tailwind.css";

a {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-fast);
}

.notification__item {
    background-color: #fff;
    color: #000;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

[x-cloak] {
    display: none !important;
}
