@use "./forwarded.scss";
@use "./fontawesome.scss";

@layer base {
    body {
        font-family: 'SpoqaHanSansNeo', -apple-system, BlinkMacSystemFont, sans-serif;
        word-break: keep-all;
        overflow-x: hidden;
        overflow-wrap: anywhere;
    }

    [x-cloak] {
        display: none !important;
    }
}
