@forward "@baejino/style/css/reset.css";
@forward "./variables.css";
@forward "./forwarded.scss";
@forward "./tailwind.css";
@forward "./fontawesome.scss";

body {
    font-family: 'SpoqaHanSansNeo', -apple-system, BlinkMacSystemFont, sans-serif;
    word-break: keep-all;
    overflow-wrap: anywhere;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-fast);
}

[x-cloak] {
    display: none !important;
}
