<div id="series-modal" class="modal fade noto" id="eidtModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'series_update' spk=series.pk %}" method="post">
            <div class="modal-body">
                {% csrf_token %}
                <div class="input-group mb-2 mr-sm-2 mt-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">시리즈명</div>
                    </div>
                    {{ form.name }}
                </div>
                <p>{{ form.posts }}</p>
                <p>{{ form.text_md }}</p>
                <div class="custom-control custom-checkbox mb-3 noto">
                    <input type="checkbox" name="thread_style" id="id_style" class="custom-control-input" {% if series.layout == 'book' %}checked{% endif %}>
                    <label class="custom-control-label" for="id_style">스레드 스타일</label>
                </div>
                <div class="custom-control custom-checkbox mt-3">
                    {{ form.hide }}
                    <label class="custom-control-label" for="id_hide">시리즈 숨기기</lable>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancle</button>
                <button type="submit" class="btn btn-dark">Update</button>
            </div>
            </form>
        </div>
    </div>
</div>