@import 'var';

.tools {
    text-align:center;
    user-select: none;

    p {
        font-size: 0.95rem;
    }

    ul {
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: inline-block;
            margin-bottom: 15px;
            color: rgba(0,0,0,.33);
            cursor: pointer;

            :global(body.dark) & {
                color: #aaa;
            }

            i {
                transition: color 0.2s;
                font-size: 20px;

                &:hover {
                    color: $COLOR_DEFAULT_PRIMARY;

                    :global(body.dark) & {
                        color: $COLOR_DARK_PRIMARY;
                    }
                }
            }
        }
    }
}

.layout {
    position: relative;
    border: 1px solid #eee;

    :global(body.dark) & {
        border: 1px solid #444;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 1.028em;
        line-height: 2;
        display: block;
        overflow: hidden;
        background: none;
        resize: none;
        transition: opacity 0.5s;
    
        &:focus {
            outline: none;    
        }
    
        opacity: 0;
        pointer-events: none;
    
        &.isEdit {
            opacity: 1;
            pointer-events: initial;
        }
    
        :global(body.dark) & {
            color: #ccc;
        }
    }
    
    .preview {
        transition: opacity 0.5s;
        opacity: 1;
        pointer-events: initial;
    
        &.isEdit {
            opacity: 0;
            pointer-events: none;
        }
    }
}