@import 'mixin';;

.top-nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    @include MAIN_SHADOW;
    @include BACKGROUND;
    transition: transform 0.4s ease;
    transform: translate(0, 0);

    &.isRollup {
        transform: translate(0, -100%);
    }

    .logo {
        img {
            width: 30px;

            :global(body.dark) & {
                filter: invert(1);
            }
        }
    }

    ul.items {
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        align-items: center;

        & > li {
            display: inline-block;
            cursor: pointer;
            
            button {
                margin: 0;
                padding: 0;
                color: #555;
                background: none;
                border: none;

                :global(body.dark) & {
                    color: #ccc;
                }
            }

        }

        & > li.profile {
            img {
                height: 30px;
                width: 30px;
                border-radius: 100%;
                object-fit: cover;
                margin-right: 5px;
            }
        }

        & > li.notify {
            position: relative;

            & > span {
                position: absolute;
                pointer-events: none;
                bottom: 0;
                right: -4px;
                background: crimson;
                border-radius: 100%;
                padding: 0 4px;
                font-size: 8px;
                color: #fff;
            }
        }

        & > li.get-start {
            :global(.hide-primary-button) & {
                display: none;
            }

            & > button {
                background: $COLOR_DEFAULT_SECONDARY;
                border-radius: 100px;
                padding: 6px 12px;
                white-space: nowrap;
                color: #fff !important;
            }
        }
    }
}
