@import 'mixin';

.breadcrumb {
    display: flex;
    gap: $MARGIN_SIZE_2;

    &> :not(:last-child) {
        &:after {
            @include COLOR_GRAY;
            content: '>';
            margin-left: $MARGIN_SIZE_2;
        }
    }

    .depth {
        @include COLOR_DARK;
    }

    .current {
        font-weight: 600;
    }
}