@import 'var';

@keyframes left-in {
    from {
        opacity: 0;
        transform: scale(0) translate(-100%, -50%);
    }
  
    to {
        opacity: 1;
        transform: scale(1) translate(-100%, 0);
    }
}

@keyframes right-in {
    from {
        opacity: 0;
        transform: scale(0) translate(10%, -50%);
    }
  
    to {
        opacity: 1;
        transform: scale(1) translate(10%, 0);
    }
}

.menu {
    position: absolute;
    min-width: 120px;
    z-index: 5;

    &.left {
        transform: translateX(-100%);
        animation: left-in 0.2s ease-in;
    }

    &.right {
        transform: translateX(10%);
        animation: right-in 0.2s ease-in;
    }
    
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);

    :global(body.dark) & {
        background-color: $COLOR_DARK_BACKGROUND;
        box-shadow: none;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        :not(:last-child) {
            border-bottom: 1px solid #f7f7f7;

            :global(body.dark) & {
                border-bottom: 1px solid #525252;
            }
        }

        li {
            padding: 8px 12px;
            width: 100%;
            cursor: pointer;
            a {
                color: #333 !important;

                :global(body.dark) & {
                    color: #eee !important;
                }
            }

            &.disable {
                opacity: 0.3;
            }

            &:first-child {
                border-radius: 5px 5px 0 0;
            }

            &:last-child {
                border-radius: 0 0 5px 5px;
            }
            
            &:hover {
                background-color: #eee;

                :global(body.dark) & {
                    background-color: #666;
                }
            }
        }
    }
}

.button {
    display: block;
    min-width: 20px;
    text-align: center;
    cursor: pointer;
}