@import 'mixin';;

.box {
    &.sticky {
        position: sticky;
        top: 100px;
    }

    & > .section:not(:last-child) {
        border-bottom: 1px solid #ccc;
        padding-bottom: 8px;
        margin-bottom: 8px;

        :global(body.dark) & {
            border-bottom: 1px solid #444;
        }
    }

    .section {
        .title {
            @include COLOR_ASHGRAY;
            font-size: 12px;
        }

        .sub-item {
            transition: background-color 1s ease;

            :hover {
                background-color: rgba(255, 255, 255, 0.3);

                :global(body.dark) & {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            .active {
                border-radius: 8px;
                @include BACKGROUND;
                @include SUB_SHADOW;
            }

            a {
                @include COLOR_DARK;
                text-decoration: none;
            }
        }
    }
}

