@import 'mixin';;

@keyframes like-it {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.actions {
    user-select: none;
    position: sticky;
    top: 200px;

    p {
        font-size: 0.95rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        list-style: none;
        padding: 0;

        li {
            color: rgba(0,0,0,.33);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            :global(body.dark) & {
                color: #aaa;
            }

            i {
                transition: color 0.2s;
                font-size: 20px;
                
                &:global(.fa-heart.fas) {
                    animation: like-it 0.5s ease-out 1;
                    color: $COLOR_DEFAULT_PRIMARY;

                    :global(body.dark) & {
                        color: $COLOR_DARK_PRIMARY;
                    }
                }

                &:hover {
                    color: $COLOR_DEFAULT_PRIMARY;

                    :global(body.dark) & {
                        color: $COLOR_DARK_PRIMARY;
                    }
                }

                &:global(.fa-facebook:hover) {
                    color: #3b5998 !important;
                }

                &:global(.fa-twitter:hover) {
                    color: #00acee !important;
                }

                &:global(.fa-pinterest:hover) {
                    color: #c51f26 !important;
                }
            }

            span {
                display: block;

                @media (max-width: 1120px) {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 1120px) {
        position: fixed;
        z-index: 999;
        top: initial;
        left: 0;
        bottom: 0;
        width: 100%;
        backdrop-filter: blur(10px);
        @include MAIN_SHADOW;
        @include BACKGROUND;
        padding: 1rem;

        ul {
            flex-direction: row;
            gap: 1.5rem;
        }
    }
}
