{% extends 'board/base.html' %}

{% block title %}{% if subtitle %}Your {{ subtitle }}{% else %}Setting{% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 mb-4">
        <ul class="nav serif text-right sticky-top sticky-top-100" style="display: block; border-right: 2px solid #8c00ff;">
            <li class="nav-item">
                <a class="nav-link vivid-purple{% if tab == 'account'%} disabled{% endif %}" href="{% url 'setting_tab' tab='account' %}">계정</a>
            </li>
            <li class="nav-item">
                <a class="nav-link vivid-purple{% if tab == 'profile'%} disabled{% endif %}" href="{% url 'setting_tab' tab='profile' %}">프로필</a>
            </li>
            <li class="nav-item">
                <a class="nav-link vivid-purple{% if tab == 'series'%} disabled{% endif %}" href="{% url 'setting_tab' tab='series' %}">시리즈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link vivid-purple{% if tab == 'posts'%} disabled{% endif %}" href="{% url 'setting_tab' tab='posts' %}">포스트</a>
            </li>
            <li class="nav-item">
                <a class="nav-link vivid-purple{% if tab == 'thread'%} disabled{% endif %}" href="{% url 'setting_tab' tab='thread' %}">스레드</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-9">
        {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
        {% if message %}<div class="alert alert-success">{{ message }}</div>{% endif %}
        {% if tab == 'account' %}
            {% include 'board/setting/include/account.html'%}
        {% endif %}
        {% if tab == 'profile' %}
            {% include 'board/setting/include/profile.html'%}
        {% endif %}
        {% if tab == 'series' %}
            {% include 'board/setting/include/series.html'%}
        {% endif %}
        {% if tab == 'posts' %}
            {% include 'board/setting/include/posts.html'%}
        {% endif %}
        {% if tab == 'thread' %}
            {% include 'board/setting/include/thread.html'%}
        {% endif %}
        {% if not subtitle %}
            <img width="100%" src="{{ static_url }}/assets/images/default-post.png">
        {% endif  %}
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'board/common/include/footer.html' %}
{% endblock %}