@import 'var';

.article-nav {
    position: sticky;
    top: 120px;
    margin: 15px 0;
    max-height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        margin-bottom: 2px;
    }

    @media (max-width: 1120px) {
        display: block;
        max-height: initial;

        li {
            margin-bottom: 6px;
        }
    }

    &::-webkit-scrollbar {
        width: 3px;        
    }

    &::-webkit-scrollbar-thumb {
        background-color: #eee;
    }

    .title-1 {
        margin-left: 0px;
    }

    .title-2 {
        margin-left: 20px;
    }

    .title-3 {
        margin-left: 50px;
    }

    .title-1::before,
    .title-2::before,
    .title-3::before {
        width: 0px;
    }

    a {
        color: #ccc;
        cursor: pointer;

        body.dark & {
            color: #777;
        }
    }

    a.nav-now {
        color: #000 !important;

        body.dark & {
            color: #fff !important;
        }
    }

    a {
        transition: all 0.3s;
        color: rgba(0, 0, 0, 0.3);
        display: block;
        white-space: nowrap;
        font-size: 14px;
        margin: 3px;

        &:hover {
            color: #777;
            text-decoration: none;
        }
    }
}
