@import 'var';

.article-nav {
    margin: 15px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    @media (prefers-reduced-motion: reduce) {
        transition: none;

        &:hover {
            transform: none;
        }
    }
}

.article-nav-inner {
    padding: 20px;
    background-color: rgb(238, 238, 250);
    border-radius: 8px;

    &.dark-mode {
        background-color: #333;
        color: #fff;
    }
}

.article-nav-title {
    margin-bottom: 15px;
    font-weight: bold;
    border-bottom: 1px solid #acacac;
    padding-bottom: 10px;

    .dark-mode & {
        border-bottom: 1px solid #555;
    }
}

.article-nav-content {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-left: 2px solid #eee;

        .dark-mode & {
            border-left: 2px solid #555;
        }
    }

    li {
        word-break: keep-all;
        overflow-wrap: anywhere;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding-left: 10px;
    }

    a {
        transition: all 0.3s;
        color: rgba(0, 0, 0, 0.6);
        display: block;
        font-size: 14px;
        padding: 3px 0;

        .dark-mode & {
            color: rgba(255, 255, 255, 0.6);
        }

        &:hover {
            color: #0066ff;
            text-decoration: none;

            .dark-mode & {
                color: #66a3ff;
            }
        }

        &.active {
            color: #0066ff;
            font-weight: 500;

            .dark-mode & {
                color: #66a3ff;
            }
        }
    }
}

@media (max-width: $BREAKPOINT_DESKTOP-LARGE) {
    .article-nav {
        display: block;
        max-height: initial;
        position: relative;
        top: 0;
    }

    .article-nav-content {
        ul {
            gap: 4px;
        }

        li {
            margin-bottom: 4px;
        }
    }
}
