<div {% if comment.author == request.user %}id="comment-{{ comment.pk }}"{% endif %}>
    <div class="comment-list">
        <a href="{% url 'user_profile' username=comment.author %}">
            {% if comment.author.profile.avatar %}
            <div class="back-image thumb comment-thumb" style="background-image:url({{ comment.author.profile.avatar.url }})"></div>
            {% else %}
            <div class="back-image thumb comment-thumb" style="background-image:url({{static_url}}/assets/images/default-avatar.jpg)"></div>
            {% endif %}
        </a>
        <a class="font-weight-bold deep-dark" href="{% url 'user_profile' username=comment.author %}">{{ comment.author }}</a>
        <br>
        <small>{{ comment.created_date | timesince }}전{% if comment.edit %} <span class="vs">edited</span>{% endif %}</small>
        {% if comment.author == request.user %}
            <a class="vs shallow-dark" href="javascript:void(0)" onclick="editComment({{comment.pk}})">수정</a>
            <a class="vs shallow-dark" href="javascript:void(0)" onclick="removeComment({{comment.pk}});">삭제</a>
        {% else %}
            {% if request.user.is_active %}
            <a class="vs shallow-dark" href="javascript:void(0)" onclick="tagging('{{comment.author}}')">태그</a>
            {% endif %}
        {% endif %}
        <div class="mt-3 noto">{{ comment.text|linebreaks }}</div>
    </div>
</div>