.series {
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    li {
        display: flex;
        align-items: center;
        gap: 8px;
        word-break: keep-all;
        overflow-wrap: anywhere;
    }

    .count {
        margin-left: 5px;
        display: inline-block;
        font-size: 10px;
        padding: 0 3px;
        color: #888;
        border: 1px solid #ccc;
        border-radius: 5px;
        flex: 0 0 auto;

        :global(body.dark) & {
            color: #ccc;
            border: 1px solid #888;
        }
    }
}