@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }

@keyframes blink {0% {opacity: 0;} 20% {opacity: 1;} 80% {opacity: 1;} 100% {opacity: 0;}}
@-moz-keyframes blink {0% {opacity: 0;} 20% {opacity: 1;} 80% {opacity: 1;} 100% {opacity: 0;}}
@-webkit-keyframes blink {0% {opacity: 0;} 20% {opacity: 1;} 80% {opacity: 1;} 100% {opacity: 0;}}
@-o-keyframes blink {0% {opacity: 0;} 20% {opacity: 1;} 80% {opacity: 1;} 100% {opacity: 0;}}
.blink
{
    animation: blink 6s infinite;
    -moz-animation: blink 6s infinite;
    -webkit-animation: blink 6s infinite;
    -o-animation: blink 6s infinite;
}

.g-sans-b {
    font-family: 'GmarketSansBold';
}
.g-sans-m {
    font-family: 'GmarketSansMedium';
}
.g-sans-l {
    font-family: 'GmarketSansLight';
}
.intro {
    padding-top: 8vh;
}
.main-title {
    font-size: 4.5em;
    word-break: keep-all;
}
.get-start {
    color: #fff;
    border: none;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    background: #706fd3;
}
.intro-topics {
    padding: 0;
}
.intro-topics > li {
    font-family: 'Noto Sans KR';
    word-break: keep-all;
    line-height: 3.3em;
    display: inline;
    list-style: none;
    padding: 10px 20px 10px 20px;
    background: #eee;
    border-radius: 30px;
    text-transform: uppercase;
}