/* VARIABLE */

$serif: 'Noto Serif KR', serif;
$gothic: -apple-system, BlinkMacSystemFont, 'Noto Sans KR', sans-serif;

$vivid-purple: #8c00ff;
$smooth-purple: #b181da;

$deep-dark: rgba(0, 0, 0, 0.839);
$shallow-dark: rgba(0, 0, 0, 0.541);
$gray-dark:rgba(160, 160, 160, 0.541);

/* CLASS : ANIMATION */
@keyframes slide-bottom {0% {margin-top: -100px;}100% {margin-top: 0px;}}
@-moz-keyframes slide-bottom {0% {margin-top: -100px;}100% {margin-top: 0px;}}
@-webkit-keyframes slide-bottom {0% {margin-top: -100px;}100% {margin-top: 0px;}}
@-o-keyframes slide-bottom {0% {margin-top: -100px;}100% {margin-top: 0px;}}
.slide-bottom
{
    animation: slide-bottom .5s 1;
    -moz-animation: slide-bottom .5s 1;
    -webkit-animation: slide-bottom .5s 1;
    -o-animation: slide-bottom .5s 1;
}
@keyframes fade-in {0% {opacity: 0;} 100% {opacity: 1;}}
@-moz-keyframes fade-in {0% {opacity: 0;} 100% {opacity: 1;}}
@-webkit-keyframes fade-in {0% {opacity: 0;} 100% {opacity: 1;}}
@-o-keyframes fade-in {0% {opacity: 0;} 100% {opacity: 1;}}
.fade-in
{
    animation: fade-in 3s 1;
    -moz-animation: fade-in 3s 1;
    -webkit-animation: fade-in 3s 1;
    -o-animation: fade-in 3s 1;
}
@keyframes blurring {0% {background-color: rgba(0, 0, 0, 0); } 100% {background-color: rgba(0, 0, 0, 0.7); }}
@-moz-keyframes blurring {0% {background-color: rgba(0, 0, 0, 0); } 100% {background-color: rgba(0, 0, 0, 0.7); }}
@-webkit-keyframes blurring {0% {background-color: rgba(0, 0, 0, 0); } 100% {background-color: rgba(0, 0, 0, 0.7); }}
@-o-keyframes blurring {0% {background-color: rgba(0, 0, 0, 0); } 100% {background-color: rgba(0, 0, 0, 0.7); }}
.blurring
{
    animation: blurring .5s 1;
    -moz-animation: blurring .5s 1;
    -webkit-animation: blurring .5s 1;
    -o-animation: blurring .5s 1;
}
@keyframes mask-off {0% {background-color: rgba(0,0,0,1);} 100% {background-color: rgba(0,0,0,0.5);}}
@-moz-keyframes mask-off {0% {background-color: rgba(0,0,0,1);} 100% {background-color: rgba(0,0,0,0.5);}}
@-webkit-keyframes mask-off {0% {background-color: rgba(0,0,0,1);} 100% {background-color: rgba(0,0,0,0.5);}}
@-o-keyframes mask-off {0% {background-color: rgba(0,0,0,1);} 100% {background-color: rgba(0,0,0,0.5);}}
.mask-off
{
    animation: mask-off 7s 1;
    -moz-animation: mask-off 7s 1;
    -webkit-animation: mask-off 7s 1;
    -o-animation: mask-off 7s 1;
}
@keyframes movebtn {0% { right : 23px; } 100% { right : 80px; }}
@-moz-keyframes movebtn {0% { right : 23px; } 100% { right : 80px; }}
@-webkit-keyframes movebtn {0% { right : 23px; } 100% { right : 80px; }}
@-o-keyframes movebtn {0% { right : 23px; } 100% { right : 80px; }}
/* ------------------------------ */
/* CLASS : FONTS */
.serif {
    font-family: $serif;
}
.noto {
    font-family: $gothic;
}
/* ------------------------------ */
/* CLASS : FONTS SIZE */
.ns {
	font-size:14px;
}
.vs {
	font-size:10px;
}
/* ------------------------------ */
/* CLASS : FONTS COLOR */
.vivid-purple {
    color: $vivid-purple;

    &:hover {
        color: $vivid-purple;
        text-decoration: none;    
    }
}
.deep-dark {
    color: $deep-dark;

    &:hover {
        color: $deep-dark;
        text-decoration: none;    
    }
}
.shallow-dark {
    color: $shallow-dark;

    &:hover {
        color: $shallow-dark;
        text-decoration: none;
    }
}
.gray-dark {
    color: $gray-dark;

    &:hover {
        color: $gray-dark;
        text-decoration: none;
    }
}
/* ------------------------------ */
/* CLASS : BACKGROUND COLOR */
.color-dark {
    background: rgba(0,0,0,.84);
    color: #fff;
}
.bg-rlight {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, .98);
}
.bg-rdark {
    background: rgba(0, 0, 0, .98);
    border: none;
}
.bg-rlight .form-control {
    border: none;
    background: #eee;
    color: #000;
}
.bg-rdark .form-control {
    border: none;
    background: #333;
    color: #fff;
}
.bg-border-purple {
    border-radius: 5px;
    border: 1px solid $vivid-purple;
}
/* ------------------------------ */
/* CLASS : USEFUL */
.c-pointer {
    cursor: pointer;
}
.h-150 {
    height: 150px;
}
.fade-mask {
    background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,1))
}
.thick-mask {
    background-color: rgba(0,0,0,0.75);
}
.fade-mask, .thick-mask {
    width: 100%;
    height: 100%;
    color: #fff;
}
.none-list {
    list-style: none;
    padding-left: 0;
    display: inline;
}
.none-list li { 
    display: inline-block;
}
.padding-remove {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.mobile-disable {
    display: none;
}
.pc-disable {
    display: block;
}
.content {
    margin-top: 120px;
    word-break:break-all;
    margin-bottom: 40px;

    @media only screen and (max-width: 991px) {
        margin-top: 45px;
    }    
}
@media only screen and (min-width: 991px) {
    .mobile-disable {
        display: block;
    }
    .pc-disable {
        display: none;
    }
}
/* ------------------------------ */
/* CLASS : TAG */
.tag-list {
    list-style: none;
    padding-left: 0;

    li {
        display: inline;
        background-color:#f8f9fa;
        border-radius: 3px;
        padding: 5px;
        margin: 2px;
        line-height: 2.35;
        white-space: nowrap;
    }

    a {
        &::before {
            content: '#';
            color: $vivid-purple;
            font-weight: bold;
        }

        color: #777;

        &:hover {
            color: #000;
            text-decoration: none;        
        }
    }
}
.tag-card .title::before {
    content: '#';
    color: $smooth-purple;
    font-weight: bold;
}
/* ------------------------------ */
/* CLASS : PAGENATION */

@media only screen and (max-width: 991px) {
    .pgnav {
        text-align: center;
    }
}
.pgnav {
    margin-top: 30px;
}
.pi {
    text-align: center;
    line-height: 1.6em;
    width: 1.8em;
    font-size: 1.025em;
}
.pl {
    color: #3a3a3a;
}
.pl:hover {
    color: $vivid-purple;
    text-decoration: none;
}
.ps {
    float: right;
}
.ps .pn {
    background: none;
    border: 1px solid #8e44ad;
    border-radius: 5px;
    padding: 2px;
    width: 50px;
}
.ps .gp {
    border: none;
    background: none;
}
.ps *:focus {
    outline: none;
}
.pgnav .active {
    border: 2px solid #9b59b6;
    text-align: center;
    color: #fff;
    border-radius: 100%;
}
.pgnav .disabled .pl {
    color: #cfcfcf;
}
/* ------------------------------ */
/* USER : THUMBNAIL */
.thumb {
    float: left;
    border-radius: 100%;
    background: #fff;
}
.list-thumb {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.author-thumb {
    width: 120px;
    height: 120px;
    margin-right:25px;
}
.comment-thumb {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
/* ------------------------------ */
/* NOTIFY : CONTENT */
#notify-content {
    position: fixed;
    top: 70px;
    right: 5px;
    z-index: 9999;
}
/* ------------------------------ */
/* ARTICLE : WRITE */
.article-w-title {
    width: 100%;
    padding: 12px;
    border: 0;
    background: #1A1A17;
    color: #fff;
    font-size: 18px;
    font-weight: bold;

    &::placeholder {
        color: #ccc;
    }

    &:focus {
        outline: 0;
    }
}
.article-w-content {
    border: 0;
    background: #1A1A17;
    color: #fff;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    height: 80vh;
}
.editormd {
    margin-bottom: 3px;
}
/* ------------------------------ */
/* HOME : COMMON */
.card-subtitle {
    text-transform: capitalize;
}
.write-btn {
    cursor: pointer;
    position: fixed;
    right: 23px;
    bottom: 23px;
    background: rgba(0,0,0,1);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    z-index: 10;
}
.write-btn i {
    padding-top: 12px;
    font-size: 24px;
}
.back-btn {
    right: 80px;
    animation: movebtn 0.5s 1;
}
.full-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}
.full-mask.light {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(0px);
}
.center-list {
    text-align: center;
}
.center-list ul {
    margin-top: 50vh;
    transform: translateY(-50%);
    list-style: none;
    padding-left: 0px;
}
.center-list li {
    margin: 15px;
}
.center-list a {
    color: #fff;
}
.center-list a:hover {
    text-decoration: none;
}
.center-list a:hover::before,
.center-list a:hover::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #fff;
    width: 2rem;
    margin: 0 1rem;
    transform: translateY(-5px);
}
.sub-image-1, .sub-image-2, .sub-image-3 {
    height:200px;
}
.notice-hr {
	border-bottom: 1px solid #eee;
}
.sort-nav {
    border-bottom: 1px solid #ccc;
}
.sort-nav li.active {
    border-bottom: 2px solid #000; padding-bottom: 6px;
}
.sort-nav li a {
    color: #ccc;
    font-size: 18px;
    margin-left:15px;
    margin-right:15px;
    text-decoration: none;
}
.sort-nav li.active a {
    color: #000;
}
.fill-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.list-image,
.feature-image {
    width: 100%;
    height: 250px;
    float: initial;
    margin-left: 0;
    border: 1px solid #fafafa;
}
.feature-image {
    height: 150px;
    object-fit: cover;
}
@media only screen and (max-width: 991px) {
    .list-image {
        width: 150px;
        height: 150px;
        float: right;
        margin-left: 20px;
    }

    .feature-image {
        height: 200px;
    }
}
/* ------------------------------ */
/* POSTS : DETAIL : COMMON */
.bg-series {
    border-top: 1px solid #ddd;
}
.bg-comment {
    border-top: 1px solid #ddd;
    background-color: rgba(0,0,0,0.05);
}
.s-shadow {
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.1);
}

.comment-content {
    font-family: $gothic;

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.2em;
        font-family: $serif;
        font-weight: 600;    
    }
    
    a {
        color: #a7a7a7;
        
        &:hover {
            text-decoration: none;        
        }
    }

    blockquote {
        border-left: 4px solid #9c56d4;
        background: #f8f8f8;
        padding: 10px;

        p {
            margin-bottom: 0;
        }
    }

    img, video {
        max-width: 100%;
    }
}

#comment-form {
    .form-control {
        box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.1);
        border: 0;
        border-radius: 0;    

        :focus {
            box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.1);
        }
    }
}

.rel-post-image {
	width: 100%;
	height: 250px;
}
.header-title {
    color: #fff;
	border-bottom: #ddd solid 1px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

footer { 
    color: #ccc;
    
    a {
        color: #999;
        
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }

    .footer-title { 
        color: #fff;    
    }

    .bg-rdark {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
}
.mainheading {
    margin-top: 100px;
}
.sticky-top-200 {
    top: 200px !important;
    margin-bottom: 30px;
}
.sticky-top-100 {
    top: 100px !important;
    margin-bottom: 30px;
}
@media only screen and (min-width: 991px) {
    .sticky-margin-top-40 {
        margin-top:150px;
        margin-bottom:90px;
    }
}
.author-info a {
    color:#000;
}
.author-info a:hover {
    color:#444;
}
.author-info p {
    margin-bottom:0px;
}
.author-description {
    color: #aaa;
}
.author-state {
    padding: 0;
    margin: 5px 0;
}
.follow-badge {
    cursor: pointer;
}
.author-state li {
    display: inline-block;
}
.btn.follow {
    border-color:#333;
    color:#333;
    text-align:center;
    border-radius:50px;
    font-size:0.75rem;
    display:inline-block;
}  
.post-top-meta .btn.follow {
    margin-left:5px;
    margin-top:-5px;
}
.fill-full {
    width: 100%;
    height: 100%;
}
.back-image {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.gradient-hr {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
.show-up {
    transition: all 0.3s;
    box-shadow: rgba(0,0,0,0.03) 0 5px 16px 1px;
}
.show-up:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0,0,0,0.1) 0 10px 16px 1px;
}
/* ------------------------------ */
/* POSTS : DETAIL : NONE TITLE IMAGE */
.post-headline {
    font-family: $serif;
    font-weight: bold;
    font-size: 2rem;
}
.post-date {
    font-size: 0.8rem;
}
.post-series {
    display: block;
    font-size: 16px;
    margin-bottom:5px;
}
/* ------------------------------ */
/* POSTS : DETAIL : WITH TITLE IMAGE */
.post-title-image .post-headline,
.post-title-image .post-date {
    width: 95%;
    text-align: center;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}
.post-title-image .post-headline {
    bottom: 48vh;
}
.post-title-image .post-date {
    bottom: 3vh;
}
@media (max-width: 768px) {
    .post-title-image .post-date {
        bottom: 10vh;
    }
}
.post-title-image > img {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    object-fit: cover;
}
.post-image-mask {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}
/* ------------------------------ */
/* POSTS : DETAIL : AUTHOR */
.post-top-meta {
    margin-bottom:2rem;
    padding:20px;
    margin-top:30px;
}
/* ------------------------------ */
/* POSTS : DETAIL : ARTICLE */
.article { 
    min-width: 100%;
    font-size: 1.028em;
    line-height: 1.865;
    word-break: break-all;

    * {
        max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.6rem;
        margin: 1em 0 1em;
        font-weight: bold;
        font-family: $serif;
    }

    h1, h2 {
        padding-bottom: 12px;
        border-bottom: 1px solid #ccc;
    }

    h5, h6 {
        font-size: 1.2rem;
    }
    
    p, ul, ol, table, div, pre {
        margin: 0 0 1em;
    }

    div {
        p {
            margin: 0;
        }
    }

    ul, ol {
        padding-left: 30px;
    }

    a {
        color: $vivid-purple;

        &:hover {
            color: $smooth-purple;
            text-decoration: none;
        }
    }

    code {
        color: #000;
        background-color: #eee;
        border-radius: 5px;
        padding: 2px;      
    }

    pre {
        background: #2d2d2d;
        overflow-x: auto;
        font-family: monospace;
        padding: 1em;
        font-size: 1em;
        line-height: 1.5;

        code {
            color: #fff !important;
            background-color: rgba(0, 0, 0, 0);
        }

        a {
            text-decoration: none;
            color: #888;
        }
    }

    .rouge-gutter {
        border-right: 1px solid #888;
    }

    img, video {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }

    blockquote {
        font-style: italic;
        padding-left: 20px;
        border-left: 3px solid #000;
        color: #aaa;
    }

    table {
        display: block;
        overflow: auto;
        width: 100%;

        th {
            font-weight: 600;
        }

        th, td {
            word-break: keep-all;
            border: 1px solid #dfe2e5;
            padding: 6px 13px;
        }

        tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;
    
            &:nth-child(2n) {
                background-color: #f6f8fa;
            }
        }
    }
}
/* ------------------------------ */
/* POSTS : DETAIL : ARTICLE NAVIGATION */
#article-nav {
    position: sticky;
    max-height: 85vh;
    overflow-y: hidden;
    overflow-x: hidden;

    .title-1::before,
    .title-2::before,
    .title-3::before {
        transition: all 0.3s;
        content: '';
        display: inline-block;
        transform: translateY(-100%);
        position: relative;
        border-top: 2.5px solid #ccc;
    }

    .title-1::before {
        width: 40px;
    }

    .title-2::before {
        width: 20px;
    }

    .title-3::before {
        width: 10px;
    }

    .nav-now.title-1::before,
    .nav-now.title-2::before,
    .nav-now.title-3::before {
        border-color: #000;
    }

    &:hover {
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 3px;        
        }

        &::-webkit-scrollbar-thumb {
            background-color: #eee;
        }

        .title-1 {
            transform: translateX(5px);
        }
    
        .title-2 {
            transform: translateX(15px);
        }
    
        .title-3 {
            transform: translateX(30px);
        }

        .title-1::before,
        .title-2::before,
        .title-3::before {
            width: 0px;
        }

        a {
            color: #ccc;
            cursor: pointer;
        }

        a.nav-now {
            color: #000 !important;
        }
    }

    a {
        transition: all 0.3s;
        color: rgba(0, 0, 0, 0);
        display: block;
        white-space: nowrap;
        font-size: 14px;
        margin: 3px;

        &:hover {
            color: #777;
            text-decoration: none;
        }

        &::selection {
            background: rgba(0, 0, 0, 0);   
        }
        
        &::-moz-selection {
            background: rgba(0, 0, 0, 0);
        }
    }
}
/* ------------------------------ */
/* POSTS : DETAIL : ARTICLE ACTION BAR (SIDE) */
.share {
    text-align:center;

    @media (max-width: 768px) {
        margin-top:30px;
    }

    p {
        margin-bottom: 10px;
        font-size: 0.95rem;    
    }

    ul {
        padding-left: 0;

        li {
            display:inline-block;
            margin-bottom:15px;

            a {
                color:rgba(0,0,0,.33);

                i {
                    transition: transform 0.2s;
                    font-size: 20px;

                    &:hover {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}
#heart .fas {
    color: #000;
}
/* POSTS : DETAIL : COMMENT */
.comment-list {
    word-break: break-word;
    background: #fff;
    margin-bottom: 15px;
    padding: 20px;
}
/* ------------------------------ */
/* PROFILE : LAYOUT */
.user-avatar {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #ccc;
    margin: 15px;
    object-fit: cover
}
.user-profile {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}
.username::before {
    content: "";
    color: rgb(88,43,116);
}
.username::after {
    content: "";
    color: rgb(28,121,96);
}
.user-profile h5 {
    color: #777;
    font-size: 17px;
}
.user-profile h4 {
    font-weight: bold;
    font-size: 24px;
}
.user-profile-desc::before {
    content: '';
    display: block;
    position: relative;
    margin: 10px auto;
    border-top: 3px solid $vivid-purple;
    width: 30px;
}
.user-profile-desc::after {
    content: '';
    display: block;
    position: relative;
    margin: 10px auto;
    border-top: 3px solid $vivid-purple;
    width: 30px;
}
.user-profile-desc {
    line-height: 1.75;
}
.social-link {
    list-style: none;
    padding-inline-start: 0px;
}
.social-link li {
    display: inline;
}
.social-link i {
    font-size: 25px;
}
.post-list {
    background-image: url(https://static.blex.kr/assets/images/post-default.jpg);
    background-size: cover, cover;
    background-position: center;
    text-align: center;
    height: 300px;
    border-bottom: 1px solid #eee;
}
.post-mask {
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    width: 100%;
    height: 100%;
    padding-top: 130px;
    background-color: rgba(255, 255, 255, 1);
}
.post-mask:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.post-list > a {
    text-decoration: none;
    color: #000;
}
.post-list > a:hover {
    text-decoration: none;
    color: #fff;
}
.profile-tab {
    width: 100%;
    height: 100px;
    background-image: url(https://static.blex.me/assets/images/default-post.png)
}
.profile-tab ul {
    padding: 0;
    padding-top: 15px;
    list-style: none;
    text-align: center;;
}
.profile-tab li {
    display: inline-block;
    font-size: 1.2rem;
    margin: 20px;
    cursor: pointer;
}
.profile-tab li a {
    color: #fff;
    text-decoration: none;
}
.profile-activity li {
    list-style: none;
    border: 3px solid #eee;
    margin: 10px 0;
    padding: 20px;
    overflow: hidden;
    word-wrap: break-word;
}
.profile-activity blockquote {
    margin: 10px 0px;
    padding: 10px;
    border-left: 3px solid #ccc;
}
.profile-tags ul {
    list-style: none;
    padding-left: 0;
}
.profile-tags h5 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.profile-tags li {
    margin: 5px;
}
.profile-tags li {
    margin: 5px;
}
.profile-tags li a {
    color: #b1b1b1;
    text-decoration: none;
}
.profile-tags li a.active {
    color: #000000;
}
@media only screen and (max-width: 991px) {
	.profile-tags {
        overflow-x: scroll;
    }
    .profile-tags ul {
        white-space: nowrap;
    }
    .profile-tags ul > h5 {
        display: none;
    }
    .profile-tags li {
        display: inline-block;
    }
}
.profile-post {
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #eee;
}
.profile-post picture > img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.profile-post p {
    word-break:break-all;
}
#heatmap {
    position: relative;
    min-height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
}
#heatmap > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.top-post-slide {
    height:300px;
    overflow:hidden;
}
.top-post-slide ul {
    width:calc(100% * 4);
    display:flex;
    animation:slide 16s infinite;
    margin:0;
    padding:0;
    list-style: none;
}
.top-post-slide li {
    text-align: center;
    width:calc(100% / 4);
    height:300px;
    margin:0;
}
.top-post-slide .mask {
    padding:20px;
    padding-top:80px;
}
.top-post-slide a {
    text-decoration: none;
}
@keyframes slide {
    0% {margin-left:0;}
    10% {margin-left:0;}
    25% {margin-left:-100%;}
    35% {margin-left:-100%;}
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    75% {margin-left:-300%;}
    85% {margin-left:-300%;}
    100% {margin-left:0;}
}
/* ------------------------------ */
/* SERIES : LAYOUT */
.series-title-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
}
.series-list {
    margin-top: 65vh;
}
.series-list > .col-lg-8 {
    min-height: 150px;
}
.series-list-image {
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 20px;
    border: 1px solid #ccc;
}
.series-list p {
    word-break: break-all;
}
.series-desc {
	position: relative;
	width: 100%;
}
.series-desc blockquote {
	position: relative;
	margin: 0;
    padding: 1em 1.5em;
    line-height: 1.7;
	border-radius: 0.3em;
	background: #f8f8f8;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.series-desc blockquote::after {
	position: absolute;
	right: 0.8em;
	bottom: -8px;
	width: 0;
	height: 0;
	content: '';
	border-width: 10px 10px 0 10px;
	border-style: solid;
	border-color: #f8f8f8 transparent transparent transparent;
	filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.3));
}
.series-desc .author {
	position: relative;
	top: 15px;
	right: 0;
	width: 100%;
	text-align: right;
}
.series-desc .author img {
	display: inline-block;
	width: 45px;
	height: 45px;
	border: 1px solid #3a3a3a;
	border-radius: 50%;
	object-fit: cover;
	filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.3));
}
/* ------------------------------ */
/* THREAD AND STORY */
#thread-bookmark {
    color: #414141;
    font-size: 2em;
    margin-bottom: 10px;
}
.h7 {
    font-size: 0.8rem;
}
.story-card {
    margin-bottom: 1rem;
}
.hide {
    display: none;
}
.selection {
    color: #aaa;
}
.selection li {
    transition: all 0.1s;
    margin: 5px;
}
.selection .active {
    color: #424242;
}
#thread {
    display: flex;
    flex-direction: column;
}
#thread-detail {
    margin-top: 100px;
}
.reverse {
    flex-direction: column-reverse !important;
}
@media (max-width: 991px) {
    .story-title {
        display: inline-block;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.top-menu {
    position: fixed;
    z-index: 997;
    transition: margin-left 0.5s;
    top: 15px;
    color: #ccc;
    border: 1px solid #ccc;
    margin-left: 0;
    cursor: pointer;
    padding: 0 0.5em;
    font-size: 1.45em;
    background-color: #fff;

    &.hover {
        color: #777;
    }

    &.closer {
        left: calc(300px + 15px);
    }

    &.closed {
        margin-left: -300px;
    }
}
.thread-sidebar {
    position: fixed;
    top: 0;
    z-index: 996;
    margin-left: 0px;
    transition: margin-left 0.5s;
    left: 0;
    width: 300px;
    height: 100vh;
    padding: 55px 15px 0px 15px;
    overflow-y: scroll;
    background-color: #f8f8f8;

    &::-webkit-scrollbar {
        width: 3px;        
    }

    &::-webkit-scrollbar-thumb {
        background-color: #aaa;
    }

    img {
        width: 100%;
        margin-top: 15px;
    }

    .title {
        margin: 15px 0;
        font-size: 1.35em;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }

    ul {
        padding-left: 0;
        list-style: none;

        li {
            margin: 18px 0;
            cursor: pointer;
            color: #777777;
            text-decoration: none;

            &:hover {
                color: #c99cff;
            }

            &.active {
                color: $vivid-purple;
            }
        }
    }

    &.closed {
        margin-left: -300px;
    }
}
@media only screen and (min-width: 700px) {
    .thread-body {
        padding-left: 300px;
        transition: padding-left .5s;
    }
    .thread-body.closed {
        padding-left: 0px;
    }
}
/* ------------------------------ */
/* SETTING */
.element-lock .fa-lock {
    color: #b00;
}
.element-lock .fa-lock-open {
    color: #0b0;
}
.setting-list-info {
    list-style: none;
    padding-left: 0px;
}
.setting-list-info li {
    display: inline-block;
    margin: 5px;
}
.blex-card {
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.1);
    background: #fff;
    width: 100%;
    display: block;
}
.setting-body {
    padding-top: 45px;
    background: #f3f3f3;
    min-height: 100vh;
}
.setting-user-thumb {
    width: 100%;
    height: 200px;
}
/* ------------------------------ */
/* LOGIN PAGE */
.login-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: blur(1.5rem);
}
.login-cover {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.login-title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}
.login-desc {
    color: #acacac;
    margin-bottom: 15px;
}
.login-form {
    color: #fff;
    border: none;
    font-size: 0.9em;
    width: 100%;
    border-radius: 3rem;
    padding: 15px 20px;
    background: #494949;
}
.login-form:focus {
    outline: none;
}
.login-button {
    color: #fff;
    border: none;
    font-size: 0.9em;
    width: 100%;
    border-radius: 3rem;
    padding: 15px 0;
    background: #000000;
}
/* ------------------------------ */
.menu {
    left: 15px;
    top: 15px;
    position: fixed;
    z-index: 999;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-position: center;
    background-size: cover;
    transition: opacity 0.2s;

    &.on {
        background-image: url('https://static.blex.me/assets/images/logor.png');    
    }

    &.off {
        background-image: url('https://static.blex.me/assets/images/logo.png');
    }

    &:hover {
        opacity: 1 !important;
    }

    /*
    @media only screen and (max-width: 991px) {
        position: absolute;
    }
    */
}

.side-menu {
    background-color: #000;
    position: fixed;
    z-index: 998;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 280px;
    top: 15px;
    left: 15px;
    width: 35px;
    height: 35px;
    transition: all 0.2s;

    .bottom {
        position: absolute;
    }

    &.off {
        top: 15px;
        left: 15px;
        width: 0px;
        height: 0px;

        * {
            display: none;
        }
    }

    &.on {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        padding: 65px 15px;
    }

    .search {
        padding: 12px 0;
        font-size: 16px;
        width: 100%;
        border: none;
        background: none;
        border-bottom: 1px solid #888;
        color: #fff;
        margin-bottom: 30px;

        &::placeholder {
            color: #888;
        }

        &:focus {
            border-bottom: 1px solid #fff;
            outline: none;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #666;

        a {
            color: #eee;
            font-size: 16px;
            line-height: 2;

            &:hover {
                color: $smooth-purple;
                text-decoration: none;
            }
        }
    }
}
.side-menu a {
    color: #000;
}
/* ------------------------------ */
/* DARK THEME MODE */
body.dark {
    background-color: #292929;
    color: #d6d6d6;
}
body.dark .toast-header {
    background: #1d1d1d;
    color: #fff;
}
body.dark .toast-body {
    background: #000;
    color: #dbdbdb;
}
body.dark .share,
body.dark .share a {
    color: #aaa;
    fill: #aaa;
}
body.dark .vivid-purple,
body.dark .article a {
    color: #03c0e4;
}
body.dark .article a:hover{
    color: #797979;
}
body.dark .article pre {
    background: #000;
}
body.dark .article table td,
body.dark .article table th {
    border: 1px solid #555;
}
body.dark .article table thead tr,
body.dark .article table tr:nth-child(2n) {
    background-color: #000;
}
body.dark .article table tr {
    background-color: #292929;
}
body.dark .author-info a {
    color: #dadada;
}
body.dark .deep-dark {
    color: #e0e0e0 !important;
}
body.dark .shallow-dark {
    color: #a7a7a7 !important;
}
body.dark .article code {
    color: #fff;
    background-color: #000;
}
body.dark .article blockquote {
    border-left: 3px solid #a5a5a5;
}
body.dark form .form-control,
body.dark form .form-control:focus {
    border: none;
    color: #ccc;
    background-color: #1d1d1d;
}
body.dark #heart .fas {
    color: #fff;
}
body.dark .form-control::placeholder {
    color: #ccc;
}
body.dark #article-nav:hover a.nav-now {
    color: #fff !important;
}
body.dark #article-nav:hover a {
    color: #777;
}
body.dark #article-nav:hover a:hover {
    color: #ccc;
}
body.dark .title-1::before,
body.dark .title-2::before,
body.dark .title-3::before {
    border-top: 2.5px solid #777;
}
body.dark .nav-now.title-1::before,
body.dark .nav-now.title-2::before,
body.dark .nav-now.title-3::before {
    border-color: #ccc;
}
body.dark .tag-list li {
    background-color:#3b3b3b;
}
body.dark .tag-list a {
    color: rgb(202, 202, 202);
}
body.dark .tag-list a:hover {
    color: #fff;
    text-decoration: none;
}
body.dark .tag-list a:before {
    content: '#';
    color: #fff;
    font-weight: bold;
}
body.dark .user-avatar {
    background: #000;
    border: 1px solid #333;
}
body.dark .bg-comment {
    border-top: 1px solid #333;
}
body.dark .comment-list {
    background-color: #1d1d1d;
}
body.dark .user-profile-desc::before,
body.dark .user-profile-desc::after {
    border-top: 3px solid #03c0e4;
}
body.dark .profile-tags li a {
    color: #727272;
}
body.dark .profile-tags li a.active {
    color: #cccccc;
}
body.dark .pl,
body.dark .gp,
body.dark .pn {
    color: #c7c7c7;
}
body.dark .pgnav .active{
    border: 2px solid #03c0e4;
}
body.dark .ps .pn{
    border: 1px solid #03c0e4;
}
body.dark .profile-post{
    border-bottom: 2px solid #aaa;
}
body.dark .alert-dark {
    color: #c4c4c4;
    border-color: #414141;
    background-color: #3f3f3f;
}
body.dark .bg-light, body.dark .btn-dark {
    background-color: #3f3f3f !important;
}
body.dark .foot-deco-active {
    border-bottom: 2px solid #fff;
}
body.dark .list-image {
    border: 1px solid #555;
}
body.dark .post-list > a {
    color: #fff;
}
body.dark .post-list {
    border-bottom: 1px solid #555;
}
body.dark .post-mask {
    background-color: rgba(50, 50, 50, 1);
}
body.dark .post-mask:hover {
    background-color: rgba(50, 50, 50, 0.3);
}
body.dark .profile-activity li {
    border: 3px solid #555;
}
body.dark .series-desc blockquote {
    background: #1e1e1e;
}
body.dark .series-desc blockquote::after {
    border-color: #1e1e1e transparent transparent transparent;
}
body.dark .fade-mask {
    background: linear-gradient(to bottom, rgba(0,0,0,0), #292929);
}
body.dark #thread-bookmark {
    color: #cccccc;
}
body.dark #thread .article pre {
    background: #272727;
}
body.dark .card {
    border: none;
}
body.dark .card-header,
body.dark .card-footer {
    background: #1d1d1d;
}
body.dark .card-body {
    background: #000000;
}
body.dark footer a:hover {
    color: #fff;
}
body.dark .selection .active {
    color: #fff;
}
body.dark .modal-content {
    border: none;
}
body.dark .modal-body,
body.dark .modal-footer {
    background: #2e2e2e;
}
body.dark .modal-footer {
    background: #242424;
}
body.dark .custom-file-label {
    color: #ccc;
    border: 1px solid #1d1d1d;
    background-color: #1d1d1d;
}
body.dark .custom-file-label::after,
body.dark .input-group-text {
    background-color: rgb(65, 65, 65);
    border: 0;
    color: #ccc;
}
body.dark .btn {
    color: #fff;
}
body.dark .top-menu,
body.dark .thread-sidebar {
    background-color: #000;
}
body.dark .thread-sidebar .title {
    border-bottom: 1px solid #505050;
}
body.dark .thread-sidebar li {
    color: #bdbdbd;
}
body.dark .thread-sidebar li:hover {
    color: #328899;
}
body.dark .thread-sidebar li.active {
    color: #03c0e4;
}
/* ------------------------------ */
/* OVERWRITE BOOTSTRAP */
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $vivid-purple;
    background-color: $vivid-purple;
}
.jumbotron {
    background: none;
}
.modal-content {
    border-radius: 0;
    background-clip: border-box;
}
.modal-footer {
    background: hsl(0, 0%, 97%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
    border-radius: none;
}
.card {
    border: none;
}
.card-header {
    border-bottom: none;
}
.card-footer {
    border-top: none;
}
.alert-warning {
    border-left: 5px solid #ffc405;
}
.alert-success {
    border-left: 5px solid #4fbb31;
}
.alert-danger {
    border-left: 5px solid #ff5656;
}
.list-group-item {
    word-break: break-all;
}
.custom-file-label {
    overflow: hidden;
}
.form-control:focus {
    box-shadow: none;
}
.navbar-brand img{
    border-radius: .25rem;
}
.sticky-top {
    z-index: 1;
}