/* CLASS : ANIMATION */
@keyframes slide-bottom {0% {margin-top: -100px;}100% {margin-top: 0px;}}
@-moz-keyframes slide-bottom {0% {margin-top: -100px;}100% {margin-top: 0px;}}
@-webkit-keyframes slide-bottom {0% {margin-top: -100px;}100% {margin-top: 0px;}}
@-o-keyframes slide-bottom {0% {margin-top: -100px;}100% {margin-top: 0px;}}
.slide-bottom
{
    animation: slide-bottom .5s 1;
    -moz-animation: slide-bottom .5s 1;
    -webkit-animation: slide-bottom .5s 1;
    -o-animation: slide-bottom .5s 1;
}
@keyframes fade-in {0% {opacity: 0;} 100% {opacity: 1;}}
@-moz-keyframes fade-in {0% {opacity: 0;} 100% {opacity: 1;}}
@-webkit-keyframes fade-in {0% {opacity: 0;} 100% {opacity: 1;}}
@-o-keyframes fade-in {0% {opacity: 0;} 100% {opacity: 1;}}
.fade-in
{
    animation: fade-in 3s 1;
    -moz-animation: fade-in 3s 1;
    -webkit-animation: fade-in 3s 1;
    -o-animation: fade-in 3s 1;
}
@keyframes mask-off {0% {background-color: rgba(0,0,0,1);} 100% {background-color: rgba(0,0,0,0.5);}}
@-moz-keyframes mask-off {0% {background-color: rgba(0,0,0,1);} 100% {background-color: rgba(0,0,0,0.5);}}
@-webkit-keyframes mask-off {0% {background-color: rgba(0,0,0,1);} 100% {background-color: rgba(0,0,0,0.5);}}
@-o-keyframes mask-off {0% {background-color: rgba(0,0,0,1);} 100% {background-color: rgba(0,0,0,0.5);}}
.mask-off
{
    animation: mask-off 7s 1;
    -moz-animation: mask-off 7s 1;
    -webkit-animation: mask-off 7s 1;
    -o-animation: mask-off 7s 1;
}
/* ------------------------------ */
/* CLASS : FONTS */
.serif {
    font-family: 'Noto Serif KR', serif;
}
.noto {
    font-family: 'Noto Sans KR', sans-serif;
}
/* ------------------------------ */
/* CLASS : FONTS SIZE */
.ns {
	font-size:14px;
}
.vs {
	font-size:10px;
}
/* ------------------------------ */
/* CLASS : FONTS COLOR */
.vivid-purple {
    color: #8c00ff;
}
.vivid-purple:hover {
    color: #8c00ff;
}
.deep-dark, .deep-dark:hover {
    color: #000000d6;
    text-decoration: none;
}
.shallow-dark, .shallow-dark:hover {
    color: #0000008a;
    text-decoration: none;
}
/* ------------------------------ */
/* CLASS : BACKGROUND COLOR */
.color-dark {
    background: rgba(0,0,0,.84);
    color: #fff;
}
.bg-rlight {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, .98);
}
.bg-theme {
    background: rgba(0, 0, 0, .98);
    border: none;
}
.bg-border-purple {
    border-radius: 5px;
    border: 1px solid #8c00ff;
}
/* ------------------------------ */
/* CLASS : USEFUL */
.h-150 {
    height: 150px;
}
.fade-mask {
    background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,1))
}
.thick-mask {
    background-color: rgba(0,0,0,0.75);
}
.fade-mask, .thick-mask {
    width: 100%;
    height: 100%;
    color: #fff;
}
.none-list {
    list-style: none;
    padding-left: 0;
    display: inline;
}
.none-list li { 
    display: inline-block;
}
.padding-remove {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.mobile-disable {
    display: none;
}
.pc-disable {
    display: block;
}
.content {
    margin-top: 80px;
    word-break:break-all;
    margin-bottom: 40px;
}
@media only screen and (min-width: 992px) {
    .content {
        margin-top: 105px;
    }
    .mobile-disable {
        display: block;
    }
    .pc-disable {
        display: none;
    }
}
/* ------------------------------ */
/* CLASS : TAG */
.tag-list {
    list-style: none;
    padding-left: 0;
}
.tag-list li {
    display: inline;
    background-color:#f8f9fa;
    border-radius: 3px;
    padding: 5px;
    margin: 2px;
    line-height: 2.35;
    white-space: nowrap;
}
.tag-list a {
    color: #777;
}
.tag-list a:hover {
    color: #000;
    text-decoration: none;
}
.tag-list a:before {
    content: '#';
    color: #8c00ff;
    font-weight: bold;
}
.tag-back {
    text-align: center;
    height: 15vh;
}
.tag-title {
    padding-top: 5vh;
    color: #000;
}
.tag-title::before {
    color: #8c00ff;
    content: '#';
}
/* ------------------------------ */
/* CLASS : PAGENATION */

@media only screen and (max-width: 992px) {
    .pgnav {
        text-align: center;
    }
}
.pgnav {
    margin-top: 30px;
}
.pi {
    text-align: center;
    line-height: 1.6em;
    width: 1.8em;
    font-size: 1.025em;
}
.pl {
    color: #3a3a3a;
}
.pl:hover {
    color: #8c00ff;
    text-decoration: none;
}
.ps {
    float: right;
}
.ps .pn {
    border: 1px solid #8e44ad;
    border-radius: 5px;
    padding: 2px;
    width: 50px;
}
.ps .gp {
    border: none;
    background: none;
}
.ps *:focus {
    outline: none;
}
.pgnav .active {
    border: 2px solid #9b59b6;
    text-align: center;
    color: #fff;
    border-radius: 100%;
}
.pgnav .disabled .pl {
    color: #cfcfcf;
}
/* ------------------------------ */
/* USER : THUMBNAIL */
.thumb {
    float: left;
    border-radius: 100%;
}
.list-thumb {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.author-thumb {
    width: 120px;
    height: 120px;
    margin-right:25px;
}
.comment-thumb {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
/* ------------------------------ */
/* NOTIFY : CONTENT */
#notify-content {
    position: fixed;
    top: 70px;
    right: 5px;
    z-index: 9999;
}
/* ------------------------------ */
/* HOME : COMMON */
.card-title {
    word-break: keep-all;
}
.card-subtitle {
    text-transform: capitalize;
}
.write-btn {
    cursor: pointer;
    position: fixed;
    right: 23px;
    bottom: 23px;
    background: rgba(0,0,0,1);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    z-index: 10;
}
.write-btn i {
    padding-top: 12px;
    font-size: 24px;
}
.sub-image-1, .sub-image-2, .sub-image-3 {
    height:200px;
}
.notice-hr {
	border-bottom: 1px solid #eee;
}
.foot-deco {
    border-bottom: 1px solid #ccc; padding-bottom: 10px;
}
.foot-deco-active {
    border-bottom: 2px solid #000; padding-bottom: 6px;
}
.foot-deco a {
    color: #ccc;
    font-size: 16px;
    margin-left:15px;
    margin-right:15px;
    text-decoration: none;
}
.list-image {
    width: 100%;
    height: 250px;
    min-width: 100%;
    min-height: 250px;
    float: initial;
    margin-left: 0;
    border: 1px solid #ccc;
    object-fit: cover;
}
@media only screen and (max-width: 992px) {
    .list-image {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
        float: right;
        margin-left: 20px;
    }
}
/* ------------------------------ */
/* ACCOUNT */
.account-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}
.account-subtitle {
    margin-bottom: 35px;
    font-size: 1rem;
    color: #555;
}
/* POSTS : DETAIL : COMMON */
.bg-series {
    border-top: 1px solid #ddd;
}
.bg-comment {
    border-top: 1px solid #ddd;
    background-color: rgba(0,0,0,0.05);
}
.s-shadow {
    box-shadow: 0 2px 6px 0 hsl(0, 0%, 0%, 0.1);
}
#comment-form .form-control {
    box-shadow: 0 2px 6px 0 hsl(0, 0%, 0%, 0.1);
    border: 0;
    border-radius: 0;
}
#comment-form .form-control:focus {
    box-shadow: 0 2px 6px 0 hsl(0, 0%, 0%, 0.1);
}
.rel-post-image {
	width: 100%;
	height: 250px;
}
.header-title {
    color: #fff;
	border-bottom: #ddd solid 1px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
footer {
    color: #ccc;
}
footer .footer-title {
    color: #fff;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #fff;
    text-decoration: none;
}
.mainheading {
    margin-top: 100px;
}
.sticky-top-200 {
    top: 200px !important;
    margin-bottom: 30px;
}
.sticky-top-100 {
    top: 100px !important;
    margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
    .sticky-margin-top-40 {
        margin-top:150px;
        margin-bottom:90px;
    }
}
.author-info a {
    color:#000;
}
.author-info a:hover {
    color:#444;
}
.author-info p {
    margin-bottom:0px;
}
.author-description {
    color: #aaa;
}
.author-state {
    padding: 0;
    margin: 5px 0;
}
.follow-badge {
    cursor: pointer;
}
.author-state li {
    display: inline-block;
}
.btn.follow {
    border-color:#333;
    color:#333;
    text-align:center;
    border-radius:50px;
    font-size:0.75rem;
    display:inline-block;
}  
.post-top-meta .btn.follow {
    margin-left:5px;
    margin-top:-5px;
}
.fill-full {
    width: 100%;
    height: 100%;
}
.back-image {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.gradient-hr {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
.show-up {
    transition: all 0.3s;
    box-shadow: rgba(0,0,0,0.03) 0 5px 16px 1px;
}
.show-up:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0,0,0,0.1) 0 10px 16px 1px;
}
/* ------------------------------ */
/* POSTS : DETAIL : NONE TITLE IMAGE */
.post-headline {
    font-family: 'Noto Serif KR', serif;
    word-break: keep-all;
    font-weight: bold;
    font-size: 2rem;
}
.post-date {
    font-size: 0.8rem;
}
.post-series {
    display: block;
    font-size: 16px;
    margin-bottom:5px;
}
/* ------------------------------ */
/* POSTS : DETAIL : WITH TITLE IMAGE */
.post-title-image .post-headline {
    max-width: 550px;
    position: absolute;
    bottom: 120px;
    left: 8%;
}
.post-title-image .post-date {
    position: absolute;
    bottom: 85px;
    left: 8%;
}
.post-title-image > img {
    width: 100%;
    height: 100vh;
    min-height: 50vh;
    object-fit: cover;
}
.post-image-mask {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}
/* ------------------------------ */
/* POSTS : DETAIL : AUTHOR */
.post-top-meta {
    margin-bottom:2rem;
    padding:20px;
    margin-top:30px;
}
/* ------------------------------ */
/* POSTS : DETAIL : ARTICLE */
.article {
  min-width: 100%;
  font-size: 1.028em;
  line-height: 1.865;
  word-break: break-all;
}
.article * {
    max-width: 100%;
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  font-size: 1.6rem;
  margin: 1em 0 1em;
  font-weight: bold;
  font-family: 'Noto Serif KR', serif;
}
.article h1, .article h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}
.article h5, .article h6 {
    font-size: 1.2rem;
}
.article ul, .article ol {
  padding-left: 30px;
}
.article code {
  color: #000;
  background-color: #eee;
  border-radius: 5px;
  padding: 2px;
}
.article pre > code {
    color: #fff !important;
    background-color: initial !important;
    border-radius: initial;
    padding: initial;
}
.article pre {
  background: #2d2d2d;
  overflow-x: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
}
.article .rouge-gutter {
  border-right: 1px solid #888;
}
.article pre > a {
  text-decoration: none;
  color: #888;
}
.article td > pre {
  overflow: initial;
  border: none;
}
.article p, .article ul, .article ol, .article .highlighter-rouge, .article table, .article div {
  margin: 0 0 1em;
}
.article div > p {
    margin: 0;
}
.article img, .article video {
  max-width: 100%;
}
.article blockquote {
    font-style: italic;
    padding-left: 20px;
    border-left: 3px solid #000;
    color: #aaa;
}
.article table {
	display:block;
	overflow:auto;
	width:100%;
}
.article table th {
	font-weight:600;
}
.article table td,
.article table th {
	border:1px solid #dfe2e5;
	padding:6px 13px;
	word-break: keep-all;
}
.article table tr {
	background-color:#fff;
	border-top:1px solid #c6cbd1;
}
.article table tr:nth-child(2n) {
	background-color:#f6f8fa;
}
.article video, .article img {
	max-width: 100%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.article a {
    color: #8c00ff;
    text-decoration: none;
}
.article a:hover{
    color: #b181da;
    text-decoration: none;
}
/* ------------------------------ */
/* POSTS : DETAIL : ARTICLE NAVIGATION */
#article-nav {
    position: sticky;
    max-height: 85vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
#article-nav:hover {
    overflow-y: auto;
}
#article-nav:hover::-webkit-scrollbar {
    width: 3px;
}
#article-nav:hover::-webkit-scrollbar-thumb {
    background-color: #eee;
}
#article-nav a::selection {
	background: rgba(0, 0, 0, 0);
}
#article-nav a::-moz-selection {
	background: rgba(0, 0, 0, 0);
}
#article-nav a {
    transition: all 0.3s;
    color: rgba(0,0,0,0);
    display: block;
    white-space: nowrap;
    font-size: 14px;
    margin: 3px;
}
#article-nav:hover a {
    color: #ccc;
    cursor: pointer;
}
#article-nav a:hover {
    color: #777;
    text-decoration: none;
}
.title-1::before,
.title-2::before,
.title-3::before {
    transition: all 0.3s;
    content: '';
    display: inline-block;
    transform: translateY(-100%);
    position: relative;
    border-top: 2.5px solid #ccc;
}
#article-nav .title-1::before {
    width: 40px;
}
#article-nav .title-2::before {
    width: 20px;
}
#article-nav .title-3::before {
    width: 10px;
}
#article-nav:hover .title-1 {
    transform: translateX(5px);
}
#article-nav:hover .title-2 {
    transform: translateX(15px);
}
#article-nav:hover .title-3 {
    transform: translateX(30px);
}
#article-nav:hover .title-1::before {
    width: 0px;
}
#article-nav:hover .title-2::before {
    width: 0px;
}
#article-nav:hover .title-3::before {
    width: 0px;
}
.nav-now.title-1::before, .nav-now.title-2::before, .nav-now.title-3::before {
    border-color: #000;
}
#article-nav:hover a.nav-now {
    color: #000 !important;
}
/* ------------------------------ */
/* POSTS : DETAIL : ARTICLE ACTION BAR (SIDE) */
.share {
    text-align:center;
}
.share p {
    margin-bottom:10px;
    font-size:0.95rem;
}
.share ul {
    padding-left: 0;
}
.share ul li {
    display:inline-block;
    margin-bottom:15px;
}
.share ul li a i {
    transition: transform 0.2s;
    font-size: 20px;
}
.share ul li a i:hover {
    transform: rotate(360deg);
}
.share, .share a {
    color:rgba(0,0,0,.33);
}
@media (max-width: 768px) {
    .share {
       margin-top:30px;
   }
}
#heart .fas {
    color: #000;
}
/* POSTS : DETAIL : COMMENT */
.comment-list {
    word-break: break-word;
    background: #fff;
    margin-bottom: 15px;
    padding: 20px;
}
/* ------------------------------ */
/* PROFILE : LAYOUT */
.user-avatar {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 1px solid #ccc;
    margin: 15px;
    object-fit: cover
}
.user-profile {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}
.username::before {
    content: "";
    color: rgb(88,43,116);
}
.username::after {
    content: "";
    color: rgb(28,121,96);
}
.user-profile h5 {
    color: #777;
    font-size: 17px;
}
.user-profile h4 {
    font-weight: bold;
    font-size: 24px;
}
.user-profile-desc::before {
    content: '';
    display: block;
    position: relative;
    margin: 10px auto;
    border-top: 3px solid #8c00ff;
    width: 30px;
}
.user-profile-desc::after {
    content: '';
    display: block;
    position: relative;
    margin: 10px auto;
    border-top: 3px solid #8c00ff;
    width: 30px;
}
.user-profile-desc {
    line-height: 1.75;
}
.social-link {
    list-style: none;
    padding-inline-start: 0px;
}
.social-link li {
    display: inline;
}
.social-link i {
    font-size: 25px;
}
.post-list {
    background-image: url(https://static.blex.kr/assets/images/post-default.jpg);
    background-size: cover, cover;
    background-position: center;
    text-align: center;
    height: 300px;
    border-bottom: 1px solid #eee;
}
.post-mask {
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    width: 100%;
    height: 100%;
    padding-top: 130px;
    background-color: rgba(255, 255, 255, 1);
}
.post-mask:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.post-list > a {
    text-decoration: none;
    color: #000;
}
.post-list > a:hover {
    text-decoration: none;
    color: #fff;
}
.profile-tab {
    width: 100%;
    height: 100px;
    background-image: url()
}
.profile-tab ul {
    padding: 0;
    padding-top: 15px;
    list-style: none;
    text-align: center;;
}
.profile-tab li {
    display: inline-block;
    font-size: 1.2rem;
    margin: 20px;
    cursor: pointer;
}
.profile-tab li a {
    color: #fff;
    text-decoration: none;
}
.profile-activity li {
    list-style: none;
    border: 1px solid #eee;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    word-wrap: break-word;
}
.profile-activity blockquote {
    margin: 10px 0px;
    padding: 10px;
    border-left: 3px solid #ccc;
}
.profile-tags ul {
    list-style: none;
    padding-left: 0;
}
.profile-tags h5 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.profile-tags li {
    margin: 5px;
}
.profile-tags li {
    margin: 5px;
}
.profile-tags li a {
    color: #8c00ff;
    text-decoration: none;
}
.profile-tags li a.active {
    color: #777;
}
@media only screen and (max-width: 991px) {
	.profile-tags {
        overflow-x: scroll;
    }
    .profile-tags ul {
        white-space: nowrap;
    }
    .profile-tags ul > h5 {
        display: none;
    }
    .profile-tags li {
        display: inline-block;
    }
}
.profile-post {
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #eee;
}
.profile-post picture > img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.profile-post p {
    word-break:break-all;
}
.top-post-slide {
    height:300px;
    overflow:hidden;
}
.top-post-slide ul {
    width:calc(100% * 4);
    display:flex;
    animation:slide 16s infinite;
    margin:0;
    padding:0;
    list-style: none;
}
.top-post-slide li {
    text-align: center;
    width:calc(100% / 4);
    height:300px;
    margin:0;
}
.top-post-slide .mask {
    padding:20px;
    padding-top:80px;
}
.top-post-slide a {
    text-decoration: none;
}
@keyframes slide {
  0% {margin-left:0;}
  10% {margin-left:0;}
  25% {margin-left:-100%;}
  35% {margin-left:-100%;}
  50% {margin-left:-200%;}
  60% {margin-left:-200%;}
  75% {margin-left:-300%;}
  85% {margin-left:-300%;}
  100% {margin-left:0;}
}
/* ------------------------------ */
/* HOME : SEARCH */
#search-box {
    border: 1px solid #dedede;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    transition: all ease 0.5s 0s;
    -webkit-transition: all ease 0.5s 0s;
}
#search-box::placeholder {
    color: #ccc;
    font-family: 'Noto Serif KR' , serif;
}
#search-box:focus {
    font-size: 20px;
    padding: 30px;
    border-radius: 15px;
    margin-top: 30vh;
    outline: none;
}
.search-box {
    border: 1px solid #dedede;
    padding: 15px;
    border-radius: 15px;
    color: #ccc;
    cursor: pointer;
}
/* ------------------------------ */
/* SERIES : LAYOUT */
.series-title-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
}
.series-list {
    margin-top: 65vh;
}
.series-list > .col-lg-8 {
    min-height: 150px;
}
.series-list-image {
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 20px;
    border: 1px solid #ccc;
}
.series-list p {
    word-break: break-all;
}
/* ------------------------------ */
/* THREAD AND STORY */
.h7 {
    font-size: 0.8rem;
}
.story-card {
    margin-bottom: 1rem;
}
@media (max-width: 992px) {
    .story-title {
        display: inline-block;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/* ------------------------------ */
/* SETTING */
.element-lock .fa-lock {
    color: #b00;
}
.element-lock .fa-lock-open {
    color: #0b0;
}
.setting-list-info {
    list-style: none;
    padding-left: 0px;
}
.setting-list-info li {
    display: inline-block;
    margin: 5px;
}
/* DARK THEME MODE */
.theme-dark {
    background-color: #333;
    color: #eee;
}
.theme-dark .share, .theme-dark .share a {
    color: #ccc;
    fill: #ccc;
}
.theme-dark .rel-posts {
    background-color: #222;
}
.theme-dark .article a {
    color: #fff;
    box-shadow: inset 0 -3px 0 #eef;
}
.theme-dark .article a:hover{
    color: #000;
    box-shadow: inset 0 -1em 0 #fff;
}
.theme-dark .author-info a {
    color: #fff;
}
.theme-dark a.deep-dark {
    color: #fff !important;
}
.theme-dark a.shallow-dark {
    color: #ccc !important;
}
.theme-dark .article code {
    color: #fff;
    background-color: #000;
}
.theme-dark .form-control:focus {
    color: #fff;
    background-color: #000;
}
.theme-dark .form-control {
    background-color: #000;
}
.theme-dark .form-control::placeholder {
    color: #ccc;
}
.theme-dark #article-nav:hover a.nav-now {
    color: #fff !important;
}
.theme-dark #article-nav:hover a {
    color: #777;
}
.theme-dark #article-nav:hover a:hover {
    color: #ccc;
}
.theme-dark .title-1::before,
.theme-dark .title-2::before,
.theme-dark .title-3::before {
    border-top: 2.5px solid #777;
}
.theme-dark .nav-now.title-1::before,
.theme-dark .nav-now.title-2::before,
.theme-dark .nav-now.title-3::before {
    border-color: #ccc;
}
.theme-dark .tag-list li {
    background-color:#555;
}
.theme-dark .tag-list a {
    color: #aaa;
}
.theme-dark .tag-list a:hover {
    color: #fff;
    text-decoration: none;
}
.theme-dark .tag-list a:before {
    content: '#';
    color: #fff;
    font-weight: bold;
}
/* ------------------------------ */
/* OVERWRITE BOOTSTRAP */
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #8c00ff;
    background-color: #8c00ff;
}
.jumbotron {
    background: none;
}
.modal-content {
    border-radius: 0;
    background-clip: border-box;
}
.modal-footer {
    background: hsl(0, 0%, 97%);
    border-top: none;
    border-radius: none;
}
.alert-warning {
    border-left: 5px solid #ffc405;
}
/* ------------------------------ */