@keyframes slide-bottom {0% {top: -100px;}100% {top: 0px;}}
@-moz-keyframes slide-bottom {0% {top: -100px;}100% {top: 0px;}}
@-webkit-keyframes slide-bottom {0% {top: -100px;}100% {top: 0px;}}
@-o-keyframes slide-bottom {0% {top: -100px;}100% {top: 0px;}}
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.serif {
	font-family: 'Noto Serif KR', serif;
}
.noto {
    font-family: 'Noto Sans KR', sans-serif;
}
.ridi {
    font-family: 'RIDIBatang', sans-serif;
}
.slide-bottom
{
    animation: slide-bottom .5s 1;
    -moz-animation: slide-bottom .5s 1;
    -webkit-animation: slide-bottom .5s 1;
    -o-animation: slide-bottom .5s 1;
}
.mobile-disable {
    display: none;
}
.pc-disable {
    display: block;
}
.content {
    margin-top: 80px;
    word-break:break-all;
    margin-bottom: 40px;
}
@media only screen and (min-width: 992px) {
    .content {
        margin-top: 105px;
    }
    .mobile-disable {
        display: block;
    }
    .pc-disable {
        display: none;
    }
}
a.deep-dark {
	color: rgba(0,0,0,.84)!important;
}
a.deep-dark:hover {
	color: rgba(0,0,0,.84)!important;
	text-decoration: none;
}
a.shallow-dark {
	color: rgba(0,0,0,.54)!important;
}
a.shallow-dark:hover {
	color: rgba(0,0,0,.54)!important;
	text-decoration: none;
}
#notify-content {
    position: fixed;
    top: 70px;
    right: 5px;
}
.card-title {
    word-break: keep-all;
}
.card-subtitle {
    text-transform: capitalize;
}
.padding-remove {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.ns {
	font-size:14px;
}
.vs {
	font-size:10px;
}
#login-form > div {
    margin: 15px 0;
}
.sub-image-1, .sub-image-2, .sub-image-3 {
    height:200px;
}
.notice-hr {
	border-bottom: 1px solid #eee;
}
.foot-deco {
    border-bottom: 1px solid #ccc; padding-bottom: 10px;
}
.foot-deco-active {
    border-bottom: 2px solid #000; padding-bottom: 6px;
}
.foot-deco a {
    color: #ccc;
    font-size: 16px;
    margin-left:15px;
    margin-right:15px;
    text-decoration: none;
}
.list-image {
    width: 100%;
    height: 250px;
    min-width: 100%;
    min-height: 250px;
    float: initial;
    margin-left: 0;
    border: 1px solid #ccc;
    object-fit: cover;
}
@media only screen and (max-width: 992px) {
    .list-image {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
        float: right;
        margin-left: 20px;
        border: 1px solid #ccc;
    }
}
.post-title-image > img {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    object-fit: cover;
}
.post-image-mask {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}
.post-headline {
    font-family: 'Noto Serif KR', serif;
    word-break: keep-all;
    font-weight: bold;
    font-size: 2rem;
}
.post-title-image .post-headline {
    max-width: 550px;
    position: absolute;
    bottom: 15%;
    left: 8%;
}
.post-date {
    font-size: 0.8rem;
}
.post-title-image .post-date {
    position: absolute;
    bottom: 11%;
    left: 8%;
}
.rel-post-image {
	width: 100%;
	height: 250px;
}
.rel-posts {
	background-color:#fafafa;
}
.header-title {
	border-bottom: #ddd solid 1px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.share {
    text-align:center;
}
.share p {
    margin-bottom:10px;
    font-size:0.95rem;
}
.share ul li {
    display:inline-block;
    margin-bottom:9px;
}
.share ul {
    padding-left:0;
    margin-left:0;
}
.share ul li i.fa {
    border:1px solid #ddd;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}
.svgIcon {
    vertical-align:middle;
}
.share, .share a {
    color:rgba(0,0,0,.44);
    fill:rgba(0,0,0,.44);
}
@media (max-width: 768px) {
    .share {
       margin-top:30px;
   }
}
.mask {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    color:#fff;
}
.color-dark {
    background: rgba(0,0,0,.84);
    color: #fff;
}
.bg-rlight {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    background: rgba(255,255,255,.98);
}
.bg-theme {
    background: rgba(0,0,0,.84);
    border: none;
}
footer {
    color: #ccc;
}
footer .footer-title {
    color: #fff;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #000;
    text-decoration: none;
}
.mainheading {
    margin-top: 100px;
}
.sticky-top-200 {
    top: 200px !important;
    margin-bottom: 30px;
}
.sticky-top-100 {
    top: 100px !important;
    margin-bottom: 30px;
}
.sticky-margin-top-40 {
    margin-top:40px;
    margin-bottom:40px;
}
@media only screen and (min-width: 992px) {
    .sticky-margin-top-40 {
        margin-top:150px;
        margin-bottom:90px;
    }
    .author-info h5 {
        margin-top:0px;
    }
}
.author-info h5 {
    font-size:10px;
    font-weight:bold;
    margin-top:10px;
}
.author-info a {
    color:#000;
}
.author-info a:hover {
    color:#444;
}
.author-info p {
    margin-bottom:0px;
}
.author-description {
    color: #aaa;
}
.btn.follow {
    border-color:#333;
    color:#333;
    text-align:center;
    border-radius:50px;
    font-size:0.75rem;
    display:inline-block;
}  
.post-top-meta .btn.follow {
    margin-left:5px;
    margin-top:-5px;
}  
.back-image {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
/* THUMB NAIL */
.thumb {
    float: left;
    border-radius: 100%;
}
.list-thumb {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.author-thumb {
    width: 120px;
    height: 120px;
    margin-right:25px;
}
.comment-thumb {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.post-top-meta {
    margin-bottom:2rem;
    padding:20px;
    margin-top:30px;
}
.post-series {
    display: block;
    font-size: 16px;
    margin-bottom:5px;
}
.jumbotron {
    background: none;
}
#comment {
    margin-bottom: 25px;
}
.comment-list {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 20px;
}
/* ARTICLE */
.article {
  margin-top: 30px;
  min-width: 100%;
  font-size: 1.028em;
  line-height: 1.865;
  word-break: break-all;
  margin-top:50px;
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  font-size: 1.6rem;
  margin: 1em 0 1em;
  font-weight: bold;
  font-family: 'Noto Serif KR', serif;
}
.article h1, .article h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}
.article h5, .article h6 {
    font-size: 1.2rem;
}
.article ul, .article ol {
  padding-left: 30px;
}
.article code {
  color: #000;
  background-color: #eee;
  border-radius: 5px;
  padding: 2px;
}
.article pre > code {
    color: #fff !important;
    background-color: initial !important;
    border-radius: initial;
    padding: initial;
}
.article pre {
  background: #2d2d2d;
  overflow-x: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
}
.article .rouge-gutter {
  border-right: 1px solid #888;
}
.article pre > a {
  text-decoration: none;
  color: #888;
}
.article td > pre {
  overflow: initial;
  border: none;
}
.article p, .article ul, .article ol, .article .highlighter-rouge, .article table, .article div {
  margin: 0 0 1em;
}
.article div > p {
    margin: 0;
}
.article img, .article video {
  max-width: 100%;
}
.article blockquote {
    font-style: italic;
    padding-left: 20px;
    border-left: 3px solid #000;
    color: #aaa;
}
.article table {
	display:block;
	overflow:auto;
	width:100%;
}
.article table th {
	font-weight:600;
}
.article table td,
.article table th {
	border:1px solid #dfe2e5;
	padding:6px 13px;
	word-break: keep-all;
}
.article table tr {
	background-color:#fff;
	border-top:1px solid #c6cbd1;
}
.article table tr:nth-child(2n) {
	background-color:#f6f8fa;
}
.article video, .article img {
	max-width: 100%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.article a {
    color: #000;
    box-shadow: inset 0 -3px 0 #999;
    text-decoration: none;
}
.article a:hover{
    color: #fff;
    transition: all 0.3s;
    box-shadow: inset 0 -1em 0 #000;
    text-decoration: none;
}
/* TAG */
.tag-list {
    list-style: none;
    padding-left: 0;
}
.tag-list li {
    display: inline;
    background-color:#f5f5f5;
    border-radius: 3px;
    padding: 5px;
    line-height: 2.35;
    white-space: nowrap;
}
.tag-list a {
    color: #777;
}
.tag-list a:hover {
    color: #000;
    text-decoration: none;
}
.tag-list a:before {
    content: '#';
    color: #8c00ff;
    font-weight: bold;
}
.like-active {
    fill: #8c00ff;
}
#article-nav {
    position: sticky;
    overflow: hidden;
}
#article-nav a::selection {
	background: rgba(0, 0, 0, 0);
}
#article-nav a::-moz-selection {
	background: rgba(0, 0, 0, 0);
}
#article-nav a {
    transition: all 0.3s;
    color: rgba(0,0,0,0);
    display: block;
    white-space: nowrap;
    font-size: 14px;
    margin: 3px;
}
#article-nav:hover a {
    color: #ccc;
    cursor: pointer;
}
#article-nav a:hover {
    color: #777;
    text-decoration: none;
}
.title-1::before,
.title-2::before,
.title-3::before {
    transition: all 0.3s;
    content: '';
    display: inline-block;
    transform: translateY(-100%);
    position: relative;
    border-top: 2.5px solid #ccc;
}
#article-nav .title-1::before {
    width: 40px;
}
#article-nav .title-2::before {
    width: 20px;
}
#article-nav .title-3::before {
    width: 10px;
}
#article-nav:hover .title-1::before {
    width: 0px;
    margin-left: 5px;
}
#article-nav:hover .title-2::before {
    width: 0px;
    margin-left: 15px;
}
#article-nav:hover .title-3::before {
    width: 0px;
    margin-left: 30px;
}
.nav-now.title-1::before, .nav-now.title-2::before, .nav-now.title-3::before {
    border-color: #000;
}
#article-nav:hover a.nav-now {
    color: #000 !important;
}
.tag-back {
    text-align: center;
    height: 15vh;
}
.tag-title {
    padding-top: 5vh;
    color: #000;
}
.tag-title::before {
    color: #8c00ff;
    content: '#';
}
a.page-link {
    color: #8c00ff;
}
/* PROFILE */
.user-avatar {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 1px solid #ccc;
    margin: 15px;
    object-fit: cover
}
.user-profile {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}
.username::before {
    content: "";
    color: rgb(88,43,116);
}
.username::after {
    content: "";
    color: rgb(28,121,96);
}
.user-profile h5 {
    color: #777;
    font-size: 17px;
}
.user-profile h4 {
    font-weight: bold;
    font-size: 24px;
}
.user-profile-desc::before {
    content: '';
    display: block;
    position: relative;
    margin: 10px auto;
    border-top: 3px solid #8c00ff;
    width: 30px;
}
.user-profile-desc::after {
    content: '';
    display: block;
    position: relative;
    margin: 10px auto;
    border-top: 3px solid #8c00ff;
    width: 30px;
}
.user-profile-desc {
    line-height: 1.75;
}
.vivid-purple {
    color: #8c00ff;
}
.vivid-purple:hover {
    color: #8c00ff;
}
.social-link {
    list-style: none;
    padding-inline-start: 0px;
}
.social-link li {
    display: inline;
}
.social-link i {
    font-size: 25px;
}
.post-list {
    background-image: url(https://static.blex.kr/assets/images/post-default.jpg);
    background-size: cover, cover;
    background-position: center;
    text-align: center;
    height: 300px;
    border-bottom: 1px solid #eee;
}
.post-mask {
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    width: 100%;
    height: 100%;
    padding-top: 130px;
    background-color: rgba(255, 255, 255, 1);
}
.post-mask:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.post-list > a {
    text-decoration: none;
    color: #000;
}
.post-list > a:hover {
    text-decoration: none;
    color: #fff;
}
.profile-tab {
    width: 100%;
    height: 100px;
    background-image: url()
}
.profile-tab ul {
    padding: 0;
    padding-top: 15px;
    list-style: none;
    text-align: center;;
}
.profile-tab li {
    display: inline-block;
    font-size: 1.2rem;
    margin: 20px;
    cursor: pointer;
}
.profile-tab li a {
    color: #fff;
    text-decoration: none;
}
.profile-activity li {
    list-style: none;
    border: 1px solid #eee;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    word-wrap: break-word;
}
.profile-activity blockquote {
    margin: 10px 0px;
    padding: 10px;
    border-left: 3px solid #ccc;
}
.profile-tags ul {
    list-style: none;
    padding-left: 0;
}
.profile-tags h5 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.profile-tags li {
    margin: 5px;
}
.profile-tags li {
    margin: 5px;
}
.profile-tags li a {
    color: #8c00ff;
    text-decoration: none;
}
.profile-tags li a.active {
    color: #777;
}
@media only screen and (max-width: 991px) {
	.profile-tags {
        overflow-x: scroll;
    }
    .profile-tags ul {
        white-space: nowrap;
    }
    .profile-tags ul > h5 {
        display: none;
    }
    .profile-tags li {
        display: inline-block;
    }
}
.profile-post {
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #eee;
}
.profile-post picture > img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.profile-post p {
    word-break:break-all;
}
.write-btn {
    cursor: pointer;
    position: fixed;
    right: 23px;
    bottom: 23px;
    background: rgba(0,0,0,1);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    z-index: 10;
}
.write-btn i {
    padding-top: 12px;
    font-size: 24px;
}
.top-post-slide {
    height:300px;
    overflow:hidden;
}
.top-post-slide ul {
    width:calc(100% * 4);
    display:flex;
    animation:slide 16s infinite;
    margin:0;
    padding:0;
    list-style: none;
}
.top-post-slide li {
    text-align: center;
    width:calc(100% / 4);
    height:300px;
    margin:0;
}
.top-post-slide .mask {
    padding:20px;
    padding-top:80px;
}
.top-post-slide a {
    text-decoration: none;
}
@keyframes slide {
  0% {margin-left:0;}
  10% {margin-left:0;}
  25% {margin-left:-100%;}
  35% {margin-left:-100%;}
  50% {margin-left:-200%;}
  60% {margin-left:-200%;}
  75% {margin-left:-300%;}
  85% {margin-left:-300%;}
  100% {margin-left:0;}
}
/* SEARCH */
#search-box {
    border: 1px solid #dedede;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    transition: all ease 0.5s 0s;
    -webkit-transition: all ease 0.5s 0s;
}
#search-box::placeholder {
    color: #ccc;
    font-family: 'Noto Serif KR' , serif;
}
#search-box:focus {
    font-size: 20px;
    padding: 30px;
    border-radius: 15px;
    margin-top: 30vh;
    outline: none;
}
.search-box {
    border: 1px solid #dedede;
    padding: 15px;
    border-radius: 15px;
    color: #ccc;
    cursor: pointer;
}
/* SERIES */
.series-title-image {
    position: absolute;
    text-align: center;
    height: 50vh;
    width: 100%;
    top: 0;
    left: 0;
}
.series-title-image h3 {
    padding-top: 24vh;
}
.series-title-image .user-thumb {
    border-radius: 100%;
    border: 10px solid #fff;
    position: absolute;
    top: 50vh;
    transform:translateY(-50%);
    right: 5%;
    width: 15vh;
    height: 15vh;
}
.series-list {
    margin-top: 60vh;
}
.series-list > .col-lg-8 {
    min-height: 150px;
}
.series-list-image {
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 20px;
    border: 1px solid #ccc;
}
/* THEME PURPLE */
.theme-purple .rel-posts {
	background-color:#eef;
}
.theme-purple .share, .theme-purple .share a {
    color: #474787;
    fill: #474787;
}
.theme-purple .bg-theme {
    background: #474787;
    border: none;
}
.theme-purple .article a {
    color: #8c00ff;
    box-shadow: inset 0 -3px 0 #eef;
}
.theme-purple .article a:hover{
    color: #fff;
    box-shadow: inset 0 -1em 0 #474787;
}
.theme-purple .article blockquote {
    border-left: 3px solid #8c00ff;
}
.theme-purple .article code {
    color: #8c00ff;
    background-color: #eef;
}
/* THEME DARK */
.theme-dark {
    background-color: #333;
    color: #eee;
}
.theme-dark .like-active {
    fill: #ffae00;
}
.theme-dark .share, .theme-dark .share a {
    color: #ccc;
    fill: #ccc;
}
.theme-dark .rel-posts {
    background-color: #222;
}
.theme-dark .article a {
    color: #fff;
    box-shadow: inset 0 -3px 0 #eef;
}
.theme-dark .article a:hover{
    color: #000;
    box-shadow: inset 0 -1em 0 #fff;
}
.theme-dark .author-info a {
    color: #fff;
}
.theme-dark a.deep-dark {
    color: #fff !important;
}
.theme-dark a.shallow-dark {
    color: #ccc !important;
}
.theme-dark .article code {
    color: #fff;
    background-color: #000;
}
.theme-dark .form-control:focus {
    color: #fff;
    background-color: #000;
}
.theme-dark .form-control {
    background-color: #000;
}
.theme-dark .form-control::placeholder {
    color: #ccc;
}
.theme-dark #article-nav:hover a.nav-now {
    color: #fff !important;
}
.theme-dark #article-nav:hover a {
    color: #777;
}
.theme-dark #article-nav:hover a:hover {
    color: #ccc;
}
.theme-dark .title-1::before,
.theme-dark .title-2::before,
.theme-dark .title-3::before {
    border-top: 2.5px solid #777;
}
.theme-dark .nav-now.title-1::before,
.theme-dark .nav-now.title-2::before,
.theme-dark .nav-now.title-3::before {
    border-color: #ccc;
}
.theme-dark .tag-list li {
    background-color:#555;
}
.theme-dark .tag-list a {
    color: #aaa;
}
.theme-dark .tag-list a:hover {
    color: #fff;
    text-decoration: none;
}
.theme-dark .tag-list a:before {
    content: '#';
    color: #fff;
    font-weight: bold;
}