.blex-title-input {
    width: 100%;
    padding: 12px;
    border: 0;
    background: #1A1A17;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.blex-title-input::placeholder { color: #ccc; }
.blex-content-input {
    border: 0;
    background: #1A1A17;
    color: #fff;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    height: 80vh;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #8c00ff;
    background-color: #8c00ff;
}
.editormd { margin-bottom: 3px; }
body { background: #1A1A17; }
@keyframes movebtn {
    0% { right : 23px; }
    100% { right : 80px; }
}
.cancle-btn {
    right: 80px;
    animation: movebtn 0.5s 1;
}