{% extends 'board/small/base.html' %}

{% block title %}Series Update{% endblock %}

{% block form %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark">수정</button>
    <button type="button" onclick="remove_check();" class="btn btn-dark">삭제</button>
    <button type="button" onclick="dialog_close()" class="btn btn-dark">닫기</button>
</form>
{% endblock %}

{% block script %}
<script>
    function remove_check() {
        if (confirm('정말 삭제합니까?') == true) {
            location.href='{% url 'series_remove' spk=spk %}';
        } else {
            return;
        }
    }
    function dialog_close() {
        self.close();
    }
</script>
{% endblock %}