<nav class="menu off">
    <img src="{{ static_url }}//assets/images/logo.png">
</nav>

<div class="side-menu off serif">
    <div class="inner">
        <form method="GET" action="/search">
            <input autocomplete="off" type="text" class="search" name="value" value="" placeholder="Serach">
        </form>
        <ul class="menu-item">
            <a href="{% url 'post_sort_list' %}"><li>인기 포스트</li></a>
            <a href="{% url 'post_sort_list' sort='newest' %}"><li>최신 포스트</li></a>
            <a href="{% url 'post_sort_list' sort='tags' %}"><li>태그 클라우드</li></a>
        </ul>
        {% if request.user.is_active %}
        <ul class="menu-item">
            <a href="javascript:void(0)">
                <li id="write-btn"><i class="fas fa-pencil-alt"></i> 포스트 작성</li>
            </a>
        </ul>
        {% endif %}
        {% if request.user.is_active %}
        <ul class="menu-footer-item">
            <li>
                <a href="{% url 'user_profile' username=request.user %}">
                    <i class="fas fa-user"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'setting' %}">
                    <i class="fas fa-cogs"></i>
                </a>
            </li>
            <li>
                <a id="night" href="javascript:night()">
                    {% if not night_mode %}
                    <i class="fas fa-moon"></i>
                    {% else %}
                    <i class="fas fa-sun"></i>
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i> 로그아웃
                </a>
            </li>
        </ul>
        {% else %}
        <ul class="menu-footer-item">
            <li>
                <a id="night" href="javascript:night()">
                    {% if not night_mode %}
                    <i class="fas fa-moon"></i>
                    {% else %}
                    <i class="fas fa-sun"></i>
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> 로그인</a> / <a href="{% url 'signup' %}">회원가입</a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>