.checkbox {
    margin: 4px 0;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 2px 0;

    .input {
        margin: 0;
        cursor: pointer;
    }

    .label {
        color: #000;
        font-size: 0.9em;
        padding: 0 4px;
        margin: 0;
        user-select: none;
        cursor: pointer;

        :global(body.dark) & {
            color: #eee;
        }
    }
}