<div class="modal fade" id="story{% if story %}-{{ story.pk }}{% endif %}-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form id='image-form' enctype='multipart/form-data'>
        <input name="image" type="file" accept="image/*" style="display: none;" />
    </form>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="story-form">
                {% csrf_token %}
                {{ form.as_p }}
                </form>
                <button id="image-upload-button" type="button" class="btn btn-dark btn-block">이미지 업로드</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancle</button>
                {% if story %}
                <button type="button" onclick="Story.update({{ story.pk }})" class="btn btn-dark">Update</button>
                {% else %}
                <button type="button" onclick="Story.write({{ thread_fk }})" class="btn btn-dark">Create</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>