<form method="POST" action="{% if not thread %}{% url 'thread_create' %}{% else %}{% url 'thread_edit' pk=thread.pk %}{% endif %}" enctype="multipart/form-data">{% csrf_token %}
    <div class="modal fade" id="thread-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        {{ form.title }}
                    </div>
                    <div class="custom-file mb-2">
                        {{ form.image }}
                        <label class="custom-file-label" for="id_image">
                            {% if thread.image %}{{ thread.image.url }}{% else %}대표 이미지를 선택하세요.{% endif %}
                        </label>
                    </div>
                    {{ form.description }}
                    {% if user.is_superuser %}
                    <div class="custom-control custom-checkbox mt-3">
                        {{ form.notice }}
                        <label class="custom-control-label" for="id_notice">공지 등록</lable>
                    </div>
                    {% endif %}
                      <div class="custom-control custom-checkbox mt-3">
                        {{ form.hide }}
                        <label class="custom-control-label" for="id_hide">스레드 숨기기</lable>
                    </div>
                    {% if not thread %}
                    <div class="custom-control custom-checkbox mt-3">
                        {{ form.allow_write }}
                        <label class="custom-control-label" for="id_allow_write">스레드 참여 허용</lable>
                    </div>
                    {% endif %}
                    <div class="input-group mb-2 mr-sm-2 mt-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">TAG</div>
                        </div>
                        {{ form.tag }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancle</button>
                    <button type="submit" class="btn btn-dark">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>