{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <p>{{ warning }}</p>
  <p><strong>대상 {{ object_count }}개</strong></p>

  <ul>
    {% for object in object_preview %}
      <li>{{ object }}</li>
    {% endfor %}
    {% if has_more_objects %}
      <li>외 {{ object_count|add:"-20" }}개</li>
    {% endif %}
  </ul>

  <form method="post">
    {% csrf_token %}
    {% for selected_id in selected_ids %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ selected_id }}">
    {% endfor %}
    <input type="hidden" name="action" value="{{ action_name }}">
    <input type="hidden" name="select_across" value="{{ select_across }}">
    <input type="hidden" name="confirm" value="yes">
    <div class="submit-row">
      <input type="submit" value="{{ confirm_label }}" class="{{ confirm_button_class }}">
      <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">취소</a>
    </div>
  </form>
</div>
{% endblock %}
