{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <p>{{ warning }}</p>
  <p><strong>{% blocktranslate count count=object_count %}Target: {{ count }} object{% plural %}Target: {{ count }} objects{% endblocktranslate %}</strong></p>

  <ul>
    {% for object in object_preview %}
      <li>{{ object }}</li>
    {% endfor %}
    {% if has_more_objects %}
      <li>{% blocktranslate with remaining=object_count|add:"-20" %}and {{ remaining }} more{% endblocktranslate %}</li>
    {% endif %}
  </ul>

  <form method="post">
    {% csrf_token %}
    {% for selected_id in selected_ids %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ selected_id }}">
    {% endfor %}
    <input type="hidden" name="action" value="{{ action_name }}">
    <input type="hidden" name="select_across" value="{{ select_across }}">
    <input type="hidden" name="confirm" value="yes">
    <div class="submit-row">
      <input type="submit" value="{{ confirm_label }}" class="{{ confirm_button_class }}">
      <a role="button" href="{{ cancel_url }}" class="button cancel-link">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>
{% endblock %}
