<h1 class="serif font-weight-bold">{{ thread.title }}</h1>

<div class="row post-top-meta">
    <a href="{% url 'user_profile' username=thread.author.username%}">
        <div class="back-image thumb comment-thumb" style="background-image:url({{ thread.author.profile.thumbnail }})"></div>
    </a>
    <div class="author-info">
        <h6><a class="text-decoration-none" href="{% url 'user_profile' username=thread.author.username%}">@{{ thread.author.username }}</a></h6>
        {% if thread.author.profile.bio %}
        <p class="author-description">{{ thread.author.profile.bio }}</p>
        {% endif%}
    </div>
</div>

<article class="article">
    {% if thread.image %}
      <img {% if thread.description %}style="margin-bottom:20px"{% endif %} src="{{ thread.image.url }}" alt="{{ thread.title }}">
    {% endif %}
    {% if thread.description %}
      {{ thread.parsedown | safe }}
    {% else %}
      스레드 설명이 없습니다.
    {% endif %}
</article>
<ul class="tag-list noto">
    {% for tag in thread.tagging %}
    <li><a href="{% url 'post_list_in_tag' tag=tag %}">{{ tag }}</a></li>
    {% endfor %}
</ul>

{% if thread.allow_write or thread.author == request.user %}
  {% if request.user.is_active %}
  <div class="bg-border-purple vivid-purple noto p-3">
    <div class="c-pointer text-center" onclick="Story.create({{ thread.pk }})">
      새로운 스토리 작성
    </div>
  </div>
  {% else %}
  <div class="bg-border-purple vivid-purple noto p-3">
    {% csrf_token %}
    로그인 후 스토리를 작성할 수 있습니다.
  </div>
  {% endif %}
{% else %}
  <div class="bg-border-purple vivid-purple noto p-3">
    {% csrf_token %}
    참여할 수 없는 스레드입니다.
  </div>
{% endif %}

<div class="mt-5 text-center">
    <a class="card-link shallow-dark agree" href="javascript:void(0)" onclick="Thread.bookmark({{thread.pk}})">
        <i id="bookmark" class="{% if check_bookmark %}fas{% else %}far{% endif %} fa-bookmark"></i>{% if not thread.author == request.user %} 새로운 스토리 알림으로 받기{% endif %}
    </a>
    {% if thread.author == request.user %}
    <a class="card-link shallow-dark" href="javascript:void(0)" onclick="Thread.edit({{thread.pk}})"><i class="far fa-edit"></i></a>
    <a class="card-link shallow-dark" href="javascript:void(0)" onclick="Thread.remove({{thread.pk}});"><i class="far fa-trash-alt"></i></a>
    {% endif %}
  </div>