<h1 class="serif font-weight-bold">{{ story.title }}</h1>
<div class="text-muted h7 mb-2"><i class="far fa-clock"></i> {{ story.created_date|timesince }} 전 {% if story.updated_date|date:"YmdHi" > story.created_date|date:"YmdHi"%}(edited){% endif %}</div>

<div class="row post-top-meta">
    <a href="{% url 'user_profile' username=story.author.username%}">
        <div class="back-image thumb comment-thumb" style="background-image:url({{ story.author.profile.thumbnail }})"></div>
    </a>
    <div class="author-info">
        <h6><a class="text-decoration-none" href="{% url 'user_profile' username=story.author.username%}">@{{ story.author.username }}</a></h6>
        {% if story.author.profile.bio %}
        <p class="author-description">{{ story.author.profile.bio }}</p>
        {% endif%}
    </div>
</div>

<article class="article">
    {{ story.text_html | safe }}
</article>
<ul class="tag-list noto">
    {% for tag in thread.tagging %}
    <li><a href="{% url 'post_list_in_tag' tag=tag %}">{{ tag }}</a></li>
    {% endfor %}
</ul>

<div class="mt-5 text-center">
    <a class="card-link shallow-dark agree" href="javascript:void(0)" onclick="Story.agree({{story.pk}})">
        <i class="far fa-thumbs-up"></i> <span>{{ story.total_agree }}</span>
    </a>
    <a class="card-link shallow-dark disagree" href="javascript:void(0)" onclick="Story.disagree({{story.pk}})">
        <i class="far fa-thumbs-up fa-rotate-180"></i> <span>{{ story.total_disagree }}</span>
    </a>
    {% if not thread.hide %}
    <a class="card-link shallow-dark" href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site_url }}{{ current_path }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="fab fa-twitter"></i>
    </a>
    <a class="card-link shallow-dark" href="https://facebook.com/sharer.php?u={{ site_url }}{{ current_path }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
        <i class="fab fa-facebook"></i>
    </a>
    {% endif %}
    {% if story.author == request.user %}
    <a class="card-link shallow-dark" href="javascript:void(0)" onclick="Story.edit({{story.pk}})"><i class="far fa-edit"></i></a>
    <a class="card-link shallow-dark" href="javascript:void(0)" onclick="Story.remove({{story.pk}});"><i class="far fa-trash-alt"></i></a>
    {% endif %}
</div>