@import 'var';

.layout {
    display: grid;
    grid-template-columns: 200px minmax(0, 1fr) 200px;
    flex-direction: row;
    gap: $MARGIN_SIZE_3;
}

.left-widget {
    order: 0;
}

.content {
    order: 1;
}

.right-widget {
    order: 2;
}

@media (max-width: $BREAKPOINT_DESKTOP_LARGE) {
    .layout {
        grid-template-columns: minmax(0, 1fr);
        justify-items: center;
    }

    .left-widget {
        display: contents;
    }

    .content {
        max-width: 100%;
        width: 760px;
        order: -1;
    }

    .right-widget {
        max-width: 100%;
        width: 760px;
        padding: 0;
        order: -2;
    }
}