@import 'var';

.layout {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: $MARGIN_SIZE_3;
}

.left-widget {
    flex: 0 0 210px;
}

.content {
    max-width: 100%;
    flex: 1;
}

.right-widget {
    flex: 0 0 210px;
}

@media (max-width: 1240px) {
    .layout {
        flex-direction: column;
        align-items: center;
        flex: 0 0 100%;
    }

    .left-widget {
        display: contents;
    }

    .content {
        max-width: 100%;
        width: 760px;
        order: -1;
    }

    .right-widget {
        max-width: 100%;
        width: 760px;
        padding: 0;
        order: -2;
    }
}