<div class="my-4 noto posts-sereis">
    <hr class="gradient-hr"/>
    <h5 class="serif {% if post.series.text_md %}pt-4 pb-3{% else %}py-4{% endif %}">
        <a href="{{ this_series.get_absolute_url }}" class="text-decoration-none deep-dark font-weight-bold">
            '{{ this_series }}' 시리즈
        </a>
    </h5>
    {% if post.series.text_md %}
    <div class="series-desc mb-3">
        <blockquote class="noto">
            {{ post.series.text_md }}
        </blockquote>
        <div class="author">
            <a href="{% url 'user_profile' username=post.author %}"><img src="{{ post.author.profile.thumbnail }}" /></a>
        </div>
    </div>
    {% endif %}
    <ul>
        {% if prev_serise %}
        <li>
            <a class="text-decoration-none shallow-dark" href="{{ prev_serise.get_absolute_url }}">{{ prev_serise }}</a><div class="series-count">{{ series_index | add:-1 }}/{{ series_length }}</div>
        </li>
        {% endif %}
        <li>
            <b>{{ post.title }}</b><div class="series-count">{{ series_index }}/{{ series_length }}</div>
        </li>
        {% if next_serise %}
        <li>
            <a class="text-decoration-none shallow-dark" href="{{ next_serise.get_absolute_url }}">{{ next_serise }}</a><div class="series-count">{{ series_index | add:1 }}/{{ series_length }}</div>
        </li>
        {% endif %}
    </ul>
</div>