{% extends 'board/source.html' %}
{% block head %}
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}?{{ static_version }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'library/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'library/prism.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{{ static_version }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+KR|Noto+Sans+KR|Black+Han+Sans">
    <link rel="stylesheet" href="https://rawcdn.githack.com/nzbin/three-dots/c592f34f85813ce75b9bc984b1bafcea3cb39b37/dist/three-dots.min.css">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}?{{ static_version }}">
    <title>BLEX — AUTH</title>
    <style>
        .active-button {
            border: none;
            border-radius: 1em;
            padding: 5px 15px;
            color: #fff;
            background-color: #706fd3;
        }
        .display-center {
            padding-top: 42vh;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="text-center display-center">
        <div class="h5 serif mb-4">{{ user.first_name }}님이 맞으십니까?</div>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="active-button noto">
                네 맞습니다.
            </button>
        </form>
    </div>
{% endblock %}