{% extends 'board/base.html' %}
{% load static %}
{% load island %}

{% block title %}{% if is_edit %}Edit Post{% else %}Write Post{% endif %} - BLEX{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% island_css 'styles/post.scss' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
{% island_component 'PostEditor' 
    mode="{% if is_edit %}edit{% elif temp_post %}temp{% else %}new{% endif %}"
    {% if is_edit %}username="{{ post.author.username }}"{% else %}username="{{ request.user.username }}"{% endif %}
    {% if is_edit %}postUrl="{{ post.url }}"{% endif %}
    {% if temp_post %}tempToken="{{ temp_post.token }}"{% endif %}
%}
{% endblock %}

{% block extra_scripts %}
{% endblock %}
