{% with site_title='BLEX' site_url='https://localhost:20000' site_description='BLOG EXPRESS' static_url='https://localhost:20200' static_version='version=1.0.0' %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {% block head %}
    {% endblock %}
</head>
<body class="{% if night_mode %}dark {% endif %}{% block body-class %}{% endblock %}">
    {% block body %}
    {% endblock %}
</body>
</html>
{% endwith %}