{% extends 'board/base.html' %}

{% block title %}{% if not selected_tag %}{{ user.username }} ({{ user.first_name }}){% if tab %} — {{ tab_show }}{% endif %}{% else %}{{ user.username }}'s {{ selected_tag }}{% endif %}{% endblock %}

{% block seo %}
    {% if get_page %}<meta name="robots" content="noindex">{% endif %}
    <meta property="og:site_name" content="{{ site_title }}">
    <meta name="twitter:url" content="{{ site_url }}{{ request.get_full_path }}">
    <meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
    <meta property="og:type" content="blog">
    <meta name="twitter:card" content="summary">
    {% if user.profile.avatar %}
    <meta property="og:image" content="{{ user.profile.avatar.url }}">
    <meta property="twitter:image" content="{{ user.profile.avatar.url }}">
    {% endif %}
    {% if not selected_tag %}
    <meta property="og:title" content="{{ user.username }} ({{ user.first_name }}){% if tab %} — {{ tab_show }}{% endif %}"/>
    <meta property="twitter:title" content="{{ user.username }} ({{ user.first_name }}){% if tab %} — {{ tab_show }}{% endif %}"/>
        {% if not tab %}
            {% if user.profile.bio %}
    <meta property="og:description" content="{{ user.profile.bio }}">
    <meta name="twitter:description" content="{{ user.profile.bio }}">
    <meta name="description" content="{{ user.profile.bio }}">
            {% endif %}
        {% else %}
    <meta property="og:description" content="{{ user.username }} ({{ user.first_name }})님의 {{ tab_show }}입니다.">
    <meta name="twitter:description" content="{{ user.username }} ({{ user.first_name }})님의 {{ tab_show }}입니다.">
    <meta name="description" content="{{ user.username }} ({{ user.first_name }})님의 {{ tab_show }}입니다.">
        {% endif %}
    {% else %}
    <meta property="og:title" content="{{ user.username }}'s {{ selected_tag }}"/>
    <meta property="twitter:title" content="{{ user.username }}'s {{ selected_tag }}"/>
    <meta property="og:description" content="{{ user.username }}님이 {{ selected_tag }}를 주제로 작성한 포스트입니다.">
    <meta name="twitter:description" content="{{ user.username }}님이 {{ selected_tag }}를 주제로 작성한 포스트입니다.">
    <meta name="description" content="{{ user.username }}님이 {{ selected_tag }}를 주제로 작성한 포스트입니다.">
    {% endif %}
{% endblock %}

{% block content %}
<div class="col-md-12 padding-remove">
    <div class="user-profile">
        {% if user.profile.avatar %}
        <picture>
            <img class="user-avatar" src="{{ user.profile.avatar.url }}" alt="{{ user.username }}"/>
        </picture>
        {% else %}
        <picture>
            <img class="user-avatar" src="{{ static_url }}/assets/images/default-avatar.jpg" alt="{{ user.username }}"/>
        </picture>
        {% endif %}
        <h4 class="serif username">{{ user.first_name }}</h4>
        <h5 class="serif">@{{ user.username }}</h5>
        {% if user.profile.homepage %}<a class="vivid-purple" href="https://{{ user.profile.homepage }}">https://{{ user.profile.homepage }}</a>{% endif %}
        <ul class="author-state">
            <li>
                <img src="https://img.shields.io/badge/-{{ grade }}">
            </li>
            <li onclick="userFollow('{{ user }}')">
                <img class="follow-badge" src="https://img.shields.io/badge/subscriber-{% if user.profile.subscriber %}{{ user.profile.total_subscriber }}{% else %}0{% endif %}-red?style=social">
            </li>
        </ul>
        <p class="user-profile-desc mt-5">
            {% if user.profile.bio %}
                {{ user.profile.bio|linebreaksbr }}<br>
            {% endif%}
            {% if request.user.is_active %}
            <a class="vivid-purple" href="mailto:{{ user.email }}">{{ user.email }}</a>
            {% else %}
            <a class="vivid-purple" href="{% url 'login' %}">Sign in to view email</a>
            {% endif %}
        </p>
        <ul class="social-link">
            <li><a class="vivid-purple" href="{% url 'user_rss_feed' username=user %}"><i class="fas fa-rss-square"></i></a></li>
            {% if user.profile.github %}<li><a class="vivid-purple" href="https://github.com/{{ user.profile.github }}"><i class="fab fa-github-square"></i></a></li>{% endif %}
            {% if user.profile.twitter %}<li><a class="vivid-purple" href="https://twitter.com/{{ user.profile.twitter }}"><i class="fab fa-twitter-square"></i></a></li>{% endif %}
            {% if user.profile.youtube %}<li><a class="vivid-purple" href="https://youtube.com/channel/{{ user.profile.youtube }}"><i class="fab fa-youtube-square"></i></a></li>{% endif %}
            {% if user.profile.facebook %}<li><a class="vivid-purple" href="https://facebook.com/{{ user.profile.facebook }}"><i class="fab fa-facebook-square"></i></a></li>{% endif %}
            {% if user.profile.instagram %}<li><a class="vivid-purple" href="https://instagram.com/{{ user.profile.facebook }}"><i class="fab fa-instagram"></i></a></li>{% endif %}
        </ul>
    </div>
</div>
</div>
</div>
{% if user.profile.avatar %}
<div class="profile-tab back-image" style="background-image:url({{ user.profile.avatar.url }})">
{% else %}
<div class="profile-tab back-image" style="background-image:url({{ static_url }}/assets/images/default-avatar.jpg)">
{% endif %}
    <div class="mask">
        <ul class="serif">
            <li><a href="{% url 'user_profile' username=user %}">포스트</a></li>
            <li><a href="{% url 'user_profile_tab' username=user tab='series' %}">시리즈</a></li>
            <li><a href="{% url 'user_profile_tab' username=user tab='activity' %}">활동</a></li>
            <li><a href="{% url 'user_profile_tab' username=user tab='about' %}">소개</a></li>
        </ul>
    </div>
</div>

{% if not tab %}
    {% include 'board/profile/include/default.html'%}
{% endif %}

{% if tab == 'series' %}
    {% include 'board/profile/include/series.html'%}
{% endif %}

{% if tab == 'activity' %}
    {% include 'board/profile/include/activity.html'%}
{% endif %}

{% if tab == 'about' %}
    {% include 'board/profile/include/about.html'%}
{% endif %}

{% endblock %}

{% block footer%}
    {% include 'board/common/include/footer.html' %}
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
  var csrftoken = getCookie('csrftoken');
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
});
</script>
{% if tab == 'series' or tab == 'activity' %}
<script src="{{ static_url }}/assets/library/InfiniteScroll.js?{{ static_version }}"></script>
<script type="text/javascript">
    var postWrapperId = 'wrapper';
    var paginatePath = '{{ request.get_full_path }}?page=';
    var lastPage = {{ elements.paginator.num_pages }};
    new InfiniteScroll(paginatePath, postWrapperId, lastPage);
</script>
{% endif %}
{% if selected_tag or get_page %}
<script>
    moveSlide('wrapper');
</script>
{% endif %}
<script src="{{ static_url }}/assets/js/user.js?{{ static_version }}"></script>
{% endblock %}