{% extends 'board/base.html' %}

{% block title %}{% if not selected_tag %}{{ user.username }} ({{ user.first_name }}){% if tab %} — {{ tab_show }}{% endif %}{% else %}{{ user.username }}'s {{ selected_tag }}{% endif %}{% endblock %}

{% block seo %}
    {% if get_page %}<meta name="robots" content="noindex">{% endif %}
    <meta property="og:site_name" content="{{ site_title }}">
    <meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="{{ user.profile.thumbnail }}">
    <meta name="twitter:url" content="{{ site_url }}{{ request.get_full_path }}">
    <meta name="twitter:card" content="summary">
    <meta property="twitter:image" content="{{ user.profile.thumbnail }}">
    {% if not selected_tag %}
    <meta property="og:title" content="{{ user.username }} ({{ user.first_name }}){% if tab %} — {{ tab_show }}{% endif %}"/>
    <meta property="twitter:title" content="{{ user.username }} ({{ user.first_name }}){% if tab %} — {{ tab_show }}{% endif %}"/>
        {% if not tab %}
            {% if user.profile.bio %}
    <meta property="og:description" content="{{ user.profile.bio }}">
    <meta name="twitter:description" content="{{ user.profile.bio }}">
    <meta name="description" content="{{ user.profile.bio }}">
            {% endif %}
        {% else %}
    <meta property="og:description" content="나를 표현하는 블로그, 블렉스에서 {{ user.username }} ({{ user.first_name }})님의 {{ tab_show }}를 살펴보세요.">
    <meta name="twitter:description" content="나를 표현하는 블로그, 블렉스에서 {{ user.username }} ({{ user.first_name }})님의 {{ tab_show }}를 살펴보세요.">
    <meta name="description" content="{{ user.username }} ({{ user.first_name }})님의 {{ tab_show }}입니다.">
        {% endif %}
    {% else %}
    <meta property="og:title" content="{{ user.username }}님의 {{ selected_tag }}"/>
    <meta property="twitter:title" content="{{ user.username }}님의 {{ selected_tag }}"/>
    <meta property="og:description" content="나를 표현하는 블로그, 블렉스에서 {{ user.username }}님이 {{ selected_tag }}를 주제로 작성한 포스트입니다.">
    <meta name="twitter:description" content="나를 표현하는 블로그, 블렉스에서 {{ user.username }}님이 {{ selected_tag }}를 주제로 작성한 포스트입니다.">
    <meta name="description" content="나를 표현하는 블로그, 블렉스에서 {{ user.username }}님이 {{ selected_tag }}를 주제로 작성한 포스트입니다.">
    {% endif %}
{% endblock %}

{% block content %}
<div class="col-md-12 padding-remove">
    <div class="user-profile">
        <picture>
            <img class="user-avatar blur-off" src="{{ user.profile.thumbnail }}" alt="{{ user.username }}"/>
        </picture>
        <h4 class="serif username">{{ user.first_name }}</h4>
        <h5 class="serif">@{{ user.username }}</h5>
        {% if user.profile.homepage %}<a class="vivid-purple" href="https://{{ user.profile.homepage }}">https://{{ user.profile.homepage }}</a>{% endif %}
        <ul class="social-link mt-3">
            <li><a class="vivid-purple" href="{% url 'user_rss_feed' username=user %}"><i class="fas fa-rss-square"></i></a></li>
            {% if user.profile.github %}<li><a class="vivid-purple" href="https://github.com/{{ user.profile.github }}"><i class="fab fa-github-square"></i></a></li>{% endif %}
            {% if user.profile.twitter %}<li><a class="vivid-purple" href="https://twitter.com/{{ user.profile.twitter }}"><i class="fab fa-twitter-square"></i></a></li>{% endif %}
            {% if user.profile.youtube %}<li><a class="vivid-purple" href="https://youtube.com/channel/{{ user.profile.youtube }}"><i class="fab fa-youtube-square"></i></a></li>{% endif %}
            {% if user.profile.facebook %}<li><a class="vivid-purple" href="https://facebook.com/{{ user.profile.facebook }}"><i class="fab fa-facebook-square"></i></a></li>{% endif %}
            {% if user.profile.instagram %}<li><a class="vivid-purple" href="https://instagram.com/{{ user.profile.facebook }}"><i class="fab fa-instagram"></i></a></li>{% endif %}
        </ul>
    </div>
</div>
</div>
</div>
<div class="profile-tab back-image">
    <div class="thick-mask">
        <ul class="serif">
            <li><a href="{% url 'user_profile' username=user %}">개요</a></li>
            <li><a href="{% url 'user_profile_tab' username=user tab='blog' %}">포스트</a></li>
            <li><a href="{% url 'user_profile_tab' username=user tab='series' %}">시리즈</a></li>
            <li><a href="{% url 'user_profile_tab' username=user tab='about' %}">소개</a></li>
        </ul>
    </div>
</div>
<div id="content">
    {% if not tab %}
        {% include 'board/profile/include/default.html'%}
    {% endif %}

    {% if tab == 'blog' %}
        {% include 'board/profile/include/blog.html' %}
    {% endif %}

    {% if tab == 'series' %}
        {% include 'board/profile/include/series.html'%}
    {% endif %}

    {% if tab == 'about' %}
        {% include 'board/profile/include/about.html' %}
    {% endif %}
</div>

{% endblock %}

{% block footer%}
    {% csrf_token %}
    {% include 'board/common/include/footer.html' %}
{% endblock %}

{% block script %}
{% if not tab %}
<script src="https://unpkg.com/frappe-charts@1.1.0"></script>
<script type="text/javascript">
    User.activity('{{ user.username }}');
</script>
{% endif %}
{% endblock %}