<nav class="sort-nav g-sans-l">
    <ul class="none-list">
        <li{% if sort == 'trendy' %} class="active"{% endif %}>
            <a href="{% url 'post_sort_list' %}">경향</a>
        </li>
        <li{% if sort == 'newest' %} class="active"{% endif %}>
            <a href="{% url 'post_sort_list' sort='newest' %}">최신</a>
        </li>
        <li{% if sort == 'tags' %} class="active"{% endif %}>
            <a href="{% url 'post_sort_list' sort='tags' %}">태그</a>
        </li>
    </ul>
</nav>