.header {
    width: 100%;
    color: #10A3FF;
    opacity: 0.95;
    font-size: 120px;

    @media only screen and (max-width: 991px) {
        font-size: 80px;
    }

    :global(body.dark) & {
        color: #fff;
    }
}

.header:before {
    position: absolute;
    content: attr(data-text);
    color: #f00;
    opacity: 0.8;
    font-size: 120px;
    mix-blend-mode: multiply;
    transform: translateX(-5px);  
    animation: glitch 0.5s infinite linear;
    
    @media only screen and (max-width: 991px) {
        font-size: 80px;
    }

    :global(body.dark) & {
        mix-blend-mode: soft-light;
    }
}

@keyframes glitch {
    50% {
        -webkit-transform: translateX(7px);
            transform: translateX(7px);  
    }
}