@import 'var';

.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;

    li {
        display: block;
	    margin: 8px 0;
        width: 100px;
        text-align: center;
        font-weight: bold;

        &.active a {
            @include COLOR_PRIMARY;
        }

        a {
            @include COLOR_DARK;
            text-decoration: none;
        }
    }
    
    .line {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100px;
        height: 2px;
        pointer-events: none;
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
        
        background: $COLOR_DEFAULT_PRIMARY;
        border: 1px solid $COLOR_DEFAULT_BACKGROUND;
        border-width: 0 40px;

        :global(body.dark) & {
            background: $COLOR_DARK_PRIMARY;
            border: 1px solid $COLOR_DARK_BACKGROUND;
            border-width: 0 40px;
        }
    }
}