@import 'var';

.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;

    li {
        display: block;
	    margin: 8px 0;
        width: 100px;
        text-align: center;
        font-weight: bold;

        &.active a {
            color: $COLOR_DEFAULT_PRIMARY;
        }

        a {
            color: rgba(0, 0, 0, 0.541);
            text-decoration: none;
        }
    }
    
    .line {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100px;
        height: 2px;
        pointer-events: none;
        border: 1px solid #fff;
        border-width: 0 40px;
        background: $COLOR_DEFAULT_PRIMARY;
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
    }
}