<div class="col-lg-4 mt-4" onmousedown="saveLatelyPosition()">
    <a href="{% url 'post_detail' username=post.author url=post.url %}">
        {% if post.image %}
        <picture>
            <img class="list-image" src="{{ post.image.url }}" alt="{{ post.title }}"/>
        </picture>
        {% else %}
        <picture>
            <img class="list-image" src="{{ static_url }}/assets/images/default-post.png"/>
        </picture>
        {% endif %}
    </a>
    <h5 class="card-title serif font-weight-bold mt-3"><a class="deep-dark" href="{% url 'post_detail' username=post.author url=post.url %}">{{ post.title | truncatechars:50 }}</a></h5>
    <a href="{% url 'user_profile' username=post.author %}">
        {% if post.author.profile.avatar %}
        <div class="back-image thumb list-thumb" style="background-image:url({{ post.author.profile.avatar.url }})"></div>
        {% else %}
        <div class="back-image thumb list-thumb" style="background-image:url({{static_url}}/assets/images/default-avatar.jpg)"></div>
        {% endif %}
    </a>
    <p class="vs serif">{{ post.created_date | date:"" }}<br><a class="shallow-dark" href="{% url 'user_profile' username=post.author %}">{{ post.author }}</a>님이 작성함</p>
</div>