.box {
    position: relative;
    width: 100%;

    blockquote {
        position: relative;
        margin: 0;
        padding: 1em 1.5em;
        line-height: 1.7;
        word-break: keep-all;
        overflow-wrap: anywhere;
        border-radius: 0.3em;
        background: #fafafa;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

        :global(body.dark) & {
            background: #272727;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
        }

        &::after {
            position: absolute;
            right: 0.8em;
            bottom: -8px;
            width: 0;
            height: 0;
            content: '';
            border-width: 10px 10px 0 10px;
            border-style: solid;
            border-color: #fafafa transparent transparent transparent;
            filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.1));

            :global(body.dark) & {
                border-color: #272727 transparent transparent transparent;
                filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));
            }
        }
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 15px;

        img {
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.3));
        }
    }
}