{% load math %}

<div id="user-posts" class="container">
    <div class="row">
        <div class="profile-tags col-lg-3">
            <ul class="mt-4 noto">
                <h5>카테고리</h5>
                <li><a {% if not selected_tag %}class="active"{% endif %} href="{% url 'user_profile' username=user %}">전체<span class="ns">({{ posts_count }})</span></a></li>
                {% if tags %}
                    {% for tag in tags %}
                <li><a {% if selected_tag == tag.name %}class="active"{% endif %} href="{% url 'user_profile_topic' username=user tag=tag.name %}">{{ tag.name }}<span class="ns">({{ tag.count }})</span></a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-8 mt-4">
        <div id="wrapper">
        {% for post in elements %}
            <div class="profile-post">
                {% if post.image %}
                <a href="{{ post.get_absolute_url }}">
                    <picture>
                        <img class="lazy" data-src="{{ static_url }}/{{ post.get_thumbnail }}" alt="{{ post.title }}"/>
                    </picture>
                </a>
                {% endif %}
                <h4 class="card-title serif font-weight-bold mt-3">
                    <a class="deep-dark" href="{{ post.get_absolute_url }}">{{ post.title | truncatechars:50 }}</a>
                </h4>
                <p class="noto"><a class="shallow-dark" href="{{ post.get_absolute_url }}">{% if post.text_html %}{{ post.text_html | striptags | truncatewords:50 }}{% else %}{{ post.description | striptags | truncatewords:50 }}{% endif %}</a></p>
                <p class="vs serif">{{ post.created_date | date:"" }} · <span class="shallow-dark">{% if post.text_md %}{{ post.text_md | length | div:1000 }} min read{% else %}{{ post.stories.all | length }} stories{% endif %}</span></p>
                <ul class="tag-list noto">
                    {% for tag in post.tagging %}
                    <li><a href="{% url 'user_profile_topic' username=post.author tag=tag %}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% empty %}
        <div class="bg-border-purple noto p-3 bg-light vivid-purple">
            아직 작성된 포스트가 없습니다.
        </div>
        {% endfor %}
        </div>
        {% include 'board/common/include/pagenation.html' %}
    </div>
</div>