{
    "root": true,
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "ignorePatterns": [
        "**/library/*.js",
        "next.config.js"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "comma-dangle": [ "error", "never" ],
        "indent": [ "error", 4 ],
        "semi": "off",
        "quotes": [ "error", "single" ],
        "keyword-spacing": [ "error", {
            "before": true,
            "after": true
        }],
        "object-curly-spacing": [ "error", "always" ],
        "object-property-newline": "error",
        "no-trailing-spaces": "error",
        "sort-imports": [ "error", {
            "ignoreCase": false,
            "ignoreDeclarationSort": false,
            "ignoreMemberSort": false,
            "memberSyntaxSortOrder": ["all", "multiple", "single", "none"],
            "allowSeparatedGroups": true
        }],
        "react/jsx-closing-bracket-location": [ "error", {
            "selfClosing": "tag-aligned",
            "nonEmpty": "after-props"
        }],
        "react/jsx-indent": [ "error", 4 ],
        "react/jsx-first-prop-new-line": [ "error", "multiline" ],
        "react/jsx-max-props-per-line": [
            "error",
            {
                "maximum": {
                    "single": 4,
                    "multi": 1
                }
            }
        ],
        "jsx-quotes": [ "error", "prefer-double" ],
        "@typescript-eslint/semi": ["error"]
    }
}