@import 'mixin';

@keyframes progress {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes progress-reverse {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.progress {
    width: 100%;
    background-color: #e9ecef;
    height: 4px;
    overflow: hidden;

    :global(body.dark) & {
        background-color: #343a40;
    }
}

.progress-bar {
    background-color: $COLOR_DEFAULT_SECONDARY;
    height: 100%;
    transform: translateX(-100%);
}

.progress-timer {
    animation: progress 0s linear 1;
    height: 100%;
    background-color: $COLOR_DEFAULT_SECONDARY;
    transform: translateX(0%);

    &.isReversed {
        transform: translateX(-100%);
    }
}