@import 'var';

.layout {
    display: grid;
    gap: $MARGIN_SIZE_4;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "content";


    &.widgetPositionRight {
        grid-template-columns: minmax(0, 1fr) 300px;
        grid-template-areas: "content widget";
    }

    &.widgetPositionLeft {
        grid-template-columns: 300px minmax(0, 1fr);
        grid-template-areas: "widget content";
    }

    .content {
        grid-area: content;
    }

    .widgetContainer {
        grid-area: widget;
    }

    .widget {
        max-height: calc(100vh - 90px);
        position: sticky;
        top: 90px;
        padding: $MARGIN_SIZE_3;
        overflow-y: auto;
        gap: $MARGIN_SIZE_4;

        &>*:not(:first-child) {
            margin-top: $MARGIN_SIZE_4;
        }
    }

    @media (max-width: $BREAKPOINT-TABLET) {

        &.widgetPositionRight,
        &.widgetPositionLeft {
            grid-template-columns: minmax(0, 1fr);
            grid-template-areas:
                "widget"
                "content"
        }

        .widget {
            padding: 0;
            max-height: none;
            overflow-y: initial;
        }
    }
}
