@import 'mixin';;

.article { 
    min-width: 100%;
    font-size: 1.028rem;
    line-height: 2;
    word-break: keep-all;
    overflow-wrap: anywhere;

    :global(.CodeMirror) {
        height: auto;
        border-radius: 8px;
        
        :global(.cm-error) {
            background: none;
        }

        :global(.cm-comment) {
            color: #6a9955;
        }

        :global(body.dark) & {
            :global(.CodeMirror-scroll),
            :global(.CodeMirror-sizer),
            :global(.CodeMirror-gutter),
            :global(.CodeMirror-gutters),
            :global(.CodeMirror-linenumber) {
                background-color: #111;
            }
        }
    }

    hr {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        :global(body.dark) & {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        }
    }

    img, video {
        max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 0.5em 0 0.2em 0;
        font-family: $FONT_GOTHIC;
        letter-spacing: -1px;
        position: relative;
        font-weight: bold;
        margin: 0 0 1.5rem;
    }

    h1, h2 {
        font-size: 2.0rem;
    }

    h3, h4 {
        font-size: 1.75rem;
    }

    h5, h6 {
        font-size: 1.35rem;
    }
    
    & > * {
        margin: 0 0 1.5rem;
    }

    ul, ol {
        padding-left: 30px;
    }

    a {
        text-decoration: none;
        color: $COLOR_DEFAULT_PRIMARY;

        :global(body.dark) & {
            color: $COLOR_DARK_PRIMARY;
        }
    }

    code {
        color: #000;
        background-color: #eee;
        border-radius: 5px;
        padding: 2px;

        :global(body.dark) & {
            color: #fff;
            background-color: #000;
        }
    }

    img, video {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }

    blockquote {
        font-style: italic;
        padding: 20px;
        border-left: 3px solid #000;
        background-color: #f5f5f5;
        color: #777;

        p {
            margin-bottom: 0;
        }

        :global(body.dark) & {
            color: #ccc;
            background-color: #333;
            border-left: 3px solid #ccc;
        }
    }

    table {
        display: block;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        overflow: auto;
        white-space: nowrap;

        th {
            text-align: left;
            font-weight: 600;
            background-color: #f6f8fa;

            :global(body.dark) & {
                background-color: #111;
            }
        }

        th, td {
            border: 1px solid #dfe2e5;
            padding: 6px 13px;

            :global(body.dark) & {
                border: 1px solid #555;
            }
        }

        tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;

            :global(body.dark) & {
                background-color: #222;
            }
    
            &:nth-child(2n) {
                background-color: #f6f8fa;

                :global(body.dark) & {
                    background-color: #111;
                }
            }
        }
    }

    :global(.katex-html[aria-hidden="true"]) {
        display: none;
    }
}
