@import 'mixin';

.posts {
    display: flex;
    word-break: keep-all;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    gap: 24px;

    :global(body.dark) & {
        border-color: #333;
    }

    a {
        text-decoration: none;
    }

    @media (max-width: 678px) {
        flex-direction: column;

        .image {
            order: 0;
            width: 100%;
            height: 220px;
        }
    }
}

.content {
    flex: 1;
    width: 100%;
}

.image {
    order: 1;
    width: 180px;
    height: 180px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 16px;
    }
}

.title {
    font-weight: bold;
}

.number {
    font-size: 1.4rem;
    font-weight: bold;
    @include COLOR_GRAY;
}

.author-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}

.description {
    letter-spacing: -0.009em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all;
    overflow-wrap: anywhere;
}

.action {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: #999;

    &.like {
        &.active {
            color: #ff6b6b;
        }
    }
}