@import 'mixin';;

.card {
    width: 100%;
    display: block;
    border: 1px solid #dedede;
    overflow: hidden;

    :global(body.dark) & {
        border: 1px solid #444;
    }

    &.hs { // hasShadow
        border: none;

        :global(body.dark) & {
            border: none;
        }

        &.sl-main {
            @include MAIN_SHADOW;
        }
        
        &.sl-sub {
            @include SUB_SHADOW;
        }
    }

    &.fb { // fillBack
        &.fb-background {
            @include BACKGROUND;
        }
        
        &.fb-card {
            @include CARD_BACKGROUND;
        }
    }

    &.ir { // isRounded
        border-radius: 24px;
    }
}
