@import 'var';

.card {
    width: 100%;
    display: block;

    &.hs { // hasShadow
        &.sl-main {
            @include MAIN_SHADOW;
        }
        &.sl-sub {
            @include SUB_SHADOW;
        }
    }

    &.fb { // fillBack
        &.fb-background {
            @include BACKGROUND;
        }
        &.fb-card {
            @include CARD_BACKGROUND;
        }
    }

    &.ir { // isRounded
        border-radius: 8px;

        & > :global(img) {
            border-radius: 8px 8px 0 0;
        }
    }
}