@import 'var';

.flex {
    display: flex;

    // direction
    &.d-column {
        flex-direction: column;
    }

    &.d-row {
        flex-direction: row;
    }

    &.d-row-reverse {
        flex-direction: row-reverse;
    }

    &.d-column-reverse {
        flex-direction: column-reverse;
    }

    // justify
    &.j-start {
        justify-content: flex-start;
    }

    &.j-end {
        justify-content: flex-end;
    }

    &.j-center {
        justify-content: center;
    }

    &.j-between {
        justify-content: space-between;
    }

    &.j-around {
        justify-content: space-around;
    }

    &.j-evenly {
        justify-content: space-evenly;
    }

    // align
    &.a-start {
        align-items: flex-start;
    }

    &.a-end {
        align-items: flex-end;
    }

    &.a-center {
        align-items: center;
    }

    &.a-baseline {
        align-items: baseline;
    }

    &.a-stretch {
        align-items: stretch;
    }

    // wrap
    &.w-wrap {
        flex-wrap: wrap;
    }

    &.w-nowrap {
        flex-wrap: nowrap;
    }

    &.w-reverse {
        flex-wrap: wrap-reverse;
    }

    @each $key, $value in $marginSizes {
        &.g-#{$key} {
            gap: $value;
        }

        &.rg-#{$key} {
            row-gap: $value;
        }

        &.cg-#{$key} {
            column-gap: $value;
        }
    }
}