@import 'var';

.layout {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 330px;
    gap: $MARGIN_SIZE_4;

    .content {
        order: 0;
    }

    .widgetContainer {
        order: 1;
    }

    .widget {
        position: sticky;
        top: 90px;
        max-height: calc(100vh - 90px);
        overflow-y: auto;
        padding: $MARGIN_SIZE_3;
        gap: $MARGIN_SIZE_4;

        &>*:not(:first-child) {
            margin-top: $MARGIN_SIZE_4;
        }
    }

    @media (max-width: $BREAKPOINT-TABLET) {
        grid-template-columns: minmax(0, 1fr);

        .widgetContainer {
            order: -1;
        }

        .widget {
            padding: 0;
            max-height: none;
            overflow-y: initial;
        }
    }
}