.heatmap {
    border: 1px solid #eee;
    border-radius: 18px;
    min-height: 200px;
    overflow-x: auto;
    overflow-y: hidden;

    :global(body.dark) & {
        border: 1px solid #444;
    }
    
    div {
        margin: 0 auto;
    }
}