@import 'mixin';

.input-group {
    @include MAIN_SHADOW;

    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 2px solid $COLOR_DARK_SECONDARY;

    :global(body.dark) & {
        background: $COLOR_DARK_BACKGROUND;
    }

    input {
        border: none;
        outline: none;
        margin: 16px;
        width: 100%;

        :global(body.dark) & {
            color: #fff;
            background: $COLOR_DARK_BACKGROUND;
        }
    }

    button {
        transition: opacity 0.5s;
        color: #fff;
        padding: 16px 24px;
        opacity: 0.3;
        border: none;
        outline: none;
        cursor: default !important;
        background-color: $COLOR_DEFAULT_SECONDARY;

        :global(body.dark) & {
            background-color: $COLOR_DARK_SECONDARY;
        }

        &.active {
            cursor: pointer !important;
            opacity: 1;
        }

        &:focus {
            outline: none;
        }
    }
}

.histories {
    @include MAIN_SHADOW;

    .suggestion {
        color: #777;
        padding: 16px 16px 8px;
    }

    .recent {
        color: #777;
        padding: 16px 16px 8px;

        &.hasSuggestion {
            margin-top: 8px;
            border-top: 1px solid #ddd;

            :global(body.dark) & {
                border-top: 1px solid #555;
            }
        }
    }

    .suggestion,
    .recent,
    .history {
        display: flex;
        justify-content: space-between;
    }

    .suggestions,
    .history {
        padding: 8px 16px;

        span {
            cursor: pointer;
        }
    }
}