{% extends 'board/base.html' %}
{% load i18n %}

{% block title %}
{% if request.GET.q %}
{% blocktranslate trimmed with query=request.GET.q site_name=site_brand.site_name %}
Search: {{ query }} - {{ site_name }}
{% endblocktranslate %}
{% else %}
{% blocktranslate trimmed with site_name=site_brand.site_name %}
Search - {{ site_name }}
{% endblocktranslate %}
{% endif %}
{% endblock %}

{% block content %}
<div class="max-w-7xl w-full mx-auto px-4 sm:px-6 py-8 sm:py-12">
    <island-component name="SearchPage" props="{{ search_page_props }}"></island-component>
</div>
{% endblock %}
