@import 'var';

.footer { 
    margin-top: 45px;
    color: #ccc;
    
    a {
        color: #bcbcbc;
        
        &:hover {
            color: $COLOR_DEFAULT_SECONDARY;
            text-decoration: none;
        }
    }

    .content {
        margin-bottom: 45px;
    }

    .items {
        padding: 8px 0;
        margin: 0;
        list-style: none;
        text-align: center;
        border-top: 1px solid #dedede;

        :global(body.dark) & {
            border-top: 1px solid #333;
        }

        li {
            font-size: 14px;
            display: inline-block;
            margin: 16px;
        }
    }

    &.isDark {
        margin-top: 0px;
        background: #000;

        a {
            color: #ccc;
        }

        .items {
            border-top: 1px solid #333;
        }

        @media only screen and (max-width: 990px) {
            margin-bottom: 54px;
        }
    }
}
