@import 'var';

.footer { 
    margin-top: 30px;
    padding-bottom: 30px;
    color: #ccc;
    
    a {
        color: #ccc;
        
        &:hover {
            color: $COLOR_DEFAULT_SECONDARY;
            text-decoration: none;
        }
    }

    .content {
        margin-bottom: 30px;
    }

    &.isDark {
        margin-top: 0px;
        background: #000;

        .items {
            border-top: 1px solid #333;
        }

        @media only screen and (max-width: 990px) {
            margin-bottom: 54px;
        }
    }

    .items {
        text-align: center;
        border-top: 1px solid #eee;

        :global(body.dark) & {
            border-top: 1px solid #333;
        }

        div {
            font-size: 14px;
            display: inline-block;
            margin: 16px;
        }
    }
}