@import 'mixin';;

.footer { 
    margin-top: 45px;
    color: #ccc;
    
    a {
        color: #bcbcbc;
        
        &:hover {
            color: $COLOR_DEFAULT_SECONDARY;
            text-decoration: none;
        }
    }

    .content {
        margin-bottom: 45px;
    }

    .items {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 0;
        text-align: center;
        border-top: 1px solid #dedede;
    }

    &.isDark {
        margin-top: 0px;
        background: #000;

        a {
            color: #ccc;
        }

        .items {
            border-top: 1px solid #333;
        }

        @media only screen and (max-width: 990px) {
            margin-bottom: 54px;
        }
    }
}
