.postsImage {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    width: 100%;
    height: 250px;
    float: initial;
    margin-left: 0;
    background-color: #fff;

    @media only screen and (max-width: 991px) {
        width: 150px;
        height: 150px;
        float: right;
        margin-left: 20px;
    }

    @media only screen and (max-width: 402px) {
        width: 110px;
        height: 135px;
        float: right;
        margin-left: 15px;
    }

    @media only screen and (max-width: 360px) {
        display: none !important;
    }
}

.postsTitle {
    font-weight: 600;
    margin-bottom: 8px;
}