.postsImage {
    object-fit: cover;
    width: 100%;
    height: 250px;
    float: initial;
    margin-left: 0;
    background-color: #fff;
}

.postsTitle {
    font-weight: 600;
    margin-bottom: 8px;
}