.card {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #555;

        :global(body.dark) & {
            color: #bababa;
        }
    }
}