.card {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background: #f8f8f8;
    :global(body.dark) & {
        background: #2a2a2a;
    }

    a {
        text-decoration: none;

        color: #555;
        :global(body.dark) & {
            color: #bababa;
        }
    }
}