.card {
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    white-space: nowrap;

    a {
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #555;
        :global(body.dark) & {
            color: #bababa;
        }
    }
}