$box-width: 52px;
$box-height: 28px; 
$ball-size: 28px;
$ball-padding: 3px;
$icon-size: $ball-size - 8px;

.box {
    opacity: 0.8;
    z-index: 1000;
    border-radius: 100px;
    position: fixed;
    bottom: 18px;
    right: 18px;
    width: $box-width;
    height: $box-height;
    background: #ccc;
    cursor: pointer;

    :global(body.dark) & {
        background: #555;
    }

    @media only screen and (max-width: 990px) {
        bottom: 12px;
        right: 12px;
    }
}

.ball {
    position: absolute;
    height: ($ball-size - $ball-padding * 2);
    width: ($ball-size - $ball-padding * 2);
    border-radius: 100%;
    background: #fff;
    top: $ball-padding;
    left: $ball-padding;
    transition: all 0.1s ease;
    box-shadow: 0 .15em .3em rgba(0,0,0,.15),0 .2em .5em rgba(0,0,0,.3);
    transform: translate(0px, 0);

    &.isNight {
        transform: translate(($box-width - $ball-size), 0);
    }
    
    :global(body.dark) & {
        background: #000;
    }
}

.icon-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 ($ball-padding + 1px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    height: $icon-size;
    width: $icon-size;

    svg {
        vertical-align: baseline;
    }
}