<style>
.post-info {
    list-style: none;
    padding-left: 0px;
}
.post-info li {
    display: inline-block;
    margin: 5px;
}
.post-lock .fa-lock {
    color: #b00;
}
.post-lock .fa-lock-open {
    color: #0b0;
}
</style>
<div>
    <ul class="list-group">
        {% for post in posts %}
        <li id="post-{{ post.pk }}" class="card p-3 mb-2">
            <p><a class="deep-dark" href="{% url 'post_detail' username=post.author url=post.url %}">{{ post.title }}</a></p>
            <form>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">TAG</div>
                    </div>
                    {% csrf_token %}
                    <input type="text" name="tag" value="{{post.tag}}" class="form-control" maxlength="255">
                    <button type="button" class="btn btn-dark" onclick="tagChange({{ post.pk }})">
                        변경
                    </button>
                </div>
            </form>
            <ul class="post-info">
                <li><a class="post-lock" href="javascript:postLock({{ post.pk }})"><i id="lock-{{ post.pk }}" class="fas fa-lock{% if not post.hide %}-open{% endif %}"></i></a></li>
                <li><a class="text-dark" href="{% url 'post_edit' pk=post.pk %}"><i class="far fa-edit"></i></a></li>
                <li><a class="text-dark" href="javascript:postDelete({{ post.pk }})"><i class="far fa-trash-alt"></i></a></li>
                <li>|</li>
                <li><i class="far fa-eye"></i> {{ post.view_cnt }}</li>
                <li><i class="far fa-thumbs-up"></i> {{ post.total_likes }}</li>
                <li><i class="far fa-comment"></i> {{ post.comments.count }}</li>
                <li><i class="fas fa-chart-line"></i> {{ post.trendy }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>