@use "./variables.css";
@use "./forwarded.scss";
@use "./fonts/fontawesome.scss";
@use "./fonts/pretendard.scss";

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
        word-break: keep-all;
        overflow-x: hidden;
        overflow-wrap: anywhere;
    }

    [x-cloak] {
        display: none !important;
    }
}
