@import 'mixin';

.date-input {
    :global(.react-datepicker) {
        border-color: #e5e5e5;
        @each $theme, $color in $COLOR_CARD {
            :global(body.#{$theme}) & {
                background: $color !important;
            }
        }
        @include SUB_SHADOW;

        :global(body.dark) & {
            border-color: #777;
        }
    }

    :global(.react-datepicker__header) {
        border-color: #e5e5e5;
        @include CARD_BACKGROUND;

        :global(body.dark) & {
            border-color: #777;
        }
    }

    :global(.react-datepicker__time-container) {
        :global(body.dark) & {
            border-color: #777;
        }
    }

    :global(.react-datepicker__current-month),
    :global(.react-datepicker-time__header),
    :global(.react-datepicker__day-name),
    :global(.react-datepicker__day) {
        :global(body.dark) & {
            color: #eee;
        }
    }

    :global(.react-datepicker__day--outside-month),
    :global(.react-datepicker__day--disabled) {
        :global(body.dark) & {
            color: #999;
        }
    }

    :global(.react-datepicker__time-box) {
        @include CARD_BACKGROUND;

        :global(body.dark) & {
            color: #eee;
        }
    }

    :global(.react-datepicker__triangle::before) {
        border-bottom-color: #e5e5e5 !important;

        :global(body.dark) & {
            border-bottom-color: #777 !important;
        }
    }

    :global(.react-datepicker__triangle::after) {
        @each $theme, $color in $COLOR_CARD {
            :global(body.#{$theme}) & {
                border-bottom-color: $color;
            }
        }
    }

    :global(.react-datepicker__time-container) {
        border-color: #e5e5e5;
    }

    :global(.react-datepicker__day--selected),
    :global(.react-datepicker__day--keyboard-selected),
    :global(.react-datepicker__time-list-item--selected) {
        background-color: $COLOR_DEFAULT_SECONDARY !important;
    }

    :global(.react-datepicker__day:hover),
    :global(.react-datepicker__time-list-item:hover) {
        background-color: rgba(125, 125, 125, 0.1) !important;

        :global(body.dark) & {
            background-color: rgba(125, 125, 125, 0.5) !important;
        }
    }
}