@import 'mixin';;

.card {
    word-break: break-word;
    padding: 30px 15px 10px;
}

.action {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;

    li {
        @include SUB_SHADOW;
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 16px;

        :global(.fa-heart) {
            color: #eb457c;
        }
    }
}

.thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.content {
    font-family: $FONT_GOTHIC;
    line-height: 1.65;

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.2em;
        font-family: $FONT_SERIF;
        font-weight: 600;    
    }

    ul {
        margin: 8px 0;
    }
    
    a {
        color: #a7a7a7;
        
        &:hover {
            text-decoration: none;        
        }
    }

    blockquote {
        border-left: 4px solid #9c56d4;
        background: #f8f8f8;
        padding: 10px;

        :global(body.dark) & {
            border-left: 4px solid $COLOR_DARK_SECONDARY;
            background: $COLOR_DARK_BACKGROUND;
        }

        p {
            margin-bottom: 0;
        }
    }

    img, video {
        max-width: 100%;
    }

    code {
        font-family: $FONT_GOTHIC;
        font-weight: 300;
        color: #000;
        background-color: #eee;
        border-radius: 3px;
        padding: 2px;

        :global(body.dark) & {
            color: #fff;
            background-color: #000;
        }
    }

    pre {
        background: #2d2d2d;
        overflow-x: auto;
        font-family: monospace;
        padding: 1em;
        font-size: 1em;
        line-height: 1.5;

        :global(body.dark) & {
            background: #000;
        }

        code {
            color: #fff !important;
            background-color: rgba(0, 0, 0, 0);
        }

        a {
            text-decoration: none;
            color: #888;
        }
    }
}

.form {
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.1);
    border: 0;
    border-radius: 0;    

    :focus {
        box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.1);
    }
}
