@import 'mixin';

.box {
    padding: 16px;
    border-radius: 16px;

    a {
        @include COLOR_DARK;
        text-decoration: none;
    }

    .title {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    .date {
        @include COLOR_ASHGRAY;
        font-size: 12px;
        margin-bottom: 16px;
    }

    .description {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 16px;
        word-break: keep-all;
        overflow-wrap: anywhere;
    }

    .thumbnail {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
        margin-bottom: 16px;
    }

    margin-bottom: 24px;
}
