<div class="row post-top-meta">
    <a href="{% url 'user_profile' username=post.author.username%}">
        <div class="back-image thumb author-thumb" style="background-image:url({{ post.author.profile.thumbnail }})"></div>
    </a>
    <div class="author-info">
        <h4><a class=" text-decoration-none" href="{% url 'user_profile' username=post.author.username%}">{{ post.author.username }}</a></h4>
        {% if post.author.profile.bio %}
        <p class="author-description">{{ post.author.profile.bio }}</p>
        {% endif%}
        <ul class="social-link mt-2 mb-0">
            <li><a href="{% url 'user_rss_feed' username=post.author.username %}"><i class="fas fa-rss-square"></i></a></li>
            {% if post.author.profile.github %}<li><a href="https://github.com/{{ post.author.profile.github }}"><i class="fab fa-github-square"></i></a></li>{% endif %}
            {% if post.author.profile.twitter %}<li><a href="https://twitter.com/{{ post.author.profile.twitter }}"><i class="fab fa-twitter-square"></i></a></li>{% endif %}
            {% if post.author.profile.youtube %}<li><a href="https://youtube.com/channel/{{ post.author.profile.youtube }}"><i class="fab fa-youtube-square"></i></a></li>{% endif %}
            {% if post.author.profile.facebook %}<li><a href="https://facebook.com/{{ post.author.profile.facebook }}"><i class="fab fa-facebook-square"></i></a></li>{% endif %}
            {% if post.author.profile.instagram %}<li><a href="https://instagram.com/{{ post.author.profile.facebook }}"><i class="fab fa-instagram"></i></a></li>{% endif %}
        </ul>
        {% if request.user.is_active %}
        <a class="author-email d-block text-decoration-none" href="mailto:{{ post.author.email }}">{{ post.author.email }}</a>
        {% else %}
        <a class="author-email d-block text-decoration-none" href="{% url 'login' %}">Sign in to view email</a>
        {% endif %}
    </div>
</div>