<div class="row post-top-meta">
    <a href="{% url 'user_profile' username=post.author.username%}">
        {% if post.author.profile.avatar %}
        <div class="back-image thumb author-thumb" style="background-image:url({{ post.author.profile.avatar.url }})"></div>
        {% else %}
        <div class="back-image thumb author-thumb" style="background-image:url({{static_url}}/assets/images/default-avatar.jpg)"></div>
        {% endif %}
    </a>
    <div class="author-info">
        <h4><a href="{% url 'user_profile' username=post.author.username%}">{{ post.author.username }}</a>{% if battery %}<span class="ns ml-2"><i class="fas fa-battery-{{ battery }}"></i> {% if post.author.profile.exp %}{{ post.author.profile.exp }}{% else %}0{% endif %}%{% endif %}</span></h4>
            {% if post.author.profile.bio %}
            <p class="author-description">{{ post.author.profile.bio }}</p>
            {% endif%}
            <ul class="author-state">
                <li>
                    <img src="https://img.shields.io/badge/-{{ grade }}">
                </li>
                <li onclick="User.follow('{{ post.author }}')">
                    <img class="follow-badge" src="https://img.shields.io/badge/subscriber-{% if post.author.profile.subscriber %}{{ post.author.profile.total_subscriber }}{% else %}0{% endif %}-red?style=social">
                </li>
            </ul>
            {% if request.user.is_active %}
            <a class="author-email d-block" href="mailto:{{ post.author.email }}">{{ post.author.email }}</a>
            {% else %}
            <a class="author-email d-block" href="{% url 'login' %}">Sign in to view email</a>
            {% endif %}
        </p>
    </div>
</div>