<div class="jumbotron text-center">
    <h5 class="serif bg-dark p-4"><a href="{{ this_series.get_absolute_url }}" class="text-decoration-none text-white">'{{ this_series }}' 시리즈</a></h5>
    <div class="row justify-content-between">
        <div class="col-md-6">
        {% if prev_serise %}
            <div class="col-md-12 bg-light rounded p-3 mt-3">
                <a class="text-decoration-none deep-dark" href="{{ prev_serise.get_absolute_url }}?series={{ this_series.url }}">
                    <i class="fas fa-arrow-circle-left vivid-purple"></i><br>{{ prev_serise }}
                </a>
            </div>
        {% endif %}
        </div>
        <div class="col-md-6">
        {% if next_serise %}
            <div class="col-md-12 bg-light rounded p-3 mt-3">
                <a class="text-decoration-none deep-dark" href="{{ next_serise.get_absolute_url }}?series={{ this_series.url }}">
                    <i class="fas fa-arrow-circle-right vivid-purple"></i><br>{{ next_serise }}
                </a>
            </div>
        {% endif %}
        </div>
    </div>
</div>