@import 'var';

.group {
    font-size: 12px;
    text-align: center;
    padding: 4px 0;

    span {
        position: relative;
        @include COLOR_ASHGRAY;
        padding: 0 8px;
        @include BACKGROUND;
    }
}

.line {
    display: block;
    content: '';
    background: #ddd;
    height: 1px;
    width: 100%;
    transform: translateY(10px);

    :global(body.dark) & {
        background: #666;
    }
}
